@page "/ChangePassword"
@using ExaminerB.Service
@using System.ComponentModel.DataAnnotations
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@implements IDisposable
@inject ISnackbar Snackbar

<br />
<div class="d-flex flex-column align-items-center justify-content-center text-center">
    <div style="">
        <img src="/img/icoKey1.png" width="60" style="margin-left:10px;margin-right:10px" />
    </div>
    <br />
    <br />
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h6 style="color:royalblue">Change Password for <span style="color:indianred"> @appState.UserNickname</span> <span style="font-size:small; color:gray; font-style:italic">  @appState.UserRole</span></h6>
                <br />
                <EditForm Model="pass" OnValidSubmit="BtnChangePassword" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <ValidationSummary></ValidationSummary>
                    <div class="mb-3">
                        <MudTextField @ref="refNickname" @bind-Value="pass.Nickname" Label="Nickname" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                    </div>
                    <div class="mb-3">
                        <MudTextField @ref="refCurrent" @bind-Value="pass.CurrentPass" Label="Current Pass" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password"  />
                    </div>
                    <div class="mb-3">
                        <MudTextField @ref="refNew" @bind-Value="pass.NewPass" Label="New Pass" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
                    </div>
                    <div class="mb-3">
                        <MudTextField @ref="refRepeat" @bind-Value="pass.RepeatPass" Label="Repeat Pass" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
                    </div>
                    <div style="color:indianred; text-align:left">
                        <ValidationSummary />
                    </div>
                    <button class="btn btn-link">
                        <img src="/img/icoSave1.png" width="28" />
                    </button>
                    <br />
                    <br />
                </EditForm>
            </div>
    </div>
</div>

@code {
    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    private bool _firstRender = true;
    User user = new User();
    private class Pass
        {
        [Required (ErrorMessage = "enter your name")] 
        public string Nickname { get; set; } = "";
        [Required (ErrorMessage = "enter current password")] 
        public string CurrentPass { get; set; } = "";
        [Required (ErrorMessage = "enter a new password")] 
        public string NewPass { get; set; } = "";
        [Required (ErrorMessage = "repeat the new password")] 
        public string RepeatPass { get; set; } = "";
        }
    private Pass pass = new Pass ();
    int loginStatus = 0;
    private MudTextField<string>? refNickname;
    private MudTextField<string>? refCurrent;
    private MudTextField<string>? refNew;
    private MudTextField<string>? refRepeat;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        pass.CurrentPass = "";
        pass.NewPass = "";
        pass.RepeatPass = "";
        user.UserId= Convert.ToInt32(appState.UserId);
        pass.Nickname = appState.UserNickname ?? "";
        loginStatus = Convert.ToInt32(appState.UserLoginStatus);
        }
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if ((loginStatus == 0))
            {
            Navman.NavigateTo("/Login");
            }
        if (_firstRender)
            {
            _firstRender = false;
            await refNickname.FocusAsync ();
            }
        }
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public async Task BtnChangePassword()
        {
        //user: a student or a teacher -- will be distinguished in SrvUpdate_UserPassword by user.UserRole
        int userId = Convert.ToInt32(appState.UserId);
        if ((pass.NewPass == pass.RepeatPass) && (pass.NewPass.Length > 3) && (pass.CurrentPass == appState.UserPass))
            {
            user.UserId = userId;
            user.UserName = appState.UserName ?? "default name";
            user.UserPass = pass.NewPass;
            user.UserNickname = pass.Nickname;
            user.UserRole = appState.UserRole ?? "";
            user.UserTags = Convert.ToInt32(appState.UserTags);
            bool result = await feService.Update_User (user);
            if (result)
                {
                Navman.NavigateTo ("/Login");
                Snackbar.Add("Password changed", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar                    
                }
            else
                {
                Snackbar.Add("failed", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar                    
                }
            }
        else
            {
            Snackbar.Add("password incorrect or repeat not match", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar                    
            }
    }
    void ButtonTestclick()
    {
    @if (isShow)
        {
        isShow = false;
        PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
        PasswordInput = InputType.Password;
        }
    else 
        {
        isShow = true;
        PasswordInputIcon = Icons.Material.Filled.Visibility;
        PasswordInput = InputType.Text;
        }
    }
}
