@page "/E_Projects"
@using ClosedXML.Excel
@using Microsoft.Extensions.Hosting
@using ClosedXML
@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@using System.Globalization
@using System.Reflection
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@if (!_hasFetched)
    {
    <_LoadingTimer />
    }
else if (appState.Cmd == "CreateNote")
    {
    <Modal_CreateNote OnClose="HandleModalClose" />
    }
else if(appState.Cmd == "ShowNoteInDialog")
    {
    <Modal_ShowNote OnClose="HandleModalClose" />
    }
else if(appState.Cmd == "UpdateNote")
    {
    <Modal_CreateNote OnClose="HandleModalClose" />
    }
else
    {
    @* <_eLibWecome /> *@
    <EditForm Model="lstProjects">
        @* SEARCH BOX*@ 
        <div class="mb-3" style="max-width:500px; margin:0 auto">
            @* <span style="font-size:larger; font-weight:bold;color:royalblue;">Search</span> *@
            <div class="d-flex align-items-center mb-3">
                <MudTextField @ref="refSearchNote" @bind-Value="strSearchKey" Label="Search... جستجو" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" Style="font-family:'Segoe UI';width:90%" />
                <button class="btn btn-link" @onclick="BtnReadNotesBySearch">
                    <img src="/img/icoSearch.png" width="26" title="Search notes"/>
                </button>
                @if(lstNotes.Count > 0)
                    {
                    <button class="btn btn-link" @onclick="BtnCancelSearch">
                        <img src="/img/icoCancel.png" width="22" title="cancel search"/>
                    </button>                            
                    }
                <button class="btn btn-link" @onclick="BtnToggleShowProjectsMode">
                    <img src="/img/icoListP.png" width="34" title="toggle: active / non-active / all-notes"/>
                </button>
            </div>
        </div>
        <hr style="color:indianred" />
        @if(lstNotes.Count > 0)
            {
            @* SEARCH RESULTS *@ 
            <h5 style="text-align:center">TOP 20 results:</h5>
            foreach (Note note in lstNotes)
                {
                <div>
                    @if ((note.NoteTags & 1) == 1)
                        {
                        <div class="mt-3 text-end">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0" style="max-width:500px; margin: 0 auto;">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:whitesmoke;">
                                        <span style="color:indianred; font-weight:bold;">
                                            @note.NoteDatum
                                        </span>
                                        <hr />
                                        @if(note.NoteText.Length >60)
                                            {
                                            <div style="white-space: pre-wrap; font-family:Courier New, Courier, monospace;font-size:small">                                                            
                                                @note.NoteText.Substring(0,100) <span style="font-size:xx-small;font-weight:bold;color:indianred">[...]</span>
                                            </div>
                                            }
                                        else
                                            {
                                            <div style="white-space: pre-wrap; font-family:Courier New, Courier, monospace;font-size:small">                                                            
                                                @note.NoteText
                                            </div>
                                            }
                                        <button class="btn btn-link" @onclick="()=>BtnDeleteNote(note)">
                                            <img src="/img/icoDelete1.png" width="24" title="delete note"/>
                                        </button>
                                        <button class="btn btn-link" @onclick="()=>BtnEditNoteInDialog(note)">
                                            <img src="/img/icoRename.png" width="34" />
                                        </button>
                                        @if(note.NoteText.Length > 60)
                                            {
                                            <button class="btn btn-link" @onclick="()=>BtnShowNoteInDialog(note)">
                                                <img src="/img/icoNote2.png" width="24" title="show note"/>
                                            </button>                                            
                                            }
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                        }
                    else
                        {
                        <div class="mt-3 text-start">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0" style="max-width:500px; margin: 0 auto;">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:whitesmoke;">
                                        <span style="color:indianred; font-weight:bold;">
                                            @note.NoteDatum
                                        </span>
                                        <hr />
                                        @if(note.NoteText.Length >60)
                                            {
                                            <div style="white-space: pre-wrap; font-family:Courier New, Courier, monospace;font-size:small">                                                            
                                                @note.NoteText.Substring(0,60) <span style="font-size:xx-small;font-weight:bold;color:indianred">[...]</span>
                                            </div>
                                            }
                                        else
                                            {
                                            <div style="white-space: pre-wrap; font-family:Courier New, Courier, monospace;font-size:small">                                                            
                                                @note.NoteText
                                            </div>
                                            }
                                        <button class="btn btn-link" @onclick="()=>BtnShowNoteInDialog(note)">
                                            <img src="/img/icoDelete1.png" width="24" title="delete note"/>
                                        </button>
                                        <button class="btn btn-link" @onclick="()=>BtnEditNoteInDialog(note)">
                                            <img src="/img/icoRename.png" width="34" title="edit note"/>
                                        </button>
                                        @if(note.NoteText.Length > 60)
                                            {
                                            <button class="btn btn-link" @onclick="()=>BtnShowNoteInDialog(note)">
                                                <img src="/img/icoNote2.png" width="24" title="show note"/>
                                            </button>                                            
                                            }
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                        }
                </div>
            }
            }
        else
            {
            <h5 style="text-align:center;color:royalBlue">
                @(_ShowProjectsMode switch
                    {
                    "all"      => "All Projects",
                    "active"   => "Active Projects",
                    "inactive" => "Inactive Projects",
                    _          => ""
                    })
            </h5>            
            @* PROJECTS/SUBPROJECTS *@
            <div class="accordion" id="accordionProjects" style="max-width:500px; margin: 0 auto;">
                @foreach (Project project in lstProjects)
                    {
                    var collapseId = $"collapse{project.ProjectId}";
                    _clpsP = ((appState.ProjectId) != project.ProjectId) ? "collapse" : "collapse show";
                    <div class="accordion-item">
                        <h4 class="accordion-header" style="background-color:rgba(252,252,252)">
                            <button class="accordion-button collapsed" 
                                    style="background-color:rgba(245,245,245)"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#@collapseId"
                                    aria-expanded="true"
                                    aria-controls="@collapseId">
                                <h5>@project.ProjectName</h5>
                            </button>
                        </h4>
                        <div id="@collapseId" class="accordion-collapse @_clpsP" data-bs-parent="#accordionProjects">
                            <div class="accordion-body" style="background-color:rgba(250,250,250)">
                                <div id="T1">
                                    @if ((appState.Cmd == "EditProject") && (appState.ProjectId == project.ProjectId))
                                        {
                                        string btnProjectId = "btnProjectName";
                                        <div class="d-flex mb-3">
                                            <MudTextField @ref="refProjectName" @bind-Value="project.ProjectName" Label="NoteBook... نام دفترچه " Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                            <button class="btn btn-link" name="@btnProjectId" @onclick="()=>BtnUpdateProject(project)">
                                                <img src="/img/icoSave2.png" width="25" title="save notebook"/>
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnDeleteProject(project.ProjectId)" @key="project.ProjectId">
                                                <img src="/img/icoDelete1.png" width="25" title="delete notebook" />
                                            </button>
                                            <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                <img src="/img/icoCancel.png" width="24" title="cancel"/>
                                            </button>
                                        </div>
                                        }
                                    else
                                        {
                                        <div style="text-align: center;">
                                            <button class="btn btn-link" type="button" @onclick="()=>BtnEditProject(project.ProjectId)">
                                                <img src="/img/icoRename.png" width="34" title="edit notebook"/>
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnAddNewSubproject(project.ProjectId)">
                                                 <img src="/img/icoAdd1.png" width="24" title="add new section"/>
                                            </button>
                                            <hr style="color:red" />
                                        </div>
                                        @if ((appState.Cmd == "AddNewSubproject") && (appState.ProjectId == project.ProjectId))
                                            {
                                            <div>
                                                <div class="d-flex mb-3">
                                                    <MudTextField @ref="refNewSubproject" @bind-Value="txtNewSubprojectTitle" Label="new section سرفصل " Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                                    <button class="btn btn-link" @onclick="()=>BtnSaveNewSubproject(project.ProjectId)">
                                                        <img src="/img/icoSave2.png" width="24" title="save new section"/>
                                                    </button>
                                                    <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                        <img src="/img/icoCancel.png" width="24" title="cancel"/>
                                                    </button>
                                                </div>
                                            </div>
                                            }
                                        else
                                            {
                                            <div class="accordion" id="accordionSubprojects-@project.ProjectId">
                                            @foreach (Subproject subProject in project.Subprojects)
                                                {
                                                var collapseId2 = $"collapse{subProject.SubprojectId}";
                                                    _clpsSP = ((appState.NoteParentId) != subProject.SubprojectId) ? "collapse" : "collapse show";
                                                    <div class="accordion-item mb-2">
                                                    <h4 class="accordion-header">
                                                        <button class="accordion-button collapsed"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#@collapseId2"
                                                                aria-expanded="true"
                                                                aria-controls="@collapseId2">
                                                            <h6>
                                                                @subProject.SubprojectName
                                                            </h6>
                                                        </button>
                                                    </h4>
                                                    <div id="@collapseId2" class="accordion-collapse @_clpsSP" data-bs-parent="#accordionSubprojects-@project.ProjectId">
                                                        <div class="accordion-body" style="background-color:rgba(252,252,252)">
                                                            <div class="d-flex mb-1">
                                                                <MudTextField @ref="refSubprojectName" @bind-Value="subProject.SubprojectName" Label="Section سرفصل" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                                                <button class="btn btn-link" @onclick="()=>BtnUpdateSubproject(subProject)">
                                                                    <img src="/img/icoSave2.png" width="22" title="update section name"/>
                                                                </button>
                                                                <button class="btn btn-link" @onclick="()=>BtnDeleteSubproject(subProject.SubprojectId)">
                                                                    <img src="/img/icoDelete1.png" width="22" title="delete section" />
                                                                </button>
                                                            </div>
                                                            <div>
                                                                <button class="btn btn-link" @onclick="()=>BtnReadSubprojectNote(subProject)">
                                                                    <img src="/img/icoListN.png" width="36" title="show notes"/>
                                                                </button>
                                                                <button class="btn btn-link" @onclick="()=>BtnCreateNewSubprojectNote(subProject)">
                                                                    <img src="/img/icoAdd0.png" width="22" title="new note"/>
                                                                </button>
                                                            </div>
                                                            <div style="text-align: center;">
                                                                @if((appState.Cmd == "EditSubprojectNote") & (subProject.SubprojectId ==appState.SubprojectId))
                                                                    {
                                                                    @* Create a new note here /////// ABANDONED*@
                                                                    <hr style="color:indianred"/>
                                                                    <h5>New Note</h5>
                                                                    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                                                        <MudCard Class="mx-0">
                                                                            <MudCardContent Style="background-color:whitesmoke;">
                                                                                @* <MudDatePicker Label="Calendar تقويم" @bind-Date="_date" Culture="@GetPersianCulture()" DateFormat="yyyy-MM-dd" Variant="Variant.Outlined" Dense="true" /> *@
                                                                                <MudDatePicker Label="Calendar تقويم" @bind-Date="_date" DateFormat="yyyy-MM-dd" Variant="Variant.Outlined" Dense="true" />
                                                                                <MudTimePicker Label="Time ساعت" @bind-Time="_time" TimeFormat="HH:mm" Variant="Variant.Outlined" Dense="true"/>
                                                                                <MudTextField T="string" Label="New Note" @bind-Value="note.NoteText" Variant="Variant.Filled" Lines="10" AutoResize="true" Style="width:100%;" />
                                                                                <div>
                                                                                    <br />
                                                                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="()=>BtnUpdateSubprojectNote(subProject.SubprojectId)">Update</MudButton>
                                                                                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="BtnCancel">Cancel</MudButton>
                                                                                </div>
                                                                            </MudCardContent>
                                                                        </MudCard>
                                                                    </MudContainer>
                                                                    }
                                                                else
                                                                    {
                                                                    if(subProject.SubprojectId == Convert.ToInt32(appState.NoteParentId))
                                                                        {
                                                                        @foreach (Note notex in lstSPNotes)
                                                                            {
                                                                            if ((notex.NoteTags & 1) == 1)
                                                                                {
                                                                                <div class="mt-3 text-end">
                                                                                    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                                                                        <MudCard Class="mx-0">
                                                                                            <MudCardContent Style="background-color:whitesmoke;">
                                                                                                <div class="d-flex align-items-center" style="text-align:center; color:indianred; font-weight:bold;">
                                                                                                    @notex.NoteDatum
                                                                                                </div>
                                                                                                <hr />
                                                                                                <div style="white-space: pre-wrap; font-weight:normal; font-family:'Segoe UI';font-size:small">
                                                                                                    @if(notex.NoteText.Length > 60)
                                                                                                        {
                                                                                                        <div> @notex.NoteText.Substring(0,60) <span style="font-size:xx-small;font-weight:bold;color:indianred">[...]</span></div>
                                                                                                        }
                                                                                                    else
                                                                                                        {
                                                                                                        <div style="font-weight:normal;font-family:'Segoe UI'"> @notex.NoteText</div>
                                                                                                        }
                                                                                                </div>
                                                                                                <hr />
                                                                                                <div class="d-flex align-items-center">
                                                                                                    <button class="btn btn-link" @onclick="()=>BtnDeleteNote(notex)">
                                                                                                        <img src="/img/icoDelete1.png" width="24" title="delete note"/>
                                                                                                    </button>
                                                                                                    <button class="btn btn-link" @onclick="()=>BtnEditNoteInDialog(notex)">
                                                                                                        <img src="/img/icoRename.png" width="32" title="edit note"/>
                                                                                                    </button>
                                                                                                    @if(notex.NoteText.Length > 60)
                                                                                                        {
                                                                                                        <button class="btn btn-link" @onclick="()=>BtnShowNoteInDialog(notex)">
                                                                                                            <img src="/img/icoNote2.png" width="24" title="show note expanded"/>
                                                                                                        </button>
                                                                                                        }
                                                                                                </div>
                                                                                            </MudCardContent>
                                                                                        </MudCard>
                                                                                    </MudContainer>
                                                                                </div>
                                                                                }
                                                                            else
                                                                                {
                                                                                <div class="mt-3 text-start">
                                                                                    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                                                                        <MudCard Class="mx-0">
                                                                                            <MudCardContent Style="background-color:whitesmoke;">
                                                                                                <span style="color:indianred; font-weight:bold;">
                                                                                                    @notex.NoteDatum
                                                                                                </span>
                                                                                                <hr />
                                                                                                <span class="d-flex align-items-center mt-1" style="white-space: pre-wrap; font-family:Courier New, Courier, monospace;font-size:small">
                                                                                                    @if(notex.NoteText.Length > 60)
                                                                                                        {
                                                                                                        <div class="mt-1" style="font-weight:bold;"> @notex.NoteText.Substring(0,60) <span style="font-size:xx-small;font-weight:bold;color:indianred">[...]</span></div>
                                                                                                        }
                                                                                                    else
                                                                                                        {
                                                                                                        <div class="mt-1" style="font-weight:bold;"> @notex.NoteText</div>
                                                                                                        }
                                                                                                </span>
                                                                                                <hr />
                                                                                                <button class="btn btn-link" @onclick="()=>BtnDeleteNote(notex)">
                                                                                                    <img src="/img/icoDelete1.png" width="24" title="delete note"/>
                                                                                                </button>
                                                                                                <button class="btn btn-link" @onclick="()=>BtnEditNoteInDialog(notex)">
                                                                                                    <img src="/img/icoRename.png" width="30" title="edit note"/>
                                                                                                </button>
                                                                                                @if(notex.NoteText.Length > 60)
                                                                                                    {
                                                                                                    <button class="btn btn-link" @onclick="()=>BtnShowNoteInDialog(notex)">
                                                                                                        <img src="/img/icoNote2.png" width="24" title="show note expanded"/>
                                                                                                    </button>
                                                                                                    }
                                                                                            </MudCardContent>
                                                                                        </MudCard>
                                                                                    </MudContainer>
                                                                                </div>
                                                                                }
                                                                            }
                                                                        @if (lstSPNotes.Count > 0)
                                                                            {
                                                                            <div style="text-align:center">
                                                                                <button class="btn btn-link" @onclick="()=>BtnCreateNewSubprojectNote(subProject)">
                                                                                    <img src="/img/icoAdd0.png" width="22" title="add new note"/>
                                                                                </button>
                                                                            </div>                                                                            
                                                                            }
                                                                        }
                                                                    }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                }
                                            </div>
                                            }
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    }
                @if (appState.Cmd == "AddNewProject")
                    {
                    <hr style="color:red"/>
                    <h6>New Project</h6>
                    <div class="mb-3">
                        <MudTextField @ref="refNewProject" @bind-Value="project.ProjectName" Label="notebook name... نام دفترچه" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                    </div>
                    <button class="btn btn-link" name="btnNewCourse" @onclick="BtnSaveNewProject">
                        <img src="/img/icoSave2.png" width="22" title="save notebook"/>
                    </button>
                    <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                        <img src="/img/icoCancel.png" width="24" title="cancel" />
                    </button>
                    }
                else
                    {
                        <div style="max-width:500px; margin: 0 auto;">
                            <button class="btn btn-link" @onclick="BtnAddNewProject">
                                <img src="/img/icoAdd0.png" width="24" title="add new notebook"/>
                            </button>
                        </div>
                    }
                <hr style="color:red" />
            </div>
            }
        <br/>
    </EditForm>
    <div style="text-align:center; max-width:500px; margin: 0 auto;">
        <button class="btn btn-link" @onclick= "()=> BtnBack()">
            <img src="/img/icoBack3.png" style="width:40px" title="back"/>
        </button>
    </div>
    }
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    private MudTextField<string> refNewProject;
    private MudTextField<string> refProjectName;
    private MudTextField<string> refNewSubproject;
    private MudTextField<string> refSubprojectName;
    private MudTextField<string> refSubprojectNote;
    private MudTextField<string> refNoteText;
    private MudTextField<string> refSearchNote;
    private readonly HttpClient _http;
    User user = new User ();
    List<Project> lstProjects = new ();
    Project project = new Project();
    Note note = new Note();
    List<Note> lstNotes = new List<Note> ();
    List<Note> lstSPNotes = new List<Note> ();
    public string strSearchKey = "";
    public string dirx = "";
    public bool _hasFetched = false;
    private bool shouldFocusNewProject = false;
    bool _IsMessageTypeFeedback = true;
    bool _tag01 = true;
    bool _tag02 = false;
    bool _tag04 = false;
    bool _tag08 = false;
    bool _tag16 = false;
    bool _tag32 = false;
    string txtNewSubprojectTitle = "";
    int i = 0;
    string _cmd = "";
    string _ShowProjectsMode = "active";
    private DateTime? _date = DateTime.Now;
    private TimeSpan? _time = DateTime.Now.TimeOfDay;
    public string _clpsP = "";  //collapse Accardion Projects
    public string _clpsSP = ""; //collapse Accardion Subprojects

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        var user = new User
            {
            UserId = Convert.ToInt32(appState.UserId),
            UserName = appState.UserName,
            UserPass = appState.UserPass,
            UserRole = appState.UserRole,
            TeacherId = 0
            };
        if (user.UserId > 0)
            {
            //on second rener, user.UserId will get its value
            await GetListOfProjects (user.UserId, _ShowProjectsMode); 
            //lstSPNotes = await feService.Read_Notes (Convert.ToInt32(appState.SubprojectId), 2);
            _hasFetched = true;
            }
        } 
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (shouldFocusNewProject)
            {
            shouldFocusNewProject = false;
            await refNewProject.FocusAsync();
            }
        }    
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //Projects
    public void BtnAddNewProject()
        {
        if(appState.Cmd != "AddNewProject")
            {
            appState.SetCmd ("AddNewProject");
            shouldFocusNewProject = true; //flag to tell OnAfterRenderAsync focus on 'txtNewGroup'
            }
        else
            {
            appState.SetCmd ("");
            shouldFocusNewProject = false;
            }
        }
    public async Task BtnSaveNewProject()
        {
        //project.ProjectName is bind
        project.ProjectId = Convert.ToInt32(appState.UserId);
        int result = await feService.Create_Project (project);
        if (result !=0)
            {
            Console.WriteLine("Project added: " + project.ProjectName);
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = 0
            };
            user.UserId = Convert.ToInt32 (appState.UserId);
            await GetListOfProjects (user.UserId, _ShowProjectsMode); 
            project.ProjectName = ""; //reset input text
            StateHasChanged ();
            }
        }
    public async Task BtnEditProject(int projectId)
        {
        appState.SetCmd ("EditProject");
        appState.SetProjectId(projectId);
        StateHasChanged ();
        await Task.Delay (1);
        await refProjectName.FocusAsync ();
        }
    public async Task BtnUpdateProject(Project project)
        {
        //ProjectName is bind
        project.UserId = Convert.ToInt32(appState.UserId);
        project.ProjectTags = 1;
        bool result = await feService.Update_Project (project);
        if (result)
            {
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = 0
            };
            user.UserId = Convert.ToInt32 (appState.UserId);
            await GetListOfProjects (user.UserId, _ShowProjectsMode); 
            project.ProjectName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    private async Task BtnDeleteProject(int projectId)
        {
        if (await JS.InvokeAsync<bool>("confirm", "\n\nDelete this project?"))
            {
            bool result = await feService.Delete_Project (projectId);
            if (result)
                {
                //0: no subProjects in the project and the project must be deleted! OK
                appState.SetCmd("");
                // Refresh the list
                var user = new User
                {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    TeacherId = 0
                };
                user.UserId = Convert.ToInt32 (appState.UserId);
                await GetListOfProjects (user.UserId, _ShowProjectsMode); 
                //project.ProjectName = ""; //reset input text
                StateHasChanged ();            
                }
            else
                {
                Snackbar.Add($"There are subProjects in this Project!!!", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            }
        }
    public void BtnUpdateSubprojectTagsInPlace (User stdnt, int flag , bool isChecked)
        {
        if (isChecked)
            {
            stdnt.UserTags |= flag;
            }
        else
            {
            stdnt.UserTags &= ~flag;
            }
        }
    public async Task BtnToggleShowProjectsMode()
        {
        switch (_ShowProjectsMode)
            {
            case "all":
                    {
                    _ShowProjectsMode = "active";
                    break;
                    }
            case "active":
                    {
                    _ShowProjectsMode = "inactive";
                    break;
                    }
            case "inactive":
                    {
                    _ShowProjectsMode = "all";
                    break;
                    }
            }
        user.UserId = Convert.ToInt32 (appState.UserId);
        await GetListOfProjects (user.UserId, _ShowProjectsMode); 
        StateHasChanged ();
        }
    public async Task GetListOfProjects(int userId, string mode)
        {
        _hasFetched = false;
        lstProjects.Clear();
        lstProjects = await feService.Read_Projects (userId, mode);
        _hasFetched = true;
        }
    //Subprojects
    public async Task BtnAddNewSubproject(int projectId)
        {
        if(appState.Cmd != "AddNewSubproject")
            {
            appState.SetCmd ("AddNewSubproject");
            appState.SetProjectId (projectId);
            await Task.Delay (1);
            await refNewSubproject.FocusAsync ();
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public async Task BtnSaveNewSubproject(int projectId)
        {
        Subproject subProject = new Subproject () { SubprojectName = txtNewSubprojectTitle, ProjectId=projectId };
        int result = await feService.Create_Subproject (subProject);
        if (result > 0)
            {
            Snackbar.Add($"New subProject : {subProject.SubprojectName} created!", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = 0
            };
            await GetListOfProjects (user.UserId, _ShowProjectsMode); 
            appState.SetCmd ("");
            StateHasChanged ();
            }
        else
            {
            Snackbar.Add($"Failed to create new subProject!", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public async Task BtnUpdateSubproject(Subproject subProject)
        {
        appState.SetGroupId (subProject.ProjectId);
        bool result = await feService.Update_Subproject (subProject);
        if (result)
            {
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = 0
            };
            user.UserId = Convert.ToInt32 (appState.UserId);
            await GetListOfProjects (user.UserId, _ShowProjectsMode); 
            project.ProjectName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    private async Task BtnDeleteSubproject(int subProjectId)
        {
        if (await JS.InvokeAsync<bool>("confirm", "\n\nDelete Sudent?"))
            {
            bool result = await feService.Delete_Subproject (subProjectId);
            if (result)
                {
                appState.SetCmd("");
                // Refresh the list
                var user = new User
                    {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    TeacherId = 0
                    };
                await GetListOfProjects (user.UserId, _ShowProjectsMode); 
                project.ProjectName = ""; //reset input text
                StateHasChanged ();            
                }
            }
        else
            {
            Snackbar.Add($"Failed to remove Student", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public void BtnReportSubproject(Subproject subProject)
        {
        //Navman.NavigateTo ($"/T_ReportStudents/{mode}/{stdnt.UserId}");
        }
    //subproject notes
    public async Task BtnCreateNewSubprojectNote(Subproject subProject)
        {
        //parentTypes 1:user(U) 2:subprojects(SP) 3:students(S) 4:groups(G) 5:courses(C) 6:exams(E)
        appState.SetNoteParentType (2);
        appState.SetNoteParentId (subProject.SubprojectId);
        appState.SetProjectId (subProject.ProjectId);
        Console.WriteLine($"project ID = {subProject.ProjectId}");
        appState.SetCmd ("CreateNote");
        StateHasChanged ();
        }
    public async Task BtnReadSubprojectNote(Subproject subProject)
        {
        appState.SetProjectId (subProject.ProjectId);
        //parentTypes 1:user(U) 2:subprojects(SP) 3:students(S) 4:groups(G) 5:courses(C) 6:exams(E)
        appState.SetNoteParentType (2);
        appState.SetNoteParentId (subProject.SubprojectId);
        lstSPNotes = await feService.Read_Notes (subProject.SubprojectId, 2);
        StateHasChanged ();
        }
    public async Task BtnEditNoteInDialog(Note note)
        {
        appState.SetCmd ("UpdateNote"); //to edit note in dialog
        appState.SetSelectedNoteId (note.NoteId);
        appState.SetNoteParentId (note.ParentId);
        appState.SetNoteParentType (note.ParentType);
        appState.SetNoteDatum (note.NoteDatum);
        appState.SetNoteText (note.NoteText);
        appState.SetNoteIsRtl (note.IsRtl);
        StateHasChanged ();
        //After the Modal_CreateNote is closed, HandleModalClose will refresh the list
        //to handel close event, I added in the Modal_CreateNote: [Parameter] public EventCallback OnClose 
        }
    public async Task BtnUpdateSubprojectNote(int subProjectId)
        {
            ///////////ABANDONED : now there is a modal to update note.
        if (note.NoteText.Trim() == "")
            {
            Snackbar.Add("Note is empty!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            return;
            }
        else
            {
            note.ParentId = Convert.ToInt32(appState.NoteParentId);
            note.ParentType = 1;
            DateTime _dt = _date.Value.Date + _time.Value;
            note.NoteDatum = _dt.ToString ("yyyy-MM-dd HH:mm");
            note.NoteTags = 0; //1:rtl 2:done 4:shared 8:readonly
            _hasFetched = false;
            bool result = await feService.Update_Note (note);
            if(result)
                {
                Snackbar.Add("Updated", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                user.UserId = Convert.ToInt32(appState.UserId);
                await GetListOfProjects (user.UserId, _ShowProjectsMode);
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                Snackbar.Add("Failed to update note!", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            _hasFetched = true;
            }
        }
    public async Task BtnShowNoteInDialog(Note note)
        {
        appState.SetCmd("ShowNoteInDialog");
        appState.SetSelectedNoteId (note.NoteId);
        appState.SetNoteDatum (note.NoteDatum);
        appState.SetNoteText (note.NoteText);
        appState.SetNoteIsRtl (note.IsRtl);
        appState.SetNoteParentName (note.ParentName);
        StateHasChanged ();
        }
    public async Task BtnReadNotesBySearch()
        {
        user.UserId = Convert.ToInt32 (appState.UserId);
        lstNotes = await feService.Read_NotesBySearchKey (strSearchKey, user.UserId, "SP");
        StateHasChanged ();
        }
    public async Task BtnCancelSearch()
        {
        lstNotes.Clear ();
        StateHasChanged ();
        }  
    public async Task BtnDeleteNote(Note note)
        {
        var message = new MarkupString($"Delete note?");
        bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: message, yesText: "Yes", cancelText: "No");
        if (confirmResult == true)
            {
            appState.SetNoteParentId (note.ParentId);
            bool result = await feService.Delete_Note (note.NoteId);
            if(result)
                {
                Snackbar.Add($"deleted", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                user.UserId = Convert.ToInt32(appState.UserId);
                _hasFetched = false;
                await GetListOfProjects (user.UserId, _ShowProjectsMode); 
                Subproject _subProject = new Subproject () { SubprojectId = Convert.ToInt32 (note.ParentId), ProjectId = Convert.ToInt32 (appState.ProjectId) };
                await BtnReadSubprojectNote (_subProject);
                _hasFetched = true;
                StateHasChanged();
                }
            else
                {
                Snackbar.Add($"Failed to delete note!", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            }
        }
    public async Task BtnDeleteNotes_______(int subProjectId)
        {
        //delete all subprojects of a Project
        if(0 == 0)
            {
            Snackbar.Add($"Select a Course from List", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            return;
            }
        else
            {
            //bool result = await feService.Delete_SubprojectNote (0, groupId);
            if(0==0)
                {
                Snackbar.Add($"All Subprojects in this Project are removed from the course.", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                Snackbar.Add($"Students did not removed from the course", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            }
        }
    //Calendar
    public CultureInfo GetPersianCulture()
        {
        var culture = new CultureInfo("fa-IR");
        DateTimeFormatInfo formatInfo = culture.DateTimeFormat;
        formatInfo.AbbreviatedDayNames = new[] { "ی", "د", "س", "چ", "پ", "ج", "ش" };
        formatInfo.DayNames = new[] { "یکشنبه", "دوشنبه", "سه شنبه", "چهار شنبه", "پنجشنبه", "جمعه", "شنبه" };
        var monthNames = new[]
        { "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند", "", };
        formatInfo.AbbreviatedMonthNames =
            formatInfo.MonthNames =
                formatInfo.MonthGenitiveNames = formatInfo.AbbreviatedMonthGenitiveNames = monthNames;
        formatInfo.AMDesignator = "ق.ظ";
        formatInfo.PMDesignator = "ب.ظ";
        formatInfo.ShortDatePattern = "yyyy-MM-dd";
        formatInfo.LongDatePattern = "yyyy-MM-dd dddd";
        formatInfo.FirstDayOfWeek = DayOfWeek.Saturday;
        Calendar cal = new PersianCalendar();
        FieldInfo fieldInfo = culture.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (fieldInfo != null)
            fieldInfo.SetValue(culture, cal);
        FieldInfo info = formatInfo.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (info != null)
            info.SetValue(formatInfo, cal);
        culture.NumberFormat.NumberDecimalSeparator = ".";
        culture.NumberFormat.DigitSubstitution = DigitShapes.NativeNational;
        culture.NumberFormat.NumberNegativePattern = 0;
        return culture;
        }
    //back
    private async Task HandleModalClose() 
        {
        int userId = Convert.ToInt32 (appState.UserId);
        await GetListOfProjects (userId, _ShowProjectsMode);
        Subproject _subProject = new Subproject () { SubprojectId = Convert.ToInt32 (appState.NoteParentId), ProjectId = Convert.ToInt32 (appState.ProjectId) };
        await BtnReadSubprojectNote (_subProject);
        StateHasChanged ();
        }
    public void BtnCancel()
        {    
        appState.SetCmd("");
        }
    public void BtnBack()
        {    
        Navman.NavigateTo ("/T_SwitchBoard");
        }
}
