@page "/E_Projects"
@using ClosedXML.Excel
@using Microsoft.Extensions.Hosting
@using ClosedXML
@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@if (!_hasFetched)
    {
    <_Loading />
    }
else
    {
    <_Salam />
    <div style="text-align: center;">
            <h3 style="font-style:italic;color:steelblue">e<span style="color:lightpink">L</span>ib<span style="font-size:small"> Teacher -Projects</span></h3>
            <hr style="color:red" />
        </div>
        <EditForm Model="lstProjects">
            <div class="accordion" id="accordionProjects">
                @foreach (Project project in lstProjects)
                    {
                    var collapseId = $"collapse{project.ProjectId}";
                    string clps = "";
                    if ((appState.GroupId ?? 0) != project.ProjectId)
                        {
                        clps = "collapse";
                        }
                    else
                        {
                        clps = "collapse show";
                        }
                    <div class="accordion-item">
                        <h4 class="accordion-header">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#@collapseId"
                                    aria-expanded="true"
                                    aria-controls="@collapseId">
                                <h5>@project.ProjectName</h5>
                            </button>
                        </h4>
                        <div id="@collapseId" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
                            <div class="accordion-body" style="background-color:rgba(252,252,252)">
                                <div id="T1">
                                    @if ((appState.Cmd == "EditProject") && (appState.ProjectId == project.ProjectId))
                                        {
                                        string btnProjectId = "btnProjectName";
                                        <div class="mb-3">
                                            <input class="form-control" @ref="txtProjectName" @bind="project.ProjectName" placeholder="Enter Project Name...">
                                        </div>
                                        <button class="btn btn-link" name="@btnProjectId" @onclick="()=>BtnUpdateProject(project)">
                                            <img src="/img/icoSave.png" width="25" />
                                        </button>
                                        <button class="btn btn-link" @onclick="()=>BtnDeleteProject(project.ProjectId)" @key="project.ProjectId">
                                            <img src="/img/icoDelete1.png" width="25" />
                                        </button>
                                        <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                            <img src="/img/icoCancel.png" width="24" />
                                        </button>
                                        }
                                    else
                                        {
                                        <div style="text-align: center;">
                                            <button class="btn btn-link" type="button" @onclick="()=>BtnEditProject(project.ProjectId)">
                                                <img src="/img/icoRename.png" width="32" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnAddNewSubproject(project.ProjectId)">
                                                <img src="/img/icoAddItem2.png" width="30" />
                                            </button>
                                            <hr style="color:red" />
                                        </div>
                                        @if ((appState.Cmd == "AddNewSubproject") && (appState.ProjectId == project.ProjectId))
                                            {
                                            <div>
                                                <div class="mb-3">
                                                    <img src="/img/icoCluster_bw_02.png" width="24" />
                                                    <input class="form-control d-inline" style="width:60%" @ref="txtNewSubproject" @bind="txtNewSubprojectTitle" placeholder="New subproject...">
                                                    <button class="btn btn-link" @onclick="()=>BtnSaveNewSubproject(project.ProjectId)">
                                                        <img src="/img/icoSave.png" width="24" />
                                                    </button>
                                                    <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                        <img src="/img/icoCancel.png" width="24" />
                                                    </button>
                                                </div>
                                            </div>
                                            }
                                        else
                                            {
                                            @* <div style="text-align: left;">
                                                <h6 style="color:indianred">Subprojects</h6> 
                                            </div> *@
                                            <div class="accordion" id="accordionSubprojects-@project.ProjectId">
                                            @foreach (Subproject subProject in project.Subprojects)
                                                {
                                                var collapseId2 = $"collapse{subProject.SubprojectId}";
                                                <div class="accordion-item mb-1">
                                                    <h4 class="accordion-header">
                                                        <button class="accordion-button collapsed"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#@collapseId2"
                                                                aria-expanded="true"
                                                                aria-controls="@collapseId2">
                                                            <h6>
                                                                @* <img src="/img/icoCluster_bw_02v.png" width="15" /> *@
                                                                @subProject.SubprojectName
                                                                </h6>
                                                        </button>
                                                    </h4>
                                                    <div id="@collapseId2" class="accordion-collapse collapse" data-bs-parent="#accordionSubprojects-@project.ProjectId">
                                                        <div class="accordion-body" style="background-color:whitesmoke">
                                                            <div class="mb-1">
                                                                <input class="form-control d-inline" @bind="subProject.SubprojectName" placeholder="Subproject name" style="font-weight:normal; width:90%;">
                                                            </div>
                                                            <div class="mb-1">
                                                                <input class="form-control d-inline" @bind="subProject.SubprojectNotes" placeholder="subproject note" style="font-weight:normal; width:90%;">
                                                            </div>
                                                            <div style="text-align: center;">
                                                                <button class="btn btn-link" @onclick="()=>BtnUpdateSubproject(subProject)">
                                                                    <img src="/img/icoSave.png" width="22" />
                                                                </button>
                                                                <button class="btn btn-link" @onclick="()=>BtnDeleteSubproject(subProject.SubprojectId)">
                                                                    <img src="/img/icoDelete1.png" width="22" />
                                                                </button>
                                                                <hr syle="color:red" />
                                                                @foreach (Note notex in subProject.Notes)
                                                                    {
                                                                    if ((notex.NoteTags & 1) == 1)
                                                                    {
                                                                        <div class="mt-3 text-end">
                                                                            <h6 style="color:indianred">
                                                                                <img src="/img/icoCalendar.png" width="18" />
                                                                                @notex.NoteDatum
                                                                            </h6>
                                                                            <div class="card">
                                                                                <div class="card-body bg-light" style="font-size:x-small;font-weight:bold;">
                                                                                    @notex.NoteText
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                    else
                                                                        {
                                                                        <div class="mt-3 text-start">
                                                                            <h6 style="color:indianred">
                                                                                <img src="/img/icoCalendar.png" width="18" />
                                                                                @notex.NoteDatum
                                                                            </h6>
                                                                            <div class="card">
                                                                                <div class="card-body bg-light" style="white-space: pre-wrap; font-family:Courier New, Courier, monospace;font-size:x-small">
                                                                                    @notex.NoteText
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        }
                                                                    }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                }
                                            </div>
                                            }
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    }
            </div>
            @if (appState.Cmd == "AddNewProject")
                {
                <hr style="color:red"/>
                <h4>Add New Project</h4>
                <div class="mb-3">
                    <input class="form-control" @ref="txtNewProject" @bind="project.ProjectName" placeholder="New project...">
                </div>
                <button class="btn btn-link" name="btnNewCourse" @onclick="BtnSaveNewProject">
                    <img src="/img/icoSave.png" width="22" />
                </button>
                <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                    <img src="/img/icoCancel.png" width="24" />
                </button>
                }
            else
                {
                    <div style="background-color:rgba(252,252,252)">
                        <button class="btn btn-link" @onclick="BtnAddNewProject">
                            <img src="/img/gifAddItem.gif" width="50" />
                        </button>
                    </div>
                }
            <hr style="color:red" />
        </EditForm>
        <div style="text-align:center">
        <button class="btn btn-link" @onclick= "()=> BtnBack()">
            <img src="/img/icoBack.png" style="width:30px" />
        </button>
    </div>
    }
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    private ElementReference txtNewProject;
    private ElementReference txtProjectName;
    private ElementReference txtNewSubproject;
    private ElementReference txtSubprojectName;
    private ElementReference txtNoteText;
    private readonly HttpClient _http;
    User user = new User ();
    List<Project> lstProjects = new ();
    Project project = new Project();
    Note note = new Note();
    public string dirx = "";
    public bool _hasFetched = false;
    private bool shouldFocusNewProject = false;
    bool _IsMessageTypeFeedback = true;
    bool _tag01 = true;
    bool _tag02 = false;
    bool _tag04 = false;
    bool _tag08 = false;
    bool _tag16 = false;
    bool _tag32 = false;
    string txtNewSubprojectTitle = "";
    int i = 0;
    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        var user = new User
            {
            UserId = Convert.ToInt32(appState.UserId),
            UserName = appState.UserName,
            UserPass = appState.UserPass,
            UserRole = appState.UserRole,
            GroupId = Convert.ToInt32(appState.GroupId)
            };
        if (user.UserId > 0)
            {
            //on second rener, user.UserId will get its value
            lstProjects = await feService.Read_Projects (user.UserId); 
            _hasFetched = true;
            }
        } 
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (shouldFocusNewProject)
            {
            shouldFocusNewProject = false;
            await txtNewProject.FocusAsync();
            }
        }    
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //Projects
    public void BtnAddNewProject()
        {
        if(appState.Cmd != "AddNewProject")
            {
            appState.SetCmd ("AddNewProject");
            shouldFocusNewProject = true; //flag to tell OnAfterRenderAsync focus on 'txtNewGroup'
            }
        else
            {
            appState.SetCmd ("");
            shouldFocusNewProject = false;
            }
        }
    public async Task BtnSaveNewProject()
        {
        //project.ProjectName is bind
        project.ProjectId = Convert.ToInt32(appState.UserId);
        int result = await feService.Create_Project (project);
        if (result !=0)
            {
            Console.WriteLine("Project added: " + project.ProjectName);
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                GroupId = Convert.ToInt32(appState.GroupId)
            };
            lstProjects = await feService.Read_Projects (user.UserId);
            project.ProjectName = ""; //reset input text
            StateHasChanged ();
            }
        }
    public async Task BtnEditProject(int projectId)
        {
        appState.SetCmd ("EditProject");
        appState.SetProjectId(projectId);
        StateHasChanged ();
        await Task.Delay (1);
        await txtProjectName.FocusAsync ();
        }
    public async Task BtnUpdateProject(Project project)
        {
        //ProjectName is bind
        project.ProjectUserId = Convert.ToInt32(appState.UserId);
        bool result = await feService.Update_Project (project);
        if (result)
            {
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                GroupId = Convert.ToInt32(appState.GroupId)
            };
            lstProjects = await feService.Read_Projects(user.UserId);
            project.ProjectName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    private async Task BtnDeleteProject(int projectId)
        {
        if (await JS.InvokeAsync<bool>("confirm", "\n\nDelete this project?"))
            {
            bool result = await feService.Delete_Project (projectId);
            if (result)
                {
                //0: no subProjects in the project and the project must be deleted! OK
                appState.SetCmd("");
                // Refresh the list
                var user = new User
                {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    GroupId = Convert.ToInt32(appState.GroupId)
                };
                lstProjects = await feService.Read_Projects(user.UserId);
                //project.ProjectName = ""; //reset input text
                StateHasChanged ();            
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\n\nThere are subProjects in this Project.\n\nThis Project cannot be deleted.");
                }
            }
        }
    public void BtnUpdateSubprojectTagsInPlace (User stdnt, int flag , bool isChecked)
        {
        if (isChecked)
            {
            stdnt.UserTags |= flag;
            }
        else
            {
            stdnt.UserTags &= ~flag;
            }
        }
    public void BtnReportSubprojects(int groupId)
        {      
        string mode = "groupStudents";
        Navman.NavigateTo ($"/T_ReportStudents/{mode}/{groupId}");
        }
    //Subprojects
    public async Task BtnAddNewSubproject(int projectId)
        {
        if(appState.Cmd != "AddNewSubproject")
            {
            appState.SetCmd ("AddNewSubproject");
            appState.SetProjectId (projectId);
            await Task.Delay (1);
            await txtNewSubproject.FocusAsync ();
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public async Task BtnSaveNewSubproject(int projectId)
        {
        Subproject subProject = new Subproject () { SubprojectName = txtNewSubprojectTitle, ProjectId=projectId };
        int result = await feService.Create_Subproject (subProject);
        if (result > 0)
            {
            await JS.InvokeVoidAsync ("alert", $"New subProject :\n\n user: {subProject.SubprojectName} \n created!");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                GroupId = Convert.ToInt32(appState.GroupId)
            };
            lstProjects = await feService.Read_Projects(user.UserId);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        else
            {
            await JS.InvokeVoidAsync ("alert", "Cannot create the new student -- operation Failed");            
            }
        }
    public async Task BtnUpdateSubproject(Subproject subProject)
        {
        appState.SetGroupId (subProject.ProjectId);
        bool result = await feService.Update_Subproject (subProject);
        if (result)
            {
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                GroupId = Convert.ToInt32(appState.GroupId)
            };
            lstProjects = await feService.Read_Projects(user.UserId);
            project.ProjectName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    private async Task BtnDeleteSubproject(int subProjectId)
        {
        if (await JS.InvokeAsync<bool>("confirm", "\n\nDelete Sudent?"))
            {
            bool result = await feService.Delete_Subproject (subProjectId);
            if (result)
                {
                appState.SetCmd("");
                // Refresh the list
                var user = new User
                    {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    GroupId = Convert.ToInt32(appState.GroupId)
                    };
                lstProjects = await feService.Read_Projects(user.UserId);
                project.ProjectName = ""; //reset input text
                StateHasChanged ();            
                }
            }
        else
            {
            await JS.InvokeVoidAsync("alert", "\nStudent did note removed ---- operation failed!");
            }
        }
    public void BtnReportSubproject(Subproject subProject)
        {
        //Navman.NavigateTo ($"/T_ReportStudents/{mode}/{stdnt.UserId}");
        }
    public void BtnReportSubprojectNotes(Subproject subProject)
        {
        appState.SetSubprojectName (subProject.SubprojectName);
        appState.SetStudentNickname (subProject.SubprojectNotes);
        string mode = "StudentWithDels";
        //Navman.NavigateTo ($"/T_ReportMessages/{mode}/{stdnt.UserId}");
        }
    //subproject notes
    public async Task BtnAddSubprojectNote(int subProjectId)
        {
        appState.SetCmd ("AddNewSubprojectNote");
        appState.SetSubprojectId (subProjectId);
        StateHasChanged ();
        }
    public async Task BtnSaveSubprojectNote(int subProjectId)
        {      
        if(0 == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            //bool result = await feService.Create_SubprojectNote (subProjectId, 1);
            if(0==0)
                {
                await JS.InvokeVoidAsync("alert", "\nStudent successfully added to course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudent did not added to the course!");
                }
            }
        }
    public async Task BtnDeleteSubprojectNote(int noteId)
        {      
        if(0 == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Delete_StudentCourse (0);
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nStudent removed from the course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudent did not removed from the course!");
                }
            }
        }
    public async Task BtnDeleteSubprojectNotes(int subProjectId)
        {
        //delete all subprojects of a Project
        if(0 == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            //bool result = await feService.Delete_SubprojectNote (0, groupId);
            if(0==0)
                {
                await JS.InvokeVoidAsync("alert", "\nAll Subprojects in this Project are removed from the course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudents did not removed from the course --- operation failed");
                }
            }
        }
    //back
    public void BtnCancel()
        {    
        appState.SetCmd("");
        }
    public void BtnBack()
        {    
        Navman.NavigateTo ("/T_SwitchBoard");
        }
}
