@page "/"
@page "/Login"

@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject HttpClient http
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar
@using PSC.Blazor.Components.BrowserDetect
@inject BrowserDetect browserDetector

<PageTitle>Examiner Home</PageTitle>
<center>
    @* ABOUT *@
        <div class="accordion align-items-center m-2" id="accordionIndex" style="text-align:center;min-width:380px;max-width:400px;">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                    <h6 style="color:lightseagreen">e<span style="font-style:italic;font-weight:normal;color:indianred">x</span>aminer</h6>
                    </button>
                </h2>
                <div id="collapseZero" class="accordion-collapse collapse" data-bs-parent="#accordionIndex">
                    <div class="accordion-body" style="text-align:center;margin-bottom:15px;">
                    <hr />
                        <div style="text-align:center">
                        Majid SharifiTehrani, July 2026<br /><br />
                        </div>
                    <h6 style="color:indianred">www.msht.ir</h6>
                        <a href="https://www.msht.ir/" target="_blank">
                        </a>
                        <div style="text-align:center">
                        @if (user.UserRole == "teacher")
                            {
                            <hr />
                            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.AppRegistration" Size="Size.Small" OnClick="@(() => BtnSignup())" Style="margin-left:20px">SingUp New Teacher</MudButton>
                            }
                        <hr />
                        <BrowserDetect @bind-BrowserInfo="browserInfo" />
                        @if (browserInfo != null)
                            {
                                <div class="flex align-content-center align-items-center justify-content-center" style="font-size:smaller; color:cadetblue; margin-top:20px">
                                <span style="color:blue">device info:</span>
                                <br />
                                @browserInfo.BrowserName / @browserInfo.OSName @browserInfo.OSVersion
                                <br />
                                @browserInfo.ScreenResolution, cpu: @browserInfo.CPUArchitect<br />
                                @* CPU:           @browserInfo.CPUArchitect
                                   Device Model:  @browserInfo.DeviceModel
                                   Device Type:   @browserInfo.DeviceType
                                   Browser major: @browserInfo.BrowserMajor
                                   Is Android:    @browserInfo.IsAndroid
                                   Is Desktop:    @browserInfo.IsDesktop
                                   Is Mobile:     @browserInfo.IsMobile
                                   Is Tablet:     @browserInfo.IsTablet
                                   Is PadPro:     @browserInfo.IsIPadPro*@
                                </div>
                            }
                        else
                            {
                            <p>Detecting browser...</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
@* LOGIN *@
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;margin-top:20px;">
        <EditForm Model="user" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <DataAnnotationsValidator></DataAnnotationsValidator>
            <div style="display: flex; justify-content: flex-end;margin-bottom:20px;">
            @if (user.UserRole == "student")
                {
                <img src="/img/icoLogin_S.png" width="320" style="margin-right:10px" @onclick="SwitchUserRole" />
                }
            else
                {
                <img src="/img/icoLogin_T.png" width="320" style="margin-right:10px" @onclick="SwitchUserRole" />
                }
            </div>
            <MudContainer Class="mt-2 px-0">
                <MudCard Class="mx-0">
                    <MudCardContent Style="background-color:rgba(248,248,248, 1);max-width:500px;min-width:400px;min-height:220px;padding-bottom:20px;">
                    <MudTextField @ref="refUser"
                                  @bind-Value="_username"
                                  Label="Username"
                                  Variant="Variant.Text"
                                  Margin="Margin.Normal"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.Filled.PersonOutline"
                                  Style="font-family:Tahoma"
                                  Class="my-textfield" />
                    <MudTextField @ref="refPass"
                                  @bind-Value="_password"
                                  Label="Password"
                                  Variant="Variant.Text"
                                  Margin="Margin.Normal"
                                  Class="my-textfield"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@_passwordIcon"
                                  OnAdornmentClick="TogglePasswordVisibility"
                                  OnKeyDown="HandleKey_Passwordbox"
                                  Style="font-family:Tahoma"
                                  InputType="_passwordInput" />
                        <div style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
                            <MudButton OnClick="@(() => BtnLogin())"
                                   Variant="Variant.Filled"
                                   EndIcon="@Icons.Material.Filled.AccountBox"
                                   Size="Size.Large"
                                   Style="text-align:center; width:320px;margin-top:60px;">
                            Login
                            </MudButton>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudContainer>
        </EditForm>
    </div>

@code {
    private BrowserInfo? browserInfo
        {
        get; set;
        }
    private bool _passwordVisible;
    private InputType _passwordInput = InputType.Password;
    private string _passwordIcon = Icons.Material.Filled.VisibilityOff;
    private User user = new User { UserRole = "student" };
    private MudTextField<string> refUser;
    private MudTextField<string> refPass; // private ElementReference refPass;
    private string _username = "";
    private string _password = "";
    private bool _firstRender = true;
    private List<Note> lstDueNotes = new List<Note>();

    //LifeCycleEvents
    protected override async Task OnInitializedAsync ()
        {
        appState.OnChange += StateHasChanged;
        appState.OnChange += TriggerRender;
        appState.SetUserLoginStatus(0);
        appState.SetStudentTags(0);
        appState.SetUserName("");
        StateHasChanged();
        }
    protected override async Task OnAfterRenderAsync (bool firstRender)
        {
        if (_firstRender)
            {
            _firstRender = false;
            await Task.Delay(1);
            }
        }
    private void TriggerRender ()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose ()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public async Task BtnLogin ()
        {
        if (user.UserRole == "student")
            {
            user = await feService.LoginStudent(_username, _password) ?? new User { UserRole = "student" };
            }
        else
            {
            user = await feService.LoginTeacher(_username, _password) ?? new User { UserRole = "student" };
            }
        if (user.UserId != 0)
            {
            appState.SetCourseId(0);
            appState.SetExamId(0);
            appState.SetDepartmentId(0);
            switch (user.UserRole)
                {
                case "student":
                        {
                        appState.SetUserLoginStatus(1);
                        appState.SetUserId(user.UserId);
                        appState.SetDepartmentId(user.DepartmentId);
                        appState.SetUserName(user.UserName);
                        appState.SetUserPass(user.UserPass);
                        appState.SetUserTags(user.UserTags);
                        appState.SetUserRole(user.UserRole);
                        appState.SetUserNickname(user.UserNickname);
                        appState.SetCmd("showAlertsOnExamsAndNewChats");
                        if ((user.UserTags & 16) == 16)
                            {
                            lstDueNotes = await feService.Read_DueNotes (user.UserId, ((user.UserTags & 32) == 32) ? 7 : 3);
                            if (lstDueNotes.Count > 0)
                                {
                                foreach (Note dueNote in lstDueNotes)
                                    {
                                    Snackbar.Add($"{PersianDate(dueNote.NoteDueDateTime.ToString())} : {dueNote.NoteText}", Severity.Info, opt => { opt.VisibleStateDuration = 5000; opt.ShowTransitionDuration = 800; opt.HideTransitionDuration = 800; });
                                    }
                                }
                            }
                        //navigate
                        await Task.Delay(1);
                        Navman.NavigateTo("/S_Student");
                        Snackbar.Add($"\n\nwelcome {user.UserNickname}!", Severity.Success, opt => { opt.VisibleStateDuration = 1000; opt.ShowTransitionDuration = 300; opt.HideTransitionDuration = 300; });
                        break;
                        }
                case "teacher":
                        {
                        appState.SetUserLoginStatus(1);
                        appState.SetUserId(user.UserId);
                        appState.SetDepartmentId(user.DepartmentId);
                        appState.SetUserName(user.UserName);
                        appState.SetUserPass(user.UserPass);
                        appState.SetUserTags(user.UserTags);
                        appState.SetUserRole(user.UserRole);
                        appState.SetUserNickname(user.UserNickname);
                        if ((user.UserTags & 16) == 16)
                            {
                            lstDueNotes = await feService.Read_DueNotes(user.UserId, ((user.UserTags & 32) == 32) ? 7 : 3);
                            if (lstDueNotes.Count > 0)
                                {
                                foreach (Note dueNote in lstDueNotes)
                                    {
                                    Snackbar.Add($"{PersianDate(dueNote.NoteDueDateTime.ToString())} : {dueNote.NoteText}", Severity.Info, opt => { opt.VisibleStateDuration = 5000; opt.ShowTransitionDuration = 800; opt.HideTransitionDuration = 800; });
                                    }
                                }
                            }
                        //navigate
                        await Task.Delay(1);
                        Navman.NavigateTo("/T_SwitchBoard");
                        Snackbar.Add($"\n\nwelcome {user.UserNickname}!", Severity.Success, opt => { opt.VisibleStateDuration = 1000; opt.ShowTransitionDuration = 300; opt.HideTransitionDuration = 300; });
                        break;
                        }
                }
            }
        else
            {
            Snackbar.Add("incorrect username or password!", Severity.Warning);
            user.UserRole = "student";
            return;
            }
        }
    public void BtnSignup ()
        {
        Navman.NavigateTo("/T_SignUp");
        }
    //convert date
    public string PersianDate (string? dt)
        {
        // notices: 1-this mthod must be synchronus. 2- for miladi dates, simply discard this methos in html above
        if ((Convert.ToInt32(appState.UserTags) & 256) == 256)
            {
            return feService.ToPersianDate(dt);
            }
        else
            {
            return dt;
            }
        }
    //methods
    void TogglePasswordVisibility ()
        {
        _passwordVisible = !_passwordVisible;
        _passwordInput = _passwordVisible ? InputType.Text : InputType.Password;
        _passwordIcon = _passwordVisible ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff;
        StateHasChanged();
        }
    private void SwitchUserRole ()
        {
        user.UserRole = (user.UserRole == "student") ? "teacher" : "student";
        StateHasChanged();
        }
    private async Task HandleKey_Passwordbox (KeyboardEventArgs e)
        {
        if (e.Key == "Enter")
            {
            await BtnLogin();
            }
        if (e.Key == "Escape")
            {
            _password = "";
            await InvokeAsync(StateHasChanged);
            }
        }
    }
