@page "/"
@page "/Login"

@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject HttpClient http
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar

<PageTitle>Examiner Home</PageTitle>
<br />
<center>
    <div class="accordion align-items-center" id="accordionIndex" style="text-align:center;min-width:380px;max-width:400px;">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                    <h6 style="color:lightseagreen">about</h6>
                </button>
            </h2>
            <div id="collapseZero" class="accordion-collapse collapse" data-bs-parent="#accordionIndex">
                <div class="accordion-body" style="text-align:center">
                    <br />
                    <hr />
                    <h6>https://www.msht.ir</h6>
                    <hr />
                    <a href="https://www.msht.ir/" target="_blank">
                        <img src="/img/mshtQRCode.png" width="170" style="margin-left:10px;margin-right:10px" />
                    </a>
                    <hr />
                    <div style="text-align:center">
                        e<span style="font-style:italic;font-weight:bold;color:indianred">x</span>aminer developed by Majid SharifiTehrani<br />
                        <span style="font-size:smaller">assistant prof of plant ecology and systematics</span><br />
                        <br />
                        Feb 2026<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
<br />
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img src="/img/pngStudyGirl1.png" width="420" style="margin-left:10px;margin-right:10px" />
    <EditForm Model="user" OnValidSubmit="BtnLogin" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <MudContainer Class="mt-2 px-0">
            <MudCard Class="mx-0">
                <MudCardContent Style="background-color:rgba(248,248,248, 1);max-width:500px;min-width:400px">
                    <div class="mb-3 d-flex gap-1">
                        <MudSelect T="string" @ref="refRole" Label="Role" Value="user.UserRole" ValueChanged="@((string role) => OnRoleChanged(role))" Class="w-auto" Variant="Variant.Outlined" Margin="Margin.Dense" Style="font-size:small;">
                            <MudSelectItem Value=@("student")>Student</MudSelectItem>
                            <MudSelectItem Value=@("teacher")>Teacher</MudSelectItem>
                        </MudSelect>
                        @if(user.UserRole == "student")
                            {
                            <MudSelect T="int" @ref="refTeacher" Label="Teacher" Value="TeacherId" ValueChanged="OnTeacherChanged" Class="w-auto my-select" Variant="Variant.Outlined" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                <MudSelectItem Value="0">Your teacher?</MudSelectItem>
                                @foreach (var teacher in lstTeachers) { <MudSelectItem Value="@teacher.UserId">@teacher.UserNickname</MudSelectItem> }
                            </MudSelect>
                            }
                    </div>
                    <MudTextField @ref="refUser" @bind-Value="user.UserName" Label="Username" Variant="Variant.Outlined" Margin="Margin.Dense" Autocomplete="off" Class="my-textfield" />
                    <MudTextField @ref="refPass" @bind-Value="user.UserPass" Label="Password" Variant="Variant.Outlined" Margin="Margin.Dense" Autocomplete="off" Class="my-textfield" InputType="InputType.Password" />
                </MudCardContent>
            </MudCard>
        </MudContainer>    
    <br />
    <br />
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Login" Size="Size.Small" OnClick="@(() => BtnLogin())">Login</MudButton>
    @* <button class="btn btn-link">
        <img src="/img/icoLogin1.png" width="60" style="border-radius:1px"/>
    </button> *@
    <br />
    </EditForm>
</div>
<hr />
@* <MudContainer Class="mt-2 px-0">
    <MudCard Class="mx-0">
        <MudCardContent Style="background-color:rgba(248,248,248, 1);max-width:500px;min-width:400px">
            text here
        </MudCardContent>
    </MudCard>
</MudContainer> *@

<script>
    document.getElementById("txtUser").focus();
    document.getElementById("txtUser").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("txtPass").focus();}});
</script>

@code {
    private MudSelect<string> refRole;
    private User user = new User { UserRole = "student" };
    private MudSelect<int> refTeacher;
    private MudTextField<string> refUser;
    private MudTextField<string> refPass; // private ElementReference refPass;
    private int TeacherId = 0;
    private int selectedTeacherId;
    private List<User> lstTeachers = new List<User> (); 
    private bool _firstRender = true;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += StateHasChanged;
        appState.OnChange += TriggerRender;
        appState.SetUserLoginStatus (0);
        appState.SetStudentTags (0);
        appState.SetUserName ("");
        StateHasChanged ();
        lstTeachers = await feService.Read_Teachers ();
        } 
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (_firstRender)
            {
            _firstRender = false;
            await Task.Delay (1);
            await refRole.FocusAsync ();        
            }
        }
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public async Task BtnLogin ()
        {
        //via 'OnValidSubmic of EditForm'
        if ((user.UserRole == "student") & (TeacherId == 0))
            {
            Snackbar.Add("select your teacher", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            //old code: await JS.InvokeVoidAsync ("alert", "Select your Class (group)!");
            return;
            }
        user.UserId = 0;
        user.UserTags = 0;
        user.TeacherId = TeacherId;
        appState.SetTeacherId (TeacherId);
        user = await feService.Login(user) ?? new User { UserRole = "student" };        
        if (user.UserId != 0)
            {
            switch (user.UserRole)
                {
                case "student":
                        {
                        appState.SetUserLoginStatus (1);
                        appState.SetUserId (user.UserId);
                        appState.SetUserName (user.UserName);
                        appState.SetUserPass (user.UserPass);
                        appState.SetUserTags (user.UserTags);
                        appState.SetUserRole (user.UserRole);
                        appState.SetUserNickname (user.UserNickname);
                        //navigate
                        await Task.Delay(1);
                        Navman.NavigateTo("/S_Student");
                        Snackbar.Add($"\n\nwelcome {user.UserNickname}!", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                        break;
                        }
                case "teacher":
                        {
                        appState.SetUserLoginStatus (1);
                        appState.SetUserId (user.UserId);
                        appState.SetUserName (user.UserName);
                        appState.SetUserPass (user.UserPass);
                        appState.SetUserTags (user.UserTags);
                        appState.SetUserRole (user.UserRole);
                        appState.SetUserNickname (user.UserNickname);
                        //navigate
                        await Task.Delay(1);
                        Navman.NavigateTo("/T_SwitchBoard"); 
                        Snackbar.Add($"\n\nwelcome {user.UserNickname}!", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                        break;
                        }
                }
            }
        else
            {
            Snackbar.Add("incorrect username or password!", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            user.UserRole = "student";
            TeacherId = 0;
            return;
            }
        } 
    //methods
    public async Task HandleUserKeyDown (KeyboardEventArgs e)
        {
        if (e.Key == "Enter")
            {
            await Task.Delay (1);
            await refPass.FocusAsync ();
            }
        }
    private async Task OnTeacherChanged(int newValue) 
        {
        //update TeacherId from the event
        TeacherId = newValue;
        user.UserId = TeacherId;
        user.UserName = "-"; //just because this field is required 
        user.UserPass = "-------";//just because this field is required
        user.UserRole = "student";
        user.UserTags = 0;
        user.TeacherId = 0;
        user.UserNickname = "";
        StateHasChanged();
        await Task.Delay (1);
        await refUser.FocusAsync ();
        } 
    private async Task OnRoleChanged(string newRole) 
        {
        user.UserRole = newRole;
        StateHasChanged(); //render page to make elements appear on DOM
        await Task.Yield(); //wait until render is completed
        if (user.UserRole == "teacher")
            {
            await refUser.FocusAsync();
            }
        else if (user.UserRole == "student")
            {
            await refTeacher.FocusAsync();
            }
        }

}
