@page "/Login"
@using ExaminerB.Service
@rendermode InteractiveServer
@inject NavigationManager Navman
@inject AppState appState
@inject HttpClient http
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable

<PageTitle>Examiner Home</PageTitle>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <br />
    <h2 style="color:gray">e<span style="color:indianred">x</span>aminer<span style="font-style:italic;font-size:small;color:royalblue"> WebApp </span> <span style="font-style:italic;font-size:small;color:indianred"> - @appState.UserRole </span></h2>
    <img src="/images/gifExam01.gif" width="160" style="margin-left:10px;margin-right:10px" />
    <br />
    <EditForm Model="user" OnValidSubmit="BtnLogin" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary />
        <div class="mb-3 d-flex gap-1">
            <select @ref="refRole" class="form-select w-auto" style="font-size:small;" @bind="user.UserRole" @bind:event="onchange" @bind:after="async () => await OnRoleChanged()" >
                <option value="student"> Student </option>
                <option value="teacher"> Teacher </option>
            </select>
            <br />
            @if(user.UserRole == "student")
                {
                <select  @ref="refTeacher" class="form-select w-auto" style="color:royalblue;width:100px;font-size:small" @onchange="OnTeacherChanged">
                    <option value=0> Your teacher? </option>
                    @foreach(User teacher in lstTeachers)
                        {
                        <option value="@teacher.UserId"> @teacher.UserNickname </option>
                        }
                </select>
                <select @ref="refGroup" class="form-select w-auto" style="color:indianred;width:100px;font-size:small" @bind="GroupId" @bind:event="onchange" @bind:after="async () => await OnGroupChanged()">
                    <option value=0> Your class? </option>
                    @foreach(Group group in lstGroups)
                        {
                        <option value="@group.GroupId"> @group.GroupName </option>
                        }
                </select>
                }
        </div>
        <div class="mb-3">
            <input @ref="refUser" @bind="user.UserName" type="text" class="form-control" placeholder="Username" @onkeydown="HandleUserKeyDown" />
        </div>
        <div class="mb-3">
            <input @ref="refPass" @bind="user.UserPass" type="password" class="form-control" placeholder="Password">
        </div>
        <button class="btn btn-link">
            <img src="/images/gifUser1.gif" width="60" />
        </button>
    </EditForm>
</div>
<hr style="color:blueviolet"/>
<script>
    document.getElementById("txtUser").focus();
    document.getElementById("txtUser").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("txtPass").focus();
        }
    });
</script>

@code {
    private ElementReference refUser;
    private ElementReference refPass;
    private ElementReference refRole;
    private ElementReference refTeacher;
    private ElementReference refGroup;
    private bool _firstRender = true;
    private User user = new User { UserRole = "student" };
    private int TeacherId = 0;
    private int GroupId = 0;
    private List<User> lstTeachers = new List<User> (); 
    private List<Group> lstGroups = new List<Group> (); 

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        appState.SetUserLoginStatus (0);
        appState.SetStudentTags (0);
        appState.SetUserName ("");
        lstTeachers = await feService.Read_Teachers ();
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (_firstRender)
            {
            _firstRender = false;
            await refUser.FocusAsync();
            }
        }
    //btns
    public async Task BtnLogin ()
        {
        //via 'OnValidSubmic of EditForm'
        if ((user.UserRole == "student") & (GroupId == 0))
            {
            await JS.InvokeVoidAsync ("alert", "Select your Class (group)!");
            return;
            }
        user.UserId = 0;
        user.UserTags = 0;
        user.GroupId = GroupId;
        user = await feService.Login(user) ?? new User { UserRole = "student" };        
        if (user.UserId != 0)
            {
            switch (user.UserRole)
                {
                case "student":
                        {
                        appState.SetUserLoginStatus (1);
                        appState.SetUserId (user.UserId);
                        appState.SetUserName (user.UserName);
                        appState.SetUserPass (user.UserPass);
                        appState.SetUserTags (user.UserTags);
                        appState.SetUserRole (user.UserRole);
                        //navigate
                        Navman.NavigateTo("/S_Student");
                        break;
                        }
                case "teacher":
                        {
                        appState.SetUserLoginStatus (1);
                        appState.SetUserId (user.UserId);
                        appState.SetUserName (user.UserName);
                        appState.SetUserPass (user.UserPass);
                        appState.SetUserTags (user.UserTags);
                        appState.SetUserRole (user.UserRole);
                        //navigate
                        Navman.NavigateTo("/T_SwitchBoard");
                        break;
                        }
                }
            }
        else
            {
            await JS.InvokeVoidAsync ("alert", "\nUsername/Password was incorrect!");
            user.UserRole = "student";
            GroupId = 0;
            return;
            }
        } 
    //methods
    public async Task HandleUserKeyDown (KeyboardEventArgs e)
        {
        if (e.Key == "Enter")
            {
            await refPass.FocusAsync ();
            }
        }
    private async Task OnTeacherChanged(ChangeEventArgs e)
        {
        //update TeacherId from the event
        TeacherId = Convert.ToInt32(e.Value);
        user.UserId = TeacherId;
        user.UserName = ">"; //just because this field is required 
        user.UserPass = "-------";//just because this field is required
        user.UserRole = "student";
        user.UserTags = 0;
        user.GroupId = 0;
        user.UserNickname = "";
        lstGroups = await feService.Read_Groups (user, false, false);
        GroupId = 0;
        StateHasChanged();
        await refGroup.FocusAsync ();
        }
    private async Task OnRoleChanged()
        {
        StateHasChanged(); //render page to make elements appear on DOM
        await Task.Yield(); //wait until render is completed
        if (user.UserRole == "teacher")
            {
            await refUser.FocusAsync();
            }
        else if (user.UserRole == "student")
            {
            await refTeacher.FocusAsync();
            }
        }
    private async Task OnGroupChanged()
        {
        if (user.UserRole == "student")
            {
            StateHasChanged(); //render page to make elements appear on DOM
            user.UserName = ""; //just because this field is required 
            user.UserPass = "";//just because this field is required
            await refUser.FocusAsync();
            }
        }
}
