@using System.Globalization
@using System.Reflection
@inject FeService feService
@inject AppState appState;
@inject NavigationManager Navman
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@if (IsOpen)
    {
    Title = (appState.Cmd == "UpdateNote") ? "Edit note" : "New note";
    <div class="modal-backdrop fade show"></div>
        <div class="modal show d-block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    @* <button class="btn-close" @onclick="Close"></button> *@
                    </div>
                    <div class="modal-body">
                    @ChildContent
                        <div class="mt-3">
                            <span style="color:royalblue; font-weight:bold;">
                            @appState.NoteReferenceName
                            </span>
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:whitesmoke;">
                                    @* <MudDatePicker Label="Calendar تقويم" @bind-Date="_date" Culture="@GetPersianCulture()" DateFormat="yyyy-MM-dd" Variant="Variant.Outlined" Margin="Margin.Dense" /> *@
                                        <div class="d-flex gap-4 mb-3">
                                        <MudDatePicker Label="date"
                                                       @bind-Date="_date"
                                                       Culture="@_persianCulture"
                                                       DateFormat="yyyy-MM-dd"
                                                       Variant="Variant.Text"
                                                       Elevation="12"
                                                       Margin="Margin.Dense"
                                                       Modal="true" />
                                        <MudTimePicker Label="time"
                                                       @bind-Time="_time"
                                                       TimeFormat="HH:mm"
                                                       Variant="Variant.Text"
                                                       PickerVariant="PickerVariant.Dialog"
                                                       Dense="true" />
                                        </div>

                                    <MudTextField T="string"
                                                  Label="@($"{note.NoteText?.Length ?? 0} / 4000")"
                                                  @bind-Value="note.NoteText"
                                                  Immediate="true"
                                                  Variant="Variant.Text"
                                                  Lines="18"
                                                  AutoResize="true"
                                                  Style=@($"width:100%;direction:{(note.IsRtl ? "rtl" : "ltr")};font-size:13px;font-family:{(note.IsRtl ? "'Segoe UI'" : "'Courier New', Courier, monospace")};color:black;") />
                                        <MudCheckBox @bind-Value="note.IsRtl"
                                                 Label="RTL"
                                                 Color="Color.Primary">
                                        </MudCheckBox>
                                    @if (appState.Cmd == "CreateNote")
                                        {
                                            <div class="d-flex gap-2 justify-content-center" style="text-align:center">
                                                <MudButton Variant="Variant.Outlined"
                                                       Size="Size.Small"
                                                       Color="Color.Primary"
                                                       StartIcon="@Icons.Material.Filled.Save"
                                                       @onclick="BtnCreateNote">
                                                Save note
                                                </MudButton>
                                                <MudButton Variant="Variant.Outlined"
                                                       Size="Size.Small"
                                                       Color="Color.Secondary"
                                                       StartIcon="@Icons.Material.Filled.Cancel"
                                                       @onclick="BtnCancel">
                                                Cancel
                                                </MudButton>
                                            </div>
                                        }
                                    else if (appState.Cmd == "UpdateNote")
                                        {
                                            <div class="d-flex gap-2 justify-content-center" style="text-align:center">
                                                <MudButton Variant="Variant.Outlined"
                                                       Size="Size.Small"
                                                       Color="Color.Primary"
                                                       StartIcon="@Icons.Material.Filled.Save"
                                                       @onclick="BtnUpdateNote">
                                                Update note
                                                </MudButton>
                                                <MudButton Variant="Variant.Outlined"
                                                       Size="Size.Small"
                                                       Color="Color.Secondary"
                                                       StartIcon="@Icons.Material.Filled.Cancel"
                                                       @onclick="BtnCancel">
                                                Cancel
                                                </MudButton>
                                            </div>
                                        }
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

@code {
    [Parameter]
    public string Title
        {
        get; set;
        }
    [Parameter]
    public RenderFragment ChildContent
        {
        get; set;
        }
    [Parameter]
    public EventCallback OnClose
        {
        get; set;
        }
    public bool IsOpen { get; set; } = true;
    private CultureInfo _persianCulture = new CultureInfo("fa-IR");
    private MudTextField<string> refNoteText;
    private MudTextField<string> refSearchNote;

    User user = new User();
    Note note = new Note();
    bool _hasFetched;
    string textDirection = "ltr";
    private DateTime? _date = DateTime.Now;

    private TimeSpan? _time = DateTime.Now.TimeOfDay;
    int _PersianYear = 0;
    int _PersianMonth = 0;
    int _PersianDay = 0;
    int _Hour = 0;
    int _Minute = 0;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync ()
        {
        appState.OnChange += TriggerRender;
        if (Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo("/Login");
            }
        //share edit and new modes
        note.ReferenceId = Convert.ToInt32(appState.NoteReferenceId);
        note.ReferenceType = Convert.ToInt32(appState.NoteReferenceType);
        note.CreatorId = Convert.ToInt32(appState.UserId);
        //for edit mode
        if (appState.Cmd == "UpdateNote")
            {
            //DT
            DateTimeOffset dTOffset = DateTimeOffset.Parse(appState.NoteDateTime);
            //PARSE DATETIME
            _PersianYear = dTOffset.Year;
            _PersianMonth = dTOffset.Month;
            _PersianDay = dTOffset.Day;
            _date = dTOffset.LocalDateTime;
            _time = ((Convert.ToInt32(appState.UserTags) & 256) == 256) ? dTOffset.TimeOfDay.Add(new TimeSpan(3, 30, 0)) : dTOffset.TimeOfDay;
            //END PARSE DATETIME
            note.NoteText = appState.NoteText ?? "";
            note.IsRtl = Convert.ToBoolean(appState.NoteIsRtl);
            }
        _persianCulture = ((Convert.ToInt32(appState.UserTags) & 256) == 256) ? new CultureInfo("fa-IR") : new CultureInfo("en-US");
        _hasFetched = true;
        }
    private void TriggerRender ()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose ()
        {
        appState.OnChange -= TriggerRender;
        }
    public void Open () => IsOpen = true;
    private async Task Close ()
        {
        if (OnClose.HasDelegate)
            {
            await OnClose.InvokeAsync();
            IsOpen = false;
            }
        }
    public void BtnClose ()
        {
        appState.SetCmd("");
        IsOpen = false; //at top of page
        }
    //methods
    public async Task BtnCreateNote ()
        {
        if (note.NoteText.Trim() == "")
            {
            Snackbar.Add("note is empty!", Severity.Info, opt => { opt.VisibleStateDuration = 1500; opt.ShowTransitionDuration = 300; opt.HideTransitionDuration = 300; });
            return;
            }
        else
            {
            //ReferenceTypes 1:quicknote(s) 2:SectNote(s) 11:quicknote(t) 12:SectNote(t) 13:StudentNote(t) 14:GroupNote(t) 15:CourseNote(t) 16:ExamNote(t) 17:StudentExamNote(t)
            DateTime _dt = _date.Value.Date + _time.Value;
            note.NoteDateTime = _dt;
            _hasFetched = false;
            int result = await feService.Create_Note(note);
            if (result > 0)
                {
                Snackbar.Add("saved", Severity.Success, opt => { opt.VisibleStateDuration = 1500; opt.ShowTransitionDuration = 300; opt.HideTransitionDuration = 300; });
                user.UserId = Convert.ToInt32(appState.UserId);
                appState.SetCmd("");
                await Close();
                }
            else
                {
                Snackbar.Add("failed to save note", Severity.Error, opt => { opt.VisibleStateDuration = 1500; opt.ShowTransitionDuration = 300; opt.HideTransitionDuration = 300; });
                }
            _hasFetched = true;
            }
        }
    public async Task BtnUpdateNote ()
        {
        if (note.ReferenceId == 0)
            {
            Snackbar.Add("failed... try again", Severity.Error, opt => { opt.VisibleStateDuration = 1500; opt.ShowTransitionDuration = 300; opt.HideTransitionDuration = 300; });
            return;
            }
        if (note.NoteText.Trim() == "")
            {
            Snackbar.Add("note is empty", Severity.Info);
            return;
            }
        else
            {
            //ReferenceTypes 1:quicknote(s) 2:SectNote(s) 11:quicknote(t) 12:SectNote(t) 13:StudentNote(t) 14:GroupNote(t) 15:CourseNote(t) 16:ExamNote(t) 17:StudentExamNote(t)
            note.NoteId = Convert.ToInt32(appState.SelectedNoteId);
            note.ReferenceId = Convert.ToInt32(appState.NoteReferenceId);
            note.ReferenceType = Convert.ToInt32(appState.NoteReferenceType);
            DateTime _dt = _date.Value.Date + _time.Value;
            note.NoteDateTime = _dt;
            //not neccessary, but just to ensure everything is ok:
            _hasFetched = false;
            bool result = await feService.Update_Note(note);
            if (result)
                {
                Snackbar.Add("updated", Severity.Success);
                user.UserId = Convert.ToInt32(appState.UserId);
                appState.SetCmd("");
                await Close();
                }
            else
                {
                Snackbar.Add("failed to update note", Severity.Error, opt => { opt.VisibleStateDuration = 1500; opt.ShowTransitionDuration = 300; opt.HideTransitionDuration = 300; });
                }
            _hasFetched = true;
            }
        }
    //calendar
    public void BtnCancel ()
        {
        appState.SetCmd("");
        Close();
        }
    }
