@using System.Globalization
@using System.Reflection
@inject FeService feService
@inject AppState appState;
@inject NavigationManager Navman
@inject ISnackbar Snackbar
@inject IDialogService DialogService


@if (IsOpen)
{
    Title = "Chats";
    <div class="modal-backdrop fade show"></div>
    <div class="modal show d-block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-link" @onclick="Close">
                        <img src="/img/icoBack3.png" width="35" title="Back" />
                    </button>
                    <button class="btn btn-link" @onclick="ReadChats">
                        <img src="/img/gifUserLogin.gif" width="40" title="Refresh" />
                    </button>
                    <button class="btn btn-link" @onclick="BtnChangeFontSize">
                        <img src="/img/icoFontAa.png" title="Font Size  تغيير انداز فونت" alt="FontSize" width="28"/>
                    </button>
                    @* <button class="btn-close" @onclick="Close"></button> *@
                </div>
                <div class="modal-body">
                    <div class="mt-1">
                        @if (lstChats.Count > 0)
                            {
                            @if(lstChats[0].FromId == studentId)
                                {
                                <div style="text-align:center; color:indianred;font-size:larger; font-weight:bold;">
                                    @lstChats[0].ToName                                 
                                </div>
                                }
                            else
                                {
                                <div style="text-align:center; color:indianred;font-size:larger; font-weight:bold;">
                                    @lstChats[0].FromName                                 
                                </div>
                                }                                
                            }
                    </div>
                    @if (_cmd == "AddNewChatItem")
                        {
                        <div class="mt-3">
                            <span style="color:royalblue; font-weight:bold;">
                                @appState.NoteParentName
                            </span>
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:whitesmoke;">
                                        <MudTextField T="string" Label="Text" @bind-Value="chat.ChatText" Variant="Variant.Text" Lines="8" AutoResize="true" Style="width:100%;font-family:'Courier New', Courier, monospace" />
                                            <br />
                                            <div style="text-align:center">
                                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Dense="true" @onclick="BtnCreateChat">Send</MudButton>
                                                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Dense="true" @onclick="BtnCancelNewChat">Cancel</MudButton>
                                            </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>                        
                        }
                    else
                        {
                        <div style="text-align:left">
                            <button class="btn btn-link" @onclick="AddNewChatItem">
                                <img src="/img/icoAdd0.png" width="22" title="Add new chat item" />
                            </button>
                        </div>                        
                        }
                    @foreach (Chat chat in lstChats)
                        {
                        <div class="mt-3">
                                <MudContainer Class="mt-2 px-0">
                                    <MudCard Class="mx-0">
                                        <MudCardContent Style="background-color:whitesmoke;">
                                            <div class="d-flex align-items-center" style="font-size:smaller; font-weight:bold;color:indianred;">
                                                @chat.DateTimeSent 
                                            </div>
                                            @if(chat.FromId == Convert.ToInt32(appState.UserId))
                                                {
                                                <div style="font-size:small; font-weight:bold;color:green;padding-left:5px;">
                                                    @chat.FromName.Trim():
                                                </div>
                                                }
                                            else
                                                {
                                                <div style="font-size:small; font-weight:bold;color:royalblue;padding-left:5px;">
                                                    @chat.FromName.Trim():
                                                </div>
                                                }
                                        <hr />
                                        @if((_cmd=="ReadThisChatItem") & (appState.SelectedChatId == chat.ChatId))
                                            {
                                            <div style='white-space: pre-wrap;font-size:small; font-weight:normal;color:black;padding-left:10px;font-size:@(_cmd == "UseLargeFontSize" ? "large" : "small")'> @chat.ChatText.Trim()</div>
                                            <hr />
                                            <div style="text-align:right">
                                                <button class="btn btn-link" @onclick="()=>BtnReadThisChatItem(chat)">
                                                    <img src="/img/icoCourse.png" width="24" title="Expand to read this item" />
                                                </button>
                                                <button class="btn btn-link" @onclick="()=>BtnDeleteChatItem(chat.ChatId)">
                                                    <img src="/img/icoDelete1.png" width="20" title="Delete chat item" />
                                                </button>
                                            </div>
                                            }
                                        else
                                            {
                                            if (chat.ChatText.Trim().Length < 20)
                                                {
                                                <div style='white-space: pre-wrap;font-size:small; font-weight:normal;color:black;padding-left:10px;font-size:@(_cmd == "UseLargeFontSize" ? "large" : "small")'> @chat.ChatText.Trim()</div>
                                                <hr />
                                                <div style="text-align:right">
                                                    <button class="btn btn-link" @onclick="()=>BtnDeleteChatItem(chat.ChatId)">
                                                        <img src="/img/icoDelete1.png" width="20" title="Delete chat item" />
                                                    </button>
                                                </div>
                                                }
                                            else
                                                {                                                
                                                <div style='white-space: pre-wrap;font-size:small; font-weight:normal;color:black;padding-left:10px;font-size:@(_cmd == "UseLargeFontSize" ? "large" : "small")'> @chat.ChatText.Trim().Substring(0, 19)...</div>
                                                <hr />
                                                <div style="text-align:right">
                                                    <button class="btn btn-link" @onclick="()=>BtnReadThisChatItem(chat)">
                                                        <img src="/img/icoCourse.png" width="24" title="Expand to read this item" />
                                                    </button>
                                                    <button class="btn btn-link" @onclick="()=>BtnDeleteChatItem(chat.ChatId)">
                                                        <img src="/img/icoDelete1.png" width="20" title="Delete chat item" />
                                                    </button>
                                                </div>
                                                }
                                            }
                                        </MudCardContent>
                                    </MudCard>
                                </MudContainer>
                        </div>                        
                        } 
                    <br />
                    <hr />
                    <div style="text-align:center">
                        <button class="btn btn-link" @onclick="Close">
                            <img src="/img/icoBack3.png" width="35" title="Back" />
                        </button>
                        <button class="btn btn-link" @onclick="BtnChangeFontSize">
                            <img src="/img/icoFontAa.png" title="Font Size  تغيير انداز فونت" alt="FontSize" width="28"/>
                        </button>
                        <button class="btn btn-link" @onclick="ReadChats">
                            <img src="/img/gifUserLogin.gif" width="35" title="Refresh" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    Chat chat = new Chat ();
    string _cmd = "";
    bool _hasFetched;
    public bool IsOpen { get; set; } = true;
    int studentId = 0;
    int chatMateId = 0;
    User student = new User ();
    private MudTextField<string> reftxtSearch;
    string strSearch = "";
    public List<StudentCourse> lstStudentCourses = new List<StudentCourse>();
    public List<CourseFolder> lstCourseFolders = new List<CourseFolder> ();
    public List<StudentExam> lstStudentExams = new List<StudentExam>();
    public List<StudentMessage> lstStudentMessages = new List<StudentMessage> ();
    public List<Chat> lstChats = new List<Chat> ();
    public List<User> lstStudents = new List<User> ();    
    public string? strRunningPoint = "";
    private bool hasScrolled = false;
    private int unreadMessageCount = 0;
    private int unreadChatCount = 0;
    private int mateId=0;
    bool _help;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        ReadChats ();
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    public void Open() => IsOpen = true;
    private async Task Close()
        {
        if (OnClose.HasDelegate)
            {
            await OnClose.InvokeAsync();
            IsOpen = false;
            }
        }
    private async Task BtnChangeFontSize()
        {
        _cmd = (_cmd == "UseLargeFontSize") ? "": "UseLargeFontSize";
        StateHasChanged ();
        }
    public async Task BtnReadThisChatItem(Chat chat)
        {
        if ((_cmd == "ReadThisChatItem") & (chat.ChatId == Convert.ToInt32(appState.SelectedChatId)))
            {
            _cmd = "";
            appState.SetSelectedChatId (0);
            }
        else
            {
            _cmd = "ReadThisChatItem";
            appState.SetSelectedChatId (chat.ChatId);
            chat.ChatTags = (chat.ChatTags | 1);
            bool result = await feService.Update_ChatTags (chat);
            }
        StateHasChanged ();
        }
    public async Task BtnDeleteChatItem(int chatId)
        {
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> this chat item?<br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>");
        bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: message, yesText: "Yes", cancelText: "No");
        if (confirmResult == true)
            {
            bool result = await feService.Delete_Chat (chatId);
            if(result)
                {
                Snackbar.Add($"deleted", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                _hasFetched = false;
                studentId = Convert.ToInt32 (appState.UserId);
                chatMateId = Convert.ToInt32 (appState.ChatMateId);
                lstChats = await feService.Read_ChatsWithOneMate (studentId, chatMateId);
                StateHasChanged ();
                _hasFetched = true;

                }
            else
                {
                Snackbar.Add($"Failed to delete note!", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            }
        }
    public async Task ReadChats()
        {
        studentId = Convert.ToInt32 (appState.UserId);
        chatMateId = Convert.ToInt32 (appState.ChatMateId);
        lstChats.Clear ();
        lstChats = await feService.Read_ChatsWithOneMate (studentId, chatMateId);
        StateHasChanged ();
        }
    public void AddNewChatItem()
        {
        _cmd = "AddNewChatItem";
        chat.ChatText = "";
        StateHasChanged ();
        }
    public async Task BtnCreateChat()
        {
        if (chat.ChatText.Trim() == "")
            {
            Snackbar.Add("Text is empty!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            return;
            }
        else
            {
            studentId = Convert.ToInt32 (appState.UserId);
            chatMateId = Convert.ToInt32 (appState.ChatMateId);
            chat.FromId = studentId;
            chat.ToId = chatMateId;
            chat.DateTimeSent = DateTime.Now.ToString ("yyyy-MM-dd HH:mm");
            chat.ChatTags = 0;
            _hasFetched = false;
            int result = await feService.Create_Chat (chat);
            if(result > 0)
                {
                Snackbar.Add("Saved", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                _cmd = "";
                lstChats.Clear ();
                lstChats = await feService.Read_ChatsWithOneMate (studentId, chatMateId);
                StateHasChanged ();
                }
            else
                {
                Snackbar.Add("Failed to save chat!", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            _hasFetched = true;

            }
        }
    public void BtnCancelNewChat()
        {
        _cmd = "";
        StateHasChanged ();
        }
    public void BtnCancel()
        {
        appState.SetCmd("");
        Close ();
        }
}
