@page "/S_ReportStudentCourse/{userId:int}/{studentCourseId:int}/{courseName}"
@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@implements IDisposable

    <EditForm Model="lstStudentCourseTests">
    <div style="text-align: center;">
        <h3>@student.UserName </h3>
        <h5 style="color:indianred">@courseName <span style="font-size:small;color:royalblue">Running Tests</span><span style="color:black;font-style:italic"> report</span></h5>
        @{
            int i = 0;
            string testDirection = "";
            string optionDirection = "";
            //GetCourseInfoById (courseId);
            }
    </div>
    <hr />
    @foreach (StudentCourseTest tst in lstStudentCourseTests)
        {
        i++;
        testDirection = ((tst.TestTags & 1) == 1) ? "direction: rtl;text-align:right;" : "";
        <div style="@testDirection"><span style="font-weight:bold;">@i: @tst.TestTitle</span></div>
        optionDirection = ((tst.TestTags & 2) == 2) ? "direction: rtl;text-align:right;" : "";
         @foreach (var opt in tst.TestOptions)
            {
            int optcolor = 0;
            if (opt.TestOptionId == tst.TestKey)
                {
                optcolor = optcolor | 1;
                }
            if (opt.TestOptionId == tst.UserAns)
                {
                optcolor = optcolor | 2;
                }
            switch (optcolor)
                {
                case 0:
                        {
                        <div style="@optionDirection color:black"> - @opt.TestOptionTitle</div>
                        break;
                        }
                case 1:
                        {
                        <div style="@optionDirection color:blue"> ( ) @opt.TestOptionTitle</div>
                        break;
                        }
                case 2:
                        {
                        <div style="@optionDirection color:red"> (x) @opt.TestOptionTitle</div>
                        break;
                        }
                case 3:
                        {
                        <div style="@optionDirection color:goldenrod;font-weight:bold"> - @opt.TestOptionTitle</div>
                        break;
                        }
                }
            }
        <hr style="border-color:red" />
        }
</EditForm>
<br />
<div style="text-align:center">
    <button class="btn btn-link" @onclick= "()=> BtnBack()">
        <img src="/icons/icoBack_bt_1.png" style="width:40px" />
    </button>   
</div>


@code {
    [Parameter] public int userId { get; set; }
    [Parameter] public int studentCourseId { get; set; }
    [Parameter] public string? courseName { get; set; }
    bool hasFetched = false;
    User student = new User ();
    StudentCourse studentCourse = new StudentCourse();
    List<StudentCourseTest> lstStudentCourseTests = new List<StudentCourseTest> ();
    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            
            Navman.NavigateTo ("/Login");
            }
        student.UserName = appState.UserName;
        lstStudentCourseTests = await feService.Read_StudentCourseTests (studentCourseId, true);
        if (!hasFetched)
            hasFetched = true; 
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public void BtnBack()
        {
        Navman.NavigateTo ($"/S_Student");
        }
}
