@page "/S_Student"
@using ExaminerB.Service
@inject ProtectedSessionStorage sessionStorage
@inject FeService feService
@inject NavigationManager Navman
@inject AppState appState
@inject IJSRuntime JS
@implements IDisposable
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div class="container mt-2 align-items-center">
    <div style="font-size:larger; text-align:center;color:black">e<span style="color:indianred">x</span>aminer <span style="font-size:small;color:royalblue"> @appState.UserNickname</span></div>
    <hr style="color:red"/>
    @if (!_hasFetched)
        {
        <_Loading />
        }
    else if (_cmd == "OpenThisChat")
        {
        <Modal_Chats OnClose="HandleModalClose" />
        }
    else
        {
        <div class="accordion" id="accordionStudent" style="max-width:500px; margin: 0 auto;">
            @* StudentCourses *@
            <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button @(appState.Cmd=="ShowCourseFolders" ? "" : "collapsed")"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#CollapseId2"
                            aria-expanded="false"
                            aria-controls="CollapseId2" style="background-color:WhiteSmoke">
                            <h4>Courses <span style="font-weight:bold;font-size:x-small;color:forestgreen">( @lstStudentCourses.Count )</span></h4>
                        </button>
                    </h4>
                    @if (appState.Clps=="C")
                        {
                        _clps = "collapse show";
                        }
                    else
                        {
                        _clps = "collapse";
                        }
                    <div id="CollapseId2" class="accordion-collapse @_clps" data-bs-parent="#accordionStudent">
                        <div class="accordion-body" style="background-color:white">
                            <div id="T2">
                                @foreach (StudentCourse studentCourse in lstStudentCourses)
                                    {
                                    <MudContainer Class="mt-2 px-0">
                                        <MudCard Class="mx-0">
                                            <MudCardContent Style="background-color: rgba(250,250,2250);">
                                                @* use (double) to make result decimal not integer *@
                                                @{strRunningPoint = studentCourse.NumberOfTests == 0 ?"---": $"{studentCourse.CorrectAnswers} / {studentCourse.NumberOfTests} = {((double)studentCourse.CorrectAnswers / studentCourse.NumberOfTests * 20.0):F1}";}
                                                <div style="color:black;font-weight:bold;">
                                                    @studentCourse.CourseName : <span style="font-size:small;font-weight:bold;color:indianred">@strRunningPoint</span>
                                                </div>
                                                <button class="btn btn-link" Title=@((_help)?"get a random Test from course" + studentCourse.CourseName :"") @onclick="()=>BtnTakeATest (studentCourse.StudentCourseId)">
                                                    <img src="/img/gifChart2.gif" width="32" />
                                                </button>
                                                @if ((studentCourse.StudentCourseTags & 5) == 5)
                                                    {
                                                    <button class="btn btn-link" Title=@((_help)?"report " + studentCourse.StudentNickname + " tests answered in course: " + studentCourse.CourseName:"") @onclick="()=>BtnReportStudentCourseTests(studentCourse.StudentCourseId, studentCourse.CourseName)">
                                                        <img src="/img/icoReport1.png" width="20" />
                                                    </button>
                                                    }
                                                @if ((studentCourse.StudentCourseTags & 3) == 3)
                                                    {
                                                    <button class="btn btn-link" Title=@((_help)?"try correct your answers in course: " + studentCourse.CourseName:"") @onclick="()=>BtnTryToCorrect(studentCourse.StudentCourseId)">
                                                        <img src="/img/icoRedo.png" width="22" />
                                                    </button>
                                                    }
                                                @if ((studentCourse.StudentCourseTags & 3) == 3)
                                                    {
                                                    <button class="btn btn-link" Title=@((_help)?"keep tests you have answered incorrectly":"") @onclick='async ()=> await BtnFilterStudentCourseTests(studentCourse , "filter")'>
                                                        <img src="/img/icoFilter.png" width="22" />
                                                    </button>
                                                    <button class="btn btn-link" Title=@((_help)?"clear your sheet":"") style="border: none;" @onclick='async ()=> await BtnFilterStudentCourseTests(studentCourse, "wipeout")'>
                                                        <img src="/img/icoEraser.png" width="22" />
                                                    </button>
                                                    }
                                                @* CourseFolders *@
                                                @if((appState.Cmd=="ShowCourseFolders") & (studentCourse.CourseId == appState.CourseId))
                                                    {
                                                    if ((lstCourseFolders.Count > 0))
                                                        {
                                                        <hr style="color:indianred" />
                                                        <h6 style="padding-left:10px;">web folders: </h6>
                                                        @foreach(CourseFolder cf in lstCourseFolders)
                                                            {                                                        
                                                            <div style="color:indianred;font-size:small;padding-left:15px;"><a href="@cf.CourseFolderUrl" target="_blank" style="color:indianred;text-decoration:none;">@cf.CourseFolderTitle</a></div>
                                                            }
                                                        }
                                                    else
                                                        {
                                                        <hr style="color:gray" />
                                                        <div style="color:gray">No folders for this course</div>
                                                        }
                                                }
                                                else
                                                    {
                                                    <div>
                                                        <button class="btn btn-link" Title=@((_help)?"show links for "+studentCourse.CourseName + " folder(s) online":"") style="padding:15px;border: none;" @onclick='async ()=> await BtnShowCourseFolders(studentCourse)'>
                                                            <img src="/img/icoFolderCF.png" width="26"/>
                                                        </button>
                                                    </div>
                                                    }
                                            </MudCardContent>
                                        </MudCard>
                                    </MudContainer>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            <br />
            @* StudentExams *@
            <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#CollapseId1"
                            aria-expanded="false"
                            aria-controls="CollapseId1" style="background-color:whitesmoke">
                            <h4>Exams <span style="font-weight:bold;font-size:x-small;color:forestgreen">( @lstStudentExams.Count )</span></h4>
                        </button>
                    </h4>
                    @if (appState.Clps=="E")
                        {
                        _clps = "collapse show";
                        }
                    else
                        {
                        _clps = "collapse";
                        }
                    <div id="CollapseId1" class="accordion-collapse @_clps" data-bs-parent="#accordionStudent">
                        <div class="accordion-body" style="background-color:white">
                            <div id="T1">
                                <table class="table table-borderless">
                                    @foreach (StudentExam studentExam in lstStudentExams)
                                    {
                                        <MudContainer Class="mt-2 px-0">
                                            <MudCard Class="mx-0">
                                                <MudCardContent Style="background-color:whitesmoke;">
                                                    <MudGrid>
                                                        <!-- Left column -->
                                                        <MudItem xs="6">
                                                            @* SE_Tags 1:active 2:started 4:finished 8:review? *@
                                                            @if ((studentExam.StudentExamTags & 5) == 1)
                                                                {
                                                                <div style="color:indianred; font-weight:bold;">
                                                                    <div><span style="color:gray; font-weight:normal;">@studentExam.CourseName</span></div>
                                                                    <div>@studentExam.ExamTitle</div>
                                                                    <div><span style="color:black; font-weight:normal;">@studentExam.ExamDateTime</span></div>
                                                                </div>
                                                                }
                                                            else 
                                                                {
                                                                <div style="color:darkslategrey; font-weight:bold;">
                                                                    <div><span style="color:gray; font-weight:normal;">@studentExam.CourseName</span></div>
                                                                    <div>@studentExam.ExamTitle</div>
                                                                    <div><span style="color:black; font-weight:normal;">@studentExam.ExamDateTime</span></div>
                                                                </div>
                                                                }
                                                        </MudItem>
                                                        <!-- Right column -->
                                                        <MudItem xs="6">
                                                            <div>Tests: @studentExam.ExamNTests</div>
                                                            <div>Time: @studentExam.ExamDuration min</div>
                                                            @if ((studentExam.StudentExamTags & 7) == 1)
                                                                {
                                                                <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Small" OnClick="async () => await BtnStartExam(studentExam)" />                                                            
                                                                }
                                                            else if ((studentExam.StudentExamTags & 7) == 3)
                                                                {
                                                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="async () => await BtnStartExam(studentExam)" />
                                                                }
                                                            else if ((studentExam.StudentExamTags & 4) == 4)
                                                                {
                                                                <div>
                                                                    <span style="color:indianred;font-size:small;font-weight:bold;">
                                                                        Pnt @studentExam.StudentExamPoint.ToString("F2")/20
                                                                    </span>
                                                                </div>
                                                                }
                                                            @if ((studentExam.StudentExamTags & 13) == 13)
                                                                {
                                                                <MudIconButton Icon="@Icons.Material.Filled.Assignment" Size="Size.Small" OnClick="() => BtnReportExam(studentExam.StudentExamId)" />                                                            
                                                                }
                                                    </MudItem>
                                                </MudGrid>
                                            </MudCardContent>
                                        </MudCard>
                                    </MudContainer>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            <br />
            @* StudentMessages *@
            <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#CollapseId3"
                            aria-expanded="false"
                            aria-controls="CollapseId3" style="background-color:WhiteSmoke">
                            <h4>
                                Messages <span style="font-weight:bold;font-size:x-small;color:indianred">( @unreadMessageCount <span style="color:blue">/@lstStudentMessages.Count</span> )</span>
                            </h4>
                        </button>
                    </h4>
                    @if (appState.Clps=="M")
                        {
                        _clps = "collapse show";
                        }
                    else
                        {
                        _clps = "collapse";
                        }
                    <div id="CollapseId3" class="accordion-collapse @_clps" data-bs-parent="#accordionStudent">
                        <div class="accordion-body" style="background-color:white">
                            <div id="T3">
                            <div style="text-align:center">
                                <button class="btn btn-outline-info align-items-center" Title=@((_help)?"message statistics":"") @onclick="()=>BtnGotoReportStudentMessages()">
                                    <img src="/img/icoChartPie.png" width="24" />
                                     Check statistics of your messages
                                </button>
                            </div>
                                @* List messages *@
                                @foreach (StudentMessage studentMessage in lstStudentMessages)
                                    {
                                    <MudContainer Class="mt-2 px-0">
                                        <MudCard Class="mx-0">
                                            <MudCardContent Style="background-color:whitesmoke;">
                                                @if((studentMessage.StudentMessageTags & 1) == 1)
                                                    {
                                                    <div style="color:black;font-weight:normal;text-align:center;">
                                                        @studentMessage.MessageTitle
                                                    </div>
                                                    <div style="font-size:smaller; font-weight:bold;color:indianred;text-align:center; margin-top:10px;">
                                                        @studentMessage.DateTimeSent
                                                    </div>
                                                    <hr style="color:gray" />
                                                    <button class="btn btn-link" Title=@((_help)?"change font":"") @onclick="()=>BtnCangeFont(studentMessage.MessageId)">
                                                        <img src="/img/icoFontAa.png" width="20" />
                                                    </button>
                                                    @if((studentMessage.MessageId == Convert.ToInt32(appState.MessageId)) & (_cmd=="useCourierFont"))
                                                        {
                                                        _font="font-family:Courier New, Courier, monospace;font-size:small;";
                                                        }
                                                    else
                                                        {
                                                        _font="font-family:'Segoe UI';";
                                                        }
                                                    <div style="@_font color:black;font-weight:normal;padding-left:10px; white-space: pre-wrap">@studentMessage.MessageBody</div>
                                                    <hr style="color:gray" />
                                                    <div style="text-align:center">
                                                        <button class="btn btn-link" Title=@((_help)?"Delete student Message":"") @onclick="()=>BtnDeleteStudentMessage(studentMessage)">
                                                            <img src="/img/icoDelete1.png" width="20" />
                                                        </button>
                                                        @* IsBookmarked *@
                                                        @if ((studentMessage.StudentMessageTags & 2) == 2)
                                                            {
                                                            <button class="btn btn-link" Title=@((_help)?"Remove bookmark of this message":"") @onclick="()=>BtnSetStudentMessageBookmark(studentMessage, 0)">
                                                                <img src="/img/icoBookmark1.png" width="22" />
                                                            </button>
                                                            }
                                                        else
                                                            {
                                                            <button class="btn btn-link" Title=@((_help)?"Bookmark this message":"") @onclick="()=>BtnSetStudentMessageBookmark(studentMessage, 1)">
                                                                <img src="/img/icoBookmark0.png" width="22" />
                                                            </button>                                    
                                                            }
                                                        @* TypeIsFeedback *@
                                                        @if ((studentMessage.StudentMessageTags & 8) == 8)
                                                            {
                                                            @* AnswerIsYes/No *@
                                                            @if ((studentMessage.StudentMessageTags & 16) == 16)
                                                                {
                                                                <button class="btn btn-link" Title=@((_help)?"You answered Yes":"") @onclick="()=>BtnSetMyAnswer(studentMessage, 2)">
                                                                    <img src="/img/icoYesNo_Yes.png" width="20" />
                                                                </button>
                                                                }
                                                            else if ((studentMessage.StudentMessageTags & 32) == 32)
                                                                {
                                                                <button class="btn btn-link" Title=@((_help)?"You answered No":"") @onclick="()=>BtnSetMyAnswer(studentMessage, 2)">
                                                                    <img src="/img/icoYesNo_No.png" width="20" />
                                                                </button>
                                                                }
                                                            else
                                                                {
                                                                if ((appState.Cmd == "GetStudentAnswer") & (appState.MessageId == studentMessage.MessageId))
                                                                    {
                                                                    <button class="btn btn-link" Title=@((_help)?"Answer Yes":"") @onclick="()=>BtnSetMyAnswer(studentMessage, 1)">
                                                                        <img src="/img/icoYesNo_Yes.png" width="20" />
                                                                    </button>
                                                                    <button class="btn btn-link" Title=@((_help)?"Answer No":"") @onclick="()=>BtnSetMyAnswer(studentMessage, 0)">
                                                                        <img src="/img/icoYesNo_No.png" width="20" />
                                                                    </button>                                                
                                                                    }
                                                                else
                                                                    {
                                                                    //Lets GetStudentAnswer...
                                                                    <button class="btn btn-link" Title=@((_help)?"Answer Y/N":"") @onclick="()=>BtnGetStudentAnswer(studentMessage.MessageId)">
                                                                        <img src="/img/icoYesNo.png" width="24" />
                                                                    </button>
                                                                    }
                                                                }
                                                            }
                                                    </div>
                                                    }
                                                else
                                                    {
                                                    <span style="padding-left:5px; color:indianred"> @studentMessage.DateTimeSent </span>
                                                    <button class="btn btn-link" Title=@((_help)?"Open/Show this message":"") @onclick="()=>BtnSetStudentMessageAsRead(studentMessage)">
                                                        <img src="/img/icoEnvelop2.png" width="20" />
                                                    </button>
                                                    <span style="color:black;font-weight:bold;padding-left:2px;">@(studentMessage.MessageTitle.Length > 6 ? studentMessage.MessageTitle.Substring(0,6) + "..." : studentMessage.MessageTitle)</span>
                                                    }
                                            </MudCardContent>
                                        </MudCard>
                                    </MudContainer>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                @* STUDENTS CHATS *@
                <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#CollapseId4"
                            aria-expanded="false"
                            aria-controls="CollapseId4" style="background-color:WhiteSmoke">
                            @* <h4>Chats <span style="font-weight:bold;font-size:x-small;color:indianred">( <span style="color:royalblue">@lstChats.Count / @unreadChatCount</span> )</span></h4> *@
                            <h4>Chat <span style="font-weight:bold;font-size:x-small;color:indianred">( <span style="color:royalblue">@lstChats.Count</span> )</span></h4>
                        </button>
                    </h4>
                    @if (appState.Clps=="CH")
                        {
                        _clps = "collapse show";
                        }
                    else
                        {
                        _clps = "collapse";
                        }
                    <div id="CollapseId4" class="accordion-collapse @_clps" data-bs-parent="#accordionStudent">
                        <div class="accordion-body" style="background-color:white">
                            <div id="T3">
                                @* list chats *@
                                @foreach (Chat chat in lstChats)
                                    {
                                    <MudContainer Class="mt-2 px-0">
                                        <MudCard Class="mx-0">
                                            <MudCardContent Style="background-color:whitesmoke;">
                                                <div class="d-flex align-items-center">
                                                    <button class="btn btn-link" Title=@((_help)?"Show chat history with this friend":"") @onclick="()=>BtnOpenThisChat(chat)">
                                                        <img src="/img/icoEnvelop2.png" width="18" />
                                                    </button>
                                                    @if(chat.FromId == student.UserId)
                                                        {
                                                        <span style="font-size:x-small; font-weight:bold;color:gray;"> @chat.DateTimeSent </span>
                                                        <span style="font-size:x-small; font-weight:normal;color:gray;padding-left:10px;"> @chat.ToName </span>
                                                        }
                                                    else
                                                        {
                                                        <span style="font-size:x-small; font-weight:bold;color:indianred;"> @chat.DateTimeSent </span>
                                                        <span style="font-size:x-small; font-weight:bold;color:Indianred;padding-left:10px;"> @chat.FromName </span>
                                                        }
                                                </div>
                                                <div>
                                                    @if (chat.ChatText.Length == 10)
                                                        {
                                                        <span style="font-size:small; font-weight:normal;color:black;padding-left:10px;"> @chat.ChatText<span>...</span></span>
                                                        }
                                                    else
                                                        {
                                                        <span style="font-size:small; font-weight:normal;color:black;padding-left:10px;"> @chat.ChatText</span>
                                                        }
                                                </div>
                                                @* <div  style="color:black;font-weight:normal;padding-left:15px; text-align:left;">
                                                </div> *@
                                            </MudCardContent>
                                        </MudCard>
                                    </MudContainer>
                                    }
                                <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                    <MudCard Class="mx-auto">
                                        <MudCardContent Style="background-color:rgba(249,249,249);">
                                            @* SEARCH *@
                                            <div class="d-flex">
                                                <MudTextField @ref="reftxtSearch" @bind-Value="strSearch" Label="search friends" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                                <button class="btn btn-link" Title=@((_help)?"Search my friends":"") @onclick="()=>BtnReadStudentsBySearch()">
                                                    <img src="/img/icoSearch.png" width="24" />
                                                </button>
                                            </div>
                                            @* RESULTS: LIST FRIENDS *@
                                            @if(lstStudents.Count > 0)
                                                {
                                                @foreach(User stdnt in lstStudents)
                                                    {
                                                    <div class="d-flex align-items-center mb-1" style="font-size:smaller">
                                                        <button class="btn btn-link" Title=@((_help)?"Open/Start chat with this friend":"") @onclick="()=>BtnStartNewChat(stdnt.UserId)">
                                                            <img src="/img/icoUser.png" width="20" />
                                                        </button>
                                                        @stdnt.UserName - @stdnt.UserNickname
                                                    </div>
                                                    }
                                                }        
                                        </MudCardContent>
                                    </MudCard>
                                </MudContainer>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <br />
        <MudSwitch @bind-Value="_help" Label="help on mouse hover" Color="Color.Primary" Dense="true"></MudSwitch>
        <hr />
        <div style="text-align:center">
            <button class="btn btn-link" Title=@((_help)?"Exit":"") @onclick= "()=> BtnExit()">
                <img src="/img/gifExit.gif" style="width:60px" />
            </button>
        </div>
        }
</div>
<script>
    window.scrollToTop = () => { window.scrollTo({ top: 0, behavior: 'smooth' }); }; 
</script>

@code {
    User student = new User ();
    private MudTextField<string> reftxtSearch;
    string strSearch = "";
    public List<StudentCourse> lstStudentCourses = new List<StudentCourse>();
    public List<CourseFolder> lstCourseFolders = new List<CourseFolder> ();
    public List<StudentExam> lstStudentExams = new List<StudentExam>();
    public List<StudentMessage> lstStudentMessages = new List<StudentMessage> ();
    public List<Chat> lstChats = new List<Chat> ();
    public List<User> lstStudents = new List<User> ();    
    public string? strRunningPoint = "";
    private bool _hasFetched = false;
    private bool hasScrolled = false;
    private int unreadMessageCount = 0;
    private int unreadChatCount = 0;
    private int mateId=0;
    bool _help;
    string _clps=""; //appState.Clps values: C:Courses, E:Exams, M:Messages, CH:Chats
    string _cmd = "";
    string _font="font-family:'Segoe UI';";

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        student.UserId = appState.UserId ?? 0;
        if(student.UserId > 0)
            {
            //on first run, student.UserId is 0
            //student.UserId = appState.UserId ?? 0;
            lstStudentExams = await feService.Read_StudentExams(student.UserId, "ByStudentId")?? new List<StudentExam>();
            student.UserTags = Convert.ToInt32(appState.UserTags);
            student.UserName = appState.UserName ?? "";
            student.UserNickname = appState.UserNickname ?? "";
            lstStudentCourses = await feService.Read_StudentCourses (student.UserId, "ByStudentIdIgnoreInactiveCourses");
            await ReadMessageList ();
            await ReadChatList ();
            _hasFetched = true;
            }
        }
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (firstRender && !hasScrolled)
            {
            hasScrolled = true;
            await JS.InvokeVoidAsync("scrollToTop");
            }
        }
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }    
    //btns for StudentCourses
    private void BtnTakeATest (int studentCourseId)
        {
        appState.SetClps ("C");
        Navman.NavigateTo ($"S_StudentCourseTest/{student.UserId}/{studentCourseId}/new");
        }
    private void BtnTryToCorrect (int studentCourseId)
        {     
        appState.SetClps ("C");
        Navman.NavigateTo ($"S_StudentCourseTest/{student.UserId}/{studentCourseId}/edit");
        }
    private async Task BtnShowCourseFolders (StudentCourse studentCourse)
        {
        appState.SetClps ("C");
        _hasFetched = false;
        appState.SetCmd ("ShowCourseFolders");
        appState.SetCourseId (studentCourse.CourseId);
        lstCourseFolders = await feService.Read_CourseFolders (studentCourse.CourseId);
        _hasFetched = true;
        }
    private void BtnReportStudentCourseTests (int studentCourseId, string courseName)
        {
        appState.SetClps ("C");
        Navman.NavigateTo ($"/S_ReportStudentCourse/{student.UserId}/{studentCourseId}/{courseName}");
        }
    private async Task BtnFilterStudentCourseTests (StudentCourse studentCourse, string mode)
        {
        //this code replaced by lambda equivalent
        // switch (mode)
        //     case "filter":{message = $"Filter out correct answers in Course ( {studentCourse.CourseName} ) \n just keep incorrect ones?";break;}
        //     case "wipeout":{message = $"Clear Running Tests in Course ( {studentCourse.CourseName} ) ?";break;}
        //---lambda:
        appState.SetClps ("C");
        string msg = mode switch
            {
                "filter" => $"<hr><span style='color:indianred'>Filter out </span>your correct answers in ( {studentCourse.CourseName} ) ?<br><br> <div style='text-align:center'><img src='/img/icoFilter.png' width='40'/></div><br><hr>",
                "wipeout" => $"<hr><span style='color:indianred'>Clear</span> all your sample tests in ( {studentCourse.CourseName} ) ?<br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>",
                _ => throw new ArgumentException($"Invalid mode: {mode}")
                };        
        var message = new MarkupString($"{msg}");
        bool? confirmResult = await DialogService.ShowMessageBox(
            title: "Confirm Clear your data",
            markupMessage: message,
            yesText: "Yes",
            cancelText: "No");
        if (confirmResult == true)
            {
            var result = await feService.Delete_StudentCourseTests (mode, studentCourse);
            //refresh
            lstStudentCourses = await feService.Read_StudentCourses (student.UserId, "ByStudentIdIgnoreInactiveCourses");
            }
        }
    //btns for StudentExams
    public async Task BtnStartExam(StudentExam studentExam)
        {
        appState.SetClps ("E");
        //read ExamTags : is exam training? Yes:allow Help
        Exam exam = await feService.Read_Exam (studentExam.ExamId, false);
        //keep ExamTags in appState (use in S-StudentExamTest page)
        appState.SetExamTags (exam.ExamTags);
        bool result = await feService.Update_StudentExamTags(studentExam, "startedOn");
        if (result)
            {
            appState.SetStudentExamId (studentExam.StudentExamId);
            Navman.NavigateTo ($"/S_StudentExamTests");
            }
        }
    private void BtnReportExam(int studentExamId)
        {
        appState.SetClps ("E");
        Navman.NavigateTo ($"/S_ReportStudentExam/{studentExamId}/Review");
        }    
    //btns for StudentMessages
    private async Task BtnSetStudentMessageAsRead(StudentMessage studentMessage)
        {
        appState.SetClps ("M");
        //modes: setOn, setOff
        studentMessage.StudentMessageTags |= 1;
        studentMessage.DateTimeRead = DateTime.Now.ToString("yyyy-MM-dd HH:mm");
        bool result = await feService.Update_StudentMessageSetAsRead (studentMessage);
        await ReadMessageList ();
        StateHasChanged ();
        }
    private async Task BtnSetStudentMessageBookmark(StudentMessage studentMessage, int mode)
        {
        appState.SetClps ("M");
        //modes: 0:setOff, 1:setOn
        switch (mode)
            {
            case 0:
                    {
                    studentMessage.StudentMessageTags &= ~2;
                    break;
                    }
            case 1:
                    {
                    studentMessage.StudentMessageTags |= 2;
                    break;
                    }
            }
        bool result = await feService.Update_StudentMessageTags (studentMessage);
        await ReadMessageList ();

        switch (mode)
            {
            case 0:
                    {
                    Snackbar.Add("Bookmark removed", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar                    
                    break;
                    }
            case 1:
                    {
                    Snackbar.Add("Message Bookmarked", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar                    
                    break;
                    }
            }
        appState.SetCmd ("");
        StateHasChanged ();
        }
    private async Task BtnSetMyAnswer(StudentMessage studentMessage, int ans)
        {
        appState.SetClps ("M");
        //ans: 0:No, 1:Yes
        switch (ans)
            {
            case 2:
                    {
                    studentMessage.StudentMessageTags &= ~16;
                    studentMessage.StudentMessageTags &= ~32;
                    appState.SetCmd ("");
                    break;
                    }
            case 1:
                    {
                    studentMessage.StudentMessageTags |= 16;
                    studentMessage.StudentMessageTags &= ~32;
                    break;
                    }
            case 0:
                    {
                    studentMessage.StudentMessageTags &= ~16;
                    studentMessage.StudentMessageTags |= 32;
                    break;
                    }
            }
        bool result = await feService.Update_StudentMessageTags (studentMessage);
        await ReadMessageList ();
        StateHasChanged ();
        }
    private async Task BtnGetStudentAnswer(int messageId)
        {
        appState.SetClps ("M");
        //Lets GetStudentAnswer...
        appState.SetCmd ("GetStudentAnswer");
        appState.SetMessageId (messageId);
        StateHasChanged ();
        }
    private async Task BtnDeleteStudentMessage(StudentMessage studentMessage)
        {
        appState.SetClps ("M");
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> Message? Are you sure?<br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>");
        bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: message, yesText: "Yes", cancelText: "No");
        if (confirmResult == true)
            {
            studentMessage.StudentMessageTags |= 4;
            bool result = await feService.Update_StudentMessageTags (studentMessage);
            Snackbar.Add("Deleted", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            await ReadMessageList ();
            }
        StateHasChanged ();                
        }
    private async Task BtnGotoReportStudentMessages()
        {
        appState.SetClps ("M");
        appState.SetReturnPage ("S_Student");
        appState.SetStudentId (student.UserId);
        appState.SetStudentName (student.UserName);
        appState.SetStudentNickname (student.UserNickname);
        Navman.NavigateTo ($"/T_ReportMessages/S/{student.UserId}");
        }
    private void BtnCangeFont(int messageId)
        {
        if(messageId == Convert.ToInt32(appState.MessageId))
            {
            _cmd = (_cmd == "useCourierFont")?  "": "useCourierFont";
            }
        else
            {
            appState.SetMessageId (messageId);
            _cmd = "useCourierFont";
            }
        StateHasChanged ();
        }
    //btns for Chats
    public async Task BtnReadStudentsBySearch()
        {
        appState.SetClps ("CH");
        if(strSearch !="")
            {
            int teacherId = Convert.ToInt32(appState.TeacherId);
            lstStudents = await feService.Read_StudentsByKeyword (teacherId, strSearch, 0);
            Snackbar.Add($"Students like '{strSearch}' listed...", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            StateHasChanged ();
            }
        }
    private async Task BtnSetChatAsRead(Chat chat)
        {
        chat.ChatTags |= 1; //set chatTags bit1(IsRead) On
        bool result = await feService.Update_ChatTags (chat);
        appState.SetClps ("CH");
        //modes: setOn, setOff
        await ReadChatList ();
        StateHasChanged ();
        }
    private async Task BtnOpenThisChat(Chat chat)
        {
        await BtnSetChatAsRead(chat);
        appState.SetClps ("CH");
        mateId = (chat.FromId == Convert.ToInt32(appState.UserId))? chat.ToId : chat.FromId;
        appState.SetChatMateId(mateId);
        _cmd = "OpenThisChat";
        StateHasChanged ();
        }
    private async Task BtnStartNewChat(int mateId)
        {
        appState.SetClps ("CH");
        appState.SetChatMateId(mateId);
        _cmd = "OpenThisChat";
        StateHasChanged ();
        }
    private async Task BtnDeleteChat(StudentMessage studentMessage)
        {
        appState.SetClps ("CH");
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> Message? Are you sure?<br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>");
        bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: message, yesText: "Yes", cancelText: "No");
        if (confirmResult == true)
            {
            studentMessage.StudentMessageTags |= 4;
            bool result = await feService.Update_StudentMessageTags (studentMessage);
            Snackbar.Add("Deleted", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            await ReadMessageList ();
            }
        StateHasChanged ();                
        }
    //methods
    private async Task ReadMessageList()
        {
        lstStudentMessages = await feService.Read_StudentMessages (student.UserId, "ByStudentIdIgnoreDeletedMessages");        
        //first bit: 0 = unread, 1 = read
        unreadMessageCount = lstStudentMessages.Count(m => (m.StudentMessageTags & (1 << 1)) == 0);
        }
    private async Task ReadChatList()
        {
        student.UserId = appState.UserId ?? 0;
        lstChats.Clear ();
        lstChats = await feService.Read_Chats (student.UserId);        
        //first bit: 0 = unread, 1 = read
        unreadChatCount = lstChats.Count(m => (m.ChatTags & (1 << 1)) == 0);
        }
    private async Task HandleModalClose() 
        {
        _cmd = "";
        int userId = Convert.ToInt32 (appState.UserId);
        lstStudentCourses = await feService.Read_StudentCourses (student.UserId, "ByStudentIdIgnoreInactiveCourses");
        await ReadMessageList ();
        await ReadChatList();        
        StateHasChanged(); 
        }
    private void BtnExit()
        {
        Navman.NavigateTo("/Login", true);
        }
}
