@page "/T_CourseTest"
@inject AppState appState
@inject FeService feService
@inject NavigationManager Navman
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@if (!_hasFetched)
        {
    <_ScanSheets />
    }
else
    {
    <EditForm Model="test" style="max-width:600px; margin: 0 auto;">
        <div style="text-align: center;">
            <h2 style="color:gray">e<span style="color:indianred">x</span>aminer<span style="font-style:italic;font-size:small;color:royalblue"> WebApp </span> <span style="font-style:italic;font-size:small;color:indianred"> - @appState.UserRole : @courseName  </span></h2>
            @* <h5 style="color:IndianRed">@courseName</h5> *@
        </div>
        @if (appState.Message != "")
            {
            <div style="text-align: center;">
                <h4 style="color:indianred">@appState.Message</h4>
            </div>
            }
        <hr style="color:indianRed" />
        @* <h5>TEST # @test.TestId</h5> *@
        @* 1-Test title *@
        @if ((test.TestTags & 1) == 1)
            {
            <textarea class="form-control form-text" @ref="txtTestTitle" @bind = "test.TestTitle" placeholder="Test Title..." style="font-weight:bold; width:100%; height:60px; text-align: right;" dir="rtl">@test.TestTitle</textarea>
            }
        else
            {
            <textarea class="form-control form-text" @ref="txtTestTitle" @bind = "test.TestTitle" placeholder="Test Title..." style="font-weight:bold; width:100%;height:60px;">@test.TestTitle</textarea>
            }
        <br />
        <div>
            <div id="selectTopicComboBox" style="display: flex; gap: 20px; align-items: flex-start; background-color: whitesmoke; padding: 10px; border-radius: 12px;">  
                @* 2- Combo: Topics *@
                <div style="flex: 1; color: IndianRed;">
                    <MudSelect T="int" Label="Topic" @bind-Value="@test.TopicId" Class="w-auto my-select" Variant="Variant.Outlined" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                        @foreach (var topic in lstCourseTopics)
                            {
                            if (topic.CourseTopicId == test.TopicId)
                                {
                               <MudSelectItem Value="@topic.CourseTopicId" selected>@topic.CourseTopicTitle</MudSelectItem> 
                                }
                            else
                                {
                               <MudSelectItem Value="@topic.CourseTopicId">@topic.CourseTopicTitle</MudSelectItem> 
                                }
                            }
                    </MudSelect>
                    <br />
                    <div class="form-check form-check-inline" style="padding-top:8px;">
                        <input class="form-check-input" type="checkbox" checked="@((test.TestTags & 1) == 1)" @onchange="e=>BtnUpdateTestTagsInPlace(test, 1, (bool)e.Value)"/>
                        <label class="form-check-label" style="font-size: small; color: RoyalBlue;padding-right:15px;">Test RTL </label>
                    </div>
                    <div class="form-check form-check-inline" style="padding-top:8px;">
                        <input class="form-check-input" type="checkbox" checked="@((test.TestTags & 2) == 2)" @onchange="e=>BtnUpdateTestTagsInPlace(test, 2, (bool)e.Value)"/>
                        <label class="form-check-label" style="font-size: small; color: RoyalBlue;">Opts RTL</label>
                    </div>
                </div>
                @* 3- Combo: Levels *@
                <div style="flex: 1; color: IndianRed;">
                    <MudSelect T="int" Label="Level" @bind-Value="@test.TestLevel" Class="w-auto my-select" Variant="Variant.Outlined" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                         @for (int i = 1; i <= 5; i++)
                            {
                            int x = i;
                            <MudSelectItem Value=@x>level @x</MudSelectItem> 
                            }
                    </MudSelect>
                    <br />
                    @if (appState.Cmd == "AddNewTest")
                        {
                        <button class="btn btn-link" @onclick="BtnCreateTest">
                            <img src="/img/icoSave2.png" width="25" />
                        </button>
                        }
                    else
                        {
                        <button class="btn btn-link" @onclick="BtnUpdateTest">
                            <img src="/img/icoSave2.png" width="25" />
                        </button>
                        <button class="btn btn-link" @onclick="BtnDeleteTest">
                            <img src="/img/icoDelete1.png" width="25" />
                        </button>
                        <button class="btn btn-link" type="submit" @onclick="BtnBack">
                            <img src="/img/icoBack2.png" width="25" />
                        </button>
                        }
                </div>
            </div>
        </div>
        <hr style="color:red" />
        @* 4- CARD: Options *@
        <div class="accordion" id="accordionTestOptions">
            <div class="accordion-item ">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#TestOptions"
                            aria-expanded="false"
                            aria-controls="TestOptions">
                        <h4 style="color:indianred"> Options </h4>
                    </button>
                </h4>
                <div id="TestOptions" class="accordion-collapse collapse" data-bs-parent="#accordionTestOptions">
                    <div class="accordion-body" style="background-color:white">
                        @if (appState.Cmd != "AddNewTest")
                            {
                            @* 5- Optionn *@
                            i = 0;
                            foreach (TestOption opt in test.TestOptions)
                                {
                                i++;
                                <div class="container mt-2">
                                    <div class="card">
                                        <div class="card-body bg-light">
                                            <div style="flex: 1; color: IndianRed;">
                                                <h6 style="color:indianRed">Option @i<span style="font-size:0.5em; color: gray"> / @test.TestOptions.Count</span></h6>
                                            </div>
                                            @* OptionTitle *@
                                            @if ((@test.TestTags & 2) == 2)
                                                {
                                                <textarea class="form-control form-text" @bind="opt.TestOptionTitle" placeholder="Option title..." style="width:100%;height:35px;text-align: right;" dir="rtl"></textarea>
                                                }
                                            else
                                                {
                                                <textarea class="form-control form-text" @bind="opt.TestOptionTitle" placeholder="Option title..." style="width:100%;height:35px"></textarea>
                                                }
                                            @* Checks: Tags {Ans, ForceLast} *@
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" checked="@((opt.TestOptionTags & 2) == 2)" @onchange="e=>BtnUpdateTestOptionTagsInPlace(opt, 2, (bool)e.Value)"/>
                                                <label class="form-check-label" style="font-size: small; color: RoyalBlue;padding-right:15px;">Ans </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" checked="@((opt.TestOptionTags & 1) == 1)" @onchange="e=>BtnUpdateTestOptionTagsInPlace(opt, 1, (bool)e.Value)"/>
                                                <label class="form-check-label" style="font-size: small; color: RoyalBlue;padding-right:15px;">ForceLast </label>
                                            </div>
                                            <button class="btn btn-link" type="submit" @onclick="()=>BtnUpdateTestOption(opt)">
                                                <img src="/img/icoSave2.png" width="25" />
                                            </button>
                                            <button class="btn btn-link" type="submit" @onclick="()=>BtnDeleteTestOption(opt.TestOptionId)">
                                                <img src="/img/icoDelete1.png" width="25" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                }
                            }
                            @* Add NewTestOption *@        
                            @if (appState.Cmd == "AddNewTestOption")
                                {
                                <div class="container mt-2">
                                    <div class="card">
                                        <div class="card-body bg-light">
                                            <h5 style="color:royalblue">Add New Option</h5>
                                            <div class="mb-3">
                                                <input class="form-control" @ref="txtNewTestOption" @bind="strNewTestOption" placeholder="New Option..."/>
                                            </div>
                                            <button class="btn btn-link" name="btnNewTestOption" type="submit" @onclick="()=>BtnCreateTestOption(test.TestId)">
                                                <img src="/img/icoSave2.png" width="22" />
                                            </button>        
                                            <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                <img src="/img/icoCancel.png" width="24" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                }
                            else
                                {
                                if (test.TestOptions?.Count < 5)
                                    {
                                    <div style="text-align:center;">
                                        <button class="btn btn-link" type="submit" @onclick="BtnAddNewTestOption">
                                            <img src="/img/icoAdd0.png" width="25" />
                                        </button>
                                    </div>
                                    }
                                }
                    </div>
                </div>
            </div>
        </div>
        @* End CARD Options *@
        <hr style="color:Red" />
        <div style="text-align: center;">
            @if (appState.Cmd == "AddTestToAnExam")
                {
                @* Get List Of Exams (courseId) *@
                <h6 style="color:royalblue;">Add Test to an Exam</h6>
                <select class="form-select d-inline" id="cboExams" @bind="intExam" style="width:50%; height:35px">
                        <option value="0"> Select an exam... </option>                    
                    @foreach (var exm in lstExams)
                        {
                        <option value="@exm.ExamId"> @exm.ExamTitle </option>
                        }
                </select>
                <button class="btn btn-link" type="submit" @onclick="()=>BtnCreateExamTest(test)">
                    <img src="/img/icoSave2.png" width="25" />
                </button>
                <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                    <img src="/img/icoCancel.png" width="24" />
                </button>
                }
            else
                {
                <button class="btn btn-link" type="submit" @onclick="BtnBack">
                    <img src="/img/icoBack3.png" width="40" />
                </button>
                <button class="btn btn-link" type="submit" @onclick="BtnAddExamTest">
                    <img src="/img/icoListE.png" width="42" />
                </button>
                }
        </div>
    </EditForm>
    }
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    private ElementReference txtTestTitle;
    private ElementReference txtNewTestOption;
    public string strNewTestOption = "";
    bool isTestRtlChecked ;
    bool isTestOptionsRtlChecked ;
    public int i = 0;
    public int courseId = 0;
    public int intExam = 0;
    public string courseName = "";
    public bool _hasFetched = false;
    User user = new User ();
    Test test = new Test ();
    List<CourseTopic> lstCourseTopics = new ();
    List<Exam> lstExams = new List<Exam>();

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {

            Navman.NavigateTo ("/Login");
            }
        //Get CourseId using ?TestId
        if (appState.Cmd != "AddNewTest")
            {
            test = await feService.Read_TestByTestId (Convert.ToInt32 (appState.TestId), true);
            appState.SetCourseId (test.CourseId);
            }
        courseId = Convert.ToInt32(appState.CourseId);
        courseName = appState.CourseName ?? "";
        lstCourseTopics = await feService.Read_CourseTopics (courseId);            
        _hasFetched = true;
        }
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public async Task BtnCreateTest ()
        {
        test.CourseId = courseId;
        int result = await feService.Create_Test (test);
        if (result > 0)
            {
            appState.SetTestId (result);
            test = await feService.Read_TestByTestId (Convert.ToInt32 (appState.TestId), true);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        }
    public void BtnUpdateTestTagsInPlace (Test test, int flag , bool isChecked)
        {
        if (isChecked)
            {
            test.TestTags |= flag;
            }
        else
            {
            test.TestTags &= ~flag;
            }
        }
    public async Task BtnUpdateTest ()
        {
        bool results = await feService.Update_Test (test);
        if (results)
            {
            StateHasChanged ();
            }
        }
    public async Task BtnDeleteTest ()
        {
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> test? (test options will also be deleted) <br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>");
        var parameters = new DialogParameters
            {
                { "MarkupMessage", message },
                { "ButtonText", "Yes" },
                { "CancelText", "No" }
            };
        var options = new DialogOptions 
            { 
                CloseButton = false,
                BackdropClick = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true
            };
        var dialog = await DialogService.ShowAsync<MudMessageBox>("Confirm", parameters, options);
        var dialogresult = await dialog.Result;
        if (!dialogresult.Canceled)
            {
            Snackbar.Add("updated", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            BtnBack ();            
            }
        }
    //TestOption
    public void BtnAddNewTestOption ()
        {
        appState.SetCmd ("AddNewTestOption");
        }
    public async Task BtnCreateTestOption (int testId)
        {
        TestOption testOption = new TestOption () { TestId = testId, TestOptionTitle = strNewTestOption, TestOptionTags = 0 };
        int result = await feService.Create_TestOption (testOption);
        if (result > 0)
            {
            test = await feService.Read_TestByTestId (Convert.ToInt32 (appState.TestId), true);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        }
    public void BtnUpdateTestOptionTagsInPlace (TestOption opt, int flag , bool isChecked)
        {
        if (isChecked)
            {
            opt.TestOptionTags |= flag;
            }
        else
            {
            opt.TestOptionTags &= ~flag;
            }
        }
    public async Task BtnUpdateTestOption (TestOption testOption)
        {
        bool result = await feService.Update_TestOption (testOption);
        if (result)
            {
            test = await feService.Read_TestByTestId (Convert.ToInt32 (appState.TestId), true);
            Snackbar.Add("updated", Severity.Success); //Severity.Warning | .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            appState.SetCmd ("");
            StateHasChanged ();
            }
        else
            {
            Snackbar.Add("update failed", Severity.Error); //Severity.Warning | .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public async Task BtnDeleteTestOption (int testOptionId)
        {
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> test option? <br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>");
        var parameters = new DialogParameters
            {
                { "MarkupMessage", message },
                { "ButtonText", "Yes" },
                { "CancelText", "No" }
            };
        var options = new DialogOptions 
            { 
                CloseButton = false,
                BackdropClick = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true
            };
        var dialog = await DialogService.ShowAsync<MudMessageBox>("Confirm", parameters, options);
        var dialogresult = await dialog.Result;
        if (!dialogresult.Canceled)
            {
            bool result = await feService.Delete_TestOption (testOptionId);
            Snackbar.Add("deleted", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            test = await feService.Read_TestByTestId (Convert.ToInt32 (appState.TestId), true);
            appState.SetCmd ("");
            StateHasChanged ();            
            }
        }
    //Add Test2Exam
    public async Task BtnAddExamTest ()
        {
        lstExams = await feService.Read_Exams (courseId);
        appState.SetCmd ("AddTestToAnExam");
        }
    public async Task BtnCreateExamTest (Test tst)
        {
        if(intExam > 0)
            {
            ExamTest examTest = new ExamTest () {ExamId = intExam, TestId= tst.TestId };
            int result = await feService.Create_ExamTest (examTest);
            if (result > 0)
                {
                Snackbar.Add("TEST added to the exam Successfully!", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                //await JS.InvokeVoidAsync ("alert", "");
                test = await feService.Read_TestByTestId (Convert.ToInt32 (appState.TestId), true);
                appState.SetCmd ("");
                StateHasChanged ();
                }
            }
        else
            {
            Snackbar.Add("Select an exam!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    //Exit
    public void BtnCancel ()
        {
        appState.SetCmd ("");
        }
    public void BtnBack ()
        {
        Navman.NavigateTo (appState.ReturnPage?? "/T_SwitchBoard");
        }
}
