@page "/T_CourseTests"
@using ClosedXML.Excel
@using ExaminerB.Service
@using Microsoft.Extensions.Hosting
@using ClosedXML
@using Microsoft.VisualBasic
@inject FeService feService
@inject NavigationManager Navman
@inject AppState appState
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar

@if (!_hasFetched)
        {
    <_ScanSheets />
    }
else
    {
    @if (appState.Message != "")
        {
        <div style="text-align: center;">
            <h6 style="color:indianred">@appState.Message</h6>
        </div>
        }
    <EditForm Model="lstCourseTests" style="max-width:600px; margin: 0 auto;">
        @if (appState.Cmd == "readexcelworksheets")
            {
            <br />
            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                <MudCard Class="mx-0">
                    <MudCardContent Style="background-color:whitesmoke;">
                        <div>
                            <br />
                            <img src="/img/icoExcel1.png" width="28" style="margin-right:10px;" />
                            <InputFile OnChange="HandleFileSelected" title="Refer to Examiner guide for correct Excel format"/>
                        </div>
                        <br /><br />
                        <hr />
                        <div style="text-align:center">
                            <button class="btn btn-link" style="margin-right:20px;" @onclick="BtnCancel">
                                <img src="/img/icoCancel.png" width="24" />
                            </button>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudContainer>
            }
        else if (appState.Cmd == "importexcelworksheets")
            {
            <br />
            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                <MudCard Class="mx-0">
                    <MudCardContent Style="background-color:whitesmoke;">
                        <br />
                        <div class="d-flex">
                            <MudSelect T="string" @ref="refWorksheets" Label="Worksheet" Value="WorksheetName" ValueChanged="@((string worcksheetname) => OnWorksheetChanged(worcksheetname))" Class="w-auto" Variant="Variant.Outlined" Margin="Margin.Dense" Style="font-size:small;">
                                @foreach (string ws in lstWorksheets)
                                    {
                                    <MudSelectItem Value="@ws">@ws</MudSelectItem> 
                                    }
                            </MudSelect>
                            <button class="btn btn-link" Title="import from excel" @onclick="()=>ReadExcelAsync()">
                                <img src="/img/icoGo1.png" width="36" />
                            </button>
                        </div>
                        <br /><br />
                        <hr />
                        <div style="text-align:center">
                            <button class="btn btn-link" style="margin-right:20px;" @onclick="BtnCancel">
                                <img src="/img/icoCancel.png" width="24" />
                            </button>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudContainer>
            }
        else
            {
            <button class="btn btn-link" @onclick="BtnBack">
                <img src="/img/icoBack3.png" width="40" title="back"/>
            </button>
            <button class="btn btn-link" @onclick="BtnImportFromExcelFile">
                <img src="/img/icoExcel1.png" width="28" title="import tests from excel"/>
            </button>
            <p></p>
            <hr style="border-color:red" />
            <h3>@course.CourseName</h3>
            @* SEARCH *@
            <div class="d-flex mb-3">
                <MudTextField @ref="txtSearch" @bind-Value="strSearch" Label="Search tests..." Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                <button class="btn btn-link" @onclick="()=>BtnReadTestsBySearch()">
                    <img src="/img/icoSearch.png" width="25" title="search tests"/>
                </button>
                @* Paginate *@
                    <MudNumericField T="int" @ref="refPageNumber" @bind-Value="intPendingPageNumber" Label="Page" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" style="max-width:80px;padding-left:10px" Min="1" />
                    <button class="btn btn-link  ms-2" @onclick="async ()=> await BtnReadTestsPaginated(intPendingPageNumber)">
                        <img src="/img/icoListT.png" width="38" title="goto page ..."/>
                    </button>
                    <button class="btn btn-link" @onclick="()=>BtnAddNewTest()">
                        <img src="/img/icoAdd0.png" width="24" title="add a new test"/>
                    </button>
            </div>
            @* List of tests *@
            <hr style="border-color:red" />
            i = (intPageNumber - 1) * 20; //important: see pageSize in BackendService
            @foreach (var tst in lstxTests)
                {
                int localId = tst.TestId;
                <MudContainer Class="mt-2 px-0">
                    <MudCard Class="mx-0">
                        <MudCardContent Style="background-color:whitesmoke;">
                        @{
                        string testRtlStatus = ((tst.TestTags & 1) == 1) ? "direction:rtl;text-align:right;" : "";
                        string optRtlStatus = ((tst.TestTags & 2) == 2) ? "direction:rtl;text-align:right;" : "";
                        i++;
                        }
                        <div style="font-weight:bold; @testRtlStatus">@i - @tst.TestTitle</div>
                        <div style="@testRtlStatus display:flex; align-items:center; gap:2px;" >
                            <input class="form-check-input" style="margin-left:5px;margin-right:5px;" type="checkbox" @bind="tst.IsSelected" />
                            <button class="btn btn-link" style="@testRtlStatus" @onclick="()=>BtnEditCourseTest(tst.TestId)">
                                <img src="/img/icoEditPen.png" title="Eedit test" alt="Edit" width="18px"/>
                            </button>
                        </div>
                        @* Show-TestOptions *@
                        @foreach (var opt in tst.TestOptions)
                            {
                            if((opt.TestOptionId == tst.StudentExamTestKey) & (opt.TestOptionId != tst.StudentExamTestAns))
                                {
                                <div style="color:blue; @optRtlStatus"> - @opt.TestOptionTitle</div>
                                }
                            else if((opt.TestOptionId != tst.StudentExamTestKey) & (opt.TestOptionId != tst.StudentExamTestAns))
                                {
                                <div style="color:black; @optRtlStatus"> - @opt.TestOptionTitle</div>
                                }
                            }
                    </MudCardContent>
                    </MudCard>
                </MudContainer>
                }
            <div id="loadingOverlay" class="d-none">
                <div class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 z-3 d-flex justify-content-center align-items-center">
                    <div class="text-center bg-white p-4 rounded shadow">
                        <div class="spinner-border text-primary mb-3" role="status"></div>
                        <p class="mb-0 fw-semibold">Please wait, processing...</p>
                    </div>
                </div>
            </div>
            <hr style="color:red" />
            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                <MudCard Class="mx-0">
                    <MudCardContent Style="background-color:whitesmoke;">
                        <div style="font-weight:bold;color:royalblue;padding-bottom:5px;">Add tests to:</div>
                        <div class="d-flex">
                            <MudSelect T="int" Label="Exam آزمون" @bind-Value="intExamId" Class="w-auto my-select" Variant="Variant.Outlined" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                <MudSelectItem Value="0">Select an Exam...</MudSelectItem>
                                @foreach (Exam exam in lstExams) { <MudSelectItem Value="@exam.ExamId">@exam.ExamTitle</MudSelectItem> }
                            </MudSelect>
                            <button class="btn btn-link" type="submit" @onclick="BtnAddSelectedTestsToAnExam">
                                <img src="/img/icoSave2.png" width="24" title="save to exam"/>
                            </button>
                            <button class="btn btn-link" type="submit" @onclick="BtnEditExam">
                                <img src="/img/icoFolderE.png" width="30" title="goto exam folder"/>
                            </button>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudContainer>
            <div style="max-width:500px; margin: 0 auto; text-align:center;">
                <br />
                <button class="btn btn-link" @onclick="BtnBack">
                    <img src="/img/icoBack3.png" width="40" />
                </button>
            </div>
            }
    </EditForm>
    }
<script>
    function showLoading() {
        document.getElementById("loadingOverlay").style.display = "block";
        document.querySelectorAll("button").forEach(btn => btn.disabled = true);
    }
</script>
<script>
    document.getElementById("txtSearch").focus();
</script>
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    List<string> lstWorksheets = new List<string> ();
    private MudSelect<string> refWorksheets;
    private string WorksheetName = "";
    Course course = new Course ();
    MemoryStream stream = new MemoryStream();
    IBrowserFile? excelFile;
    List<Test> lstCourseTests = new List<Test>();
    List<Exam> lstExams = new List<Exam> ();
    private MudNumericField <int> refPageNumber;
    List<StudentExamTest> lstxTests = new List<StudentExamTest> ();
    public bool _hasFetched = false;
    private MudTextField<string> txtSearch;
    public string strSearch = "";
    public int intPageNumber = 1;
    private int intPendingPageNumber = 1; //value typed in the input (prevent changing i (index number) of tests in list)
    public string strExcelFile = "";
    private int intExamId;
    public int i = 0;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        _hasFetched = false;
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        switch (appState.Cmd)
            {
            case "ListCourseTests":
                    {
                    lstCourseTests = await feService.Read_TestsByCourseId (Convert.ToInt32(appState.CourseId), intPageNumber, false);
                    break;
                    }
            case "ListCourseTopicTests":
                    {
                    lstCourseTests = await feService.Read_TestsByCourseTopicId (Convert.ToInt32(appState.CourseTopicId), intPageNumber, false);
                    break;
                    }
            }
        course.CourseId = Convert.ToInt32(appState.CourseId);
        await BtnReadTestsPaginated (1);
        lstExams.Clear ();
        lstExams = await feService.Read_Exams (course.CourseId);
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public void BtnAddNewTest()
        {
        appState.SetCmd ("AddNewTest");
        Navman.NavigateTo ("/T_CourseTest");
        }
    public async Task BtnReadTestsBySearch()
        {
        intPendingPageNumber = 1;
        i = 0;
        int courseId = Convert.ToInt32(appState.CourseId);
        string courseName = appState.CourseName;
        lstCourseTests = await feService.Read_TestsBySearch (strSearch, courseId, false);
        lstxTests.Clear ();
        foreach(Test tst in lstCourseTests)
            {
            lstxTests.Add (new StudentExamTest()
                {
                StudentExamId = tst.CourseId,
                TestId = tst.TestId,
                StudentExamTestKey = 0,
                StudentExamTestAns = 0,
                TestIndex = 0,
                TestTitle = tst.TestTitle,
                TestType = tst.TestType,
                CourseTopicId = tst.TopicId,
                CourseTopicTitle = "",
                TestTags = tst.TestTags,
                TestLevel = tst.TestLevel,
                TestOptions = tst.TestOptions
                }
            );}
        //find and set key
        foreach(StudentExamTest t in lstxTests)
            {
            foreach(TestOption opt in t.TestOptions)
                {
                if (opt.TestOptionTags >= 2)
                    {
                    t.StudentExamTestKey = opt.TestOptionId;
                    break;
                    }
                }
            }
        StateHasChanged ();
        }
    public async Task BtnReadTestsPaginated(int newPage)
        {
        strSearch = "";
        intPageNumber = newPage;
        if (appState.Cmd == "ListCourseTests")
            {
            lstCourseTests = await feService.Read_TestsByCourseId (Convert.ToInt32 (appState.CourseId), intPageNumber, true);        
            }
        else if (appState.Cmd == "ListCourseTopicTests")
            {
            lstCourseTests = await feService.Read_TestsByCourseTopicId (Convert.ToInt32 (appState.CourseTopicId), intPageNumber, true);           
            }
        lstxTests.Clear ();
        foreach(Test tst in lstCourseTests)
            {
            lstxTests.Add (new StudentExamTest()
                {
                StudentExamId = tst.CourseId,
                TestId = tst.TestId,
                StudentExamTestKey = 0,
                StudentExamTestAns = 0,
                TestIndex = 0,
                TestTitle = tst.TestTitle,
                TestType = tst.TestType,
                CourseTopicId = tst.TopicId,
                CourseTopicTitle = "",
                TestTags = tst.TestTags,
                TestLevel = tst.TestLevel,
                TestOptions = tst.TestOptions
                }
            );}
        //find and set key
        foreach(StudentExamTest t in lstxTests)
            {
            foreach(TestOption opt in t.TestOptions)
                {
                if (opt.TestOptionTags >= 2)
                    {
                    t.StudentExamTestKey = opt.TestOptionId;
                    break;
                    }
                }
            }
        }
    public void BtnEditCourseTest(int testId)
        {
        appState.SetTestId (testId);
        appState.SetReturnPage ("/T_CourseTests");
        Navman.NavigateTo ("/T_CourseTest");
        }
    //add to exam
    public async Task BtnAddSelectedTestsToAnExam()
        {
        if (intExamId <= 0)
            {
            Snackbar.Add("Select an exam!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            //await JS.InvokeVoidAsync ("alert", "");            
            }
        else
            {
            var selectedIds = lstxTests
                .Where(t => t.IsSelected)
                .Select(t => t.TestId)
                .ToList();
            int testCount = 0;
            foreach(int intTestId in selectedIds)
                {
                ExamTest examTest = new ExamTest () {ExamId = intExamId, TestId= intTestId };
                int result = await feService.Create_ExamTest (examTest);
                if (result > 0)
                    {
                    testCount++;
                    Console.WriteLine($"Test {testCount} added to Exam");
                    }
                }
            //appState.SetCmd ("coursetests");
            StateHasChanged ();            
            Snackbar.Add($"\n\n{testCount} Tests was added to the Exam Successfully", Severity.Success); //{Severity.Warning .Error | .Info | .Success} --needs: @inject ISnackbar Snackbar
            //old code: await JS.InvokeVoidAsync ("alert", $"\n\n{testCount} Tests was added to the Exam Successfully")
            }
        }
    public async Task BtnEditExam()
        {
        if (intExamId > 0)
            {
            Navman.NavigateTo ($"/T_Exam/{intExamId}");
            }
        else
            {
            Snackbar.Add("Select an exam!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            //await JS.InvokeVoidAsync ("alert", "");            
            }
        }
    //excel
    public void BtnImportFromExcelFile()
        {
        appState.SetCmd ("readexcelworksheets");
        }
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
        {
        /* method 1: Save excel file to server folder
        mothod 2: Parse directly in memory */
        try
            {
            _hasFetched = false;
            excelFile = e.File;
            //using var memoryStream = new MemoryStream();
            await excelFile.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(stream);
            stream.Position = 0;
            using var workbook = new XLWorkbook(stream);
            int i = 0;
            foreach (IXLWorksheet ws in workbook.Worksheets)
                {
                lstWorksheets.Add (ws.Worksheet.Name);
                }
            StateHasChanged ();
            Snackbar.Add("excel worksheets listed", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            appState.SetCmd ("importexcelworksheets");
            _hasFetched = true;
            }
        catch (Exception ex)
            {
            Console.WriteLine($"--------Error\n{ex}");
            appState.SetCmd ("");
            _hasFetched = true;
            return;
            }
        }
    private async Task OnWorksheetChanged(string newValue) 
        {
        WorksheetName = newValue;
        await Task.Delay (1);
        await refWorksheets.FocusAsync ();
        StateHasChanged();
        } 
    private async Task ReadExcelAsync()
        {
        if (WorksheetName == "")
            {
            Snackbar.Add("select a worksheet", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            return;
            }
        else
            {
            _hasFetched = false;
            stream.Position = 0;
            try
                {
                List<CourseTopic> lstCourseTopics = await feService.Read_CourseTopics (course.CourseId);
                using var wb = new XLWorkbook(stream);
                var worksheet = wb.Worksheet($"{WorksheetName}");
                //ExcelColumns: 1:Topic 2:Question 3:nOpts 4-8:Opts 9:Ans 10:ForceLast 11:TestRtl 12:OptRtl 13:Level
                foreach (var row in worksheet.RowsUsed().Skip(1)) //skip header
                    {
                    Test test = new Test ();
                    test.CourseId = course.CourseId;
                    test.TopicId = 0;
                    test.TestTitle = row.Cell (2).GetString ();
                    test.TestType = row.Cell (3).GetValue<int> ();
                    test.TestType = (test.TestType > 5) ? 5 : test.TestType;
                    test.TestLevel = row.Cell (13).GetValue<int> ();
                    test.TestTags = 0;
                    if (row.Cell(11).GetString().ToLower() == "r") test.TestTags += 1;
                    if (row.Cell(12).GetString().ToLower() == "r") test.TestTags += 2;
                    test.TestOptions = new List<TestOption> ();
                    //Topic handling
                    string crsTestTopic = row.Cell(1).GetString().Trim();
                    crsTestTopic = crsTestTopic.Length > 30 ? crsTestTopic[..30] : crsTestTopic;
                    var existingTopic = lstCourseTopics.FirstOrDefault(t => string.Equals(t.CourseTopicTitle, crsTestTopic, StringComparison.OrdinalIgnoreCase));
                    if (existingTopic != null)
                        {
                        test.TopicId = existingTopic.CourseTopicId;
                        }
                    else
                        {
                        CourseTopic newCourseTopic = new CourseTopic { CourseId= course.CourseId, CourseTopicTitle = crsTestTopic };
                        test.TopicId = await feService.Create_CourseTopic(newCourseTopic);
                        newCourseTopic.CourseTopicId = test.TopicId;
                        lstCourseTopics.Add (newCourseTopic);
                        }
                    //Options
                    for (int col = 4; col < test.TestType + 4; col++)
                        {
                        var strOpt = row.Cell(col).GetString();
                        test.TestOptions.Add (new TestOption { TestOptionTitle = strOpt, TestId = 1 }); //initialize TestId here and set the value when test is saved to DB 
                        }
                    //Answer
                    int answ = row.Cell(9).GetValue<int>();
                    if (answ > 0 && answ <= test.TestOptions?.Count)
                        {
                        test.TestOptions[answ - 1].TestOptionTags = 2; //2:IsAns                
                        }
                    //ForceLast
                    int forceLast = row.Cell(10).GetValue<int>();
                    if (forceLast > 0 && forceLast <= test.TestOptions?.Count)
                        {
                        test.TestOptions[forceLast - 1].TestOptionTags += 1; //1:ForceLast
                        }
                    //Create New Test+Options
                    test.TestId = await feService.Create_Test(test);
                    }                
                }
            catch (Exception ex)
                {
                Console.WriteLine($"Error in [ImportExcel]: {ex}");
                }
            lstWorksheets.Clear ();
            lstCourseTests.Clear ();
            lstCourseTests = await feService.Read_TestsByCourseId (Convert.ToInt32 (appState.CourseId), intPageNumber, false);
            Snackbar.Add("worksheet data imported", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            _hasFetched = true;
            appState.SetCmd ("");
            }
        }
    //Exit
    public void BtnCancel()
        {
        lstWorksheets.Clear ();
        WorksheetName = "";
        appState.SetCmd ("");
        }
    public void BtnBack()
        {
        Navman.NavigateTo ("/T_Courses");
        }
}
