@page "/T_Exam/{examId:int}"
@using ExaminerB.Service
@using Microsoft.VisualBasic
@using System.Threading.Tasks
@inject FeService feService
@inject IJSRuntime JS
@inject NavigationManager Navman
@inject AppState appState
@implements IDisposable
@inject IDialogService DialogService
@inject ISnackbar Snackbar


@if (!_hasFetched)
    {
    <_Loading />
    }
else
    {
    <div>
    <div style="text-align: center;">
        @* <h1 style="color:lightsteelblue">e<span style="color:lightpink">x</span>aminer<span style="font-size:small">Teacher</span></h1> *@
        @if (appState.Message != "")
            {
            <div style="text-align: center;">
                <h6 style="color:indianred">@appState.Message</h6>
            </div>
            }
    </div>
    <EditForm Model="exam" style="max-width:600px; margin: 0 auto;">
        @* Exam Title*@
        <MudContainer Class="mt-2 px-0">
            <MudCard Class="mx-0">
                <MudCardContent Style="background-color:whitesmoke;">                                         
                    <div style="font-size:130%;font-weight:bold;color:royalblue">Exam <span style="font-size:small;font-weight:normal;color:gray">Title - DateTime - Duration</span></div>
                    <div class="d-flex mb-2" style="gap:10px;">
                        <MudTextField @ref="refExamTitle" @bind-Value="exam.ExamTitle" Label="Exam Title" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" />
                        <MudNumericField T="int" @ref="refExamDuration" @bind-Value="exam.ExamDuration" Label="Duration min" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" style="width:100px;text-align:center;" />
                    </div>
                    <div class="d-flex justify-content-start mb-2" >
                        <MudTextField @ref="refExamDateTime" @bind-Value="exam.ExamDateTime" Label="Date-Time" placeholder="____-__-__ __:__" Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" style="width:200px;" />
                    </div>
                    <div class="d-flex justify-content-start mb-2" >
                        <MudCheckBox @bind-Value="exam.IsActive" Label="Active" Color="Color.Success" title="advice: keep exam inactive until exam day!"/>
                        <MudCheckBox @bind-Value="exam.IsTrainingMode" Label="Training" Color="Color.Primary" title="students can get help" />
                    </div>
                </MudCardContent>
            </MudCard>
        </MudContainer>
        <br />
        <div class="accordion" id="accordionEC">
            @* CARD1- ExamComposition *@
            <div class="accordion-item">
                @if (appState.Cmd == "AddNewExamComposition")
                {
                    clps = "collapse show";
                }
                else
                {
                    clps = "collapse";
                }
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ExamCompositionList" aria-expanded="false" aria-controls="ExamCompositionList">
                        <h4 style="color:indianred"> Design </h4>
                    </button>
                </h4>
                <div id="ExamCompositionList" class="accordion-collapse @clps"
                    data-bs-parent="#accordionExamComposition">
                    <div class="accordion-body">
                        @foreach (ExamComposition comp in lstExamCompositions)
                            {
                            <MudContainer Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:whitesmoke;">                                         
                                        <div class="d-flex">
                                            <MudSelect T="int" Label="Course topic موضوع" Value="0" Class="w-auto my-select" Variant="Variant.Outlined" Margin="Margin.Dense" Style="color:royalblue;width:120px;font-size:small;">
                                                <MudSelectItem Value="@comp.TopicId">Select an Exam...</MudSelectItem>
                                                @foreach (CourseTopic topic in lstCourseTopics) { <MudSelectItem Value="@topic.CourseTopicId">@topic.CourseTopicTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="()=>BtnUpdateExamComposition (comp)" >
                                                <img src="/img/icoSave2.png" width="25" title="update" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnDeleteExamComposition(comp.ExamCompositionId)">
                                                <img src="/img/icoDelete1.png" width="25" title="delete" />
                                            </button>
                                        </div>
                                        @* Slider NTests *@
                                        <div class="d-flex align-items-center">
                                            <MudSlider T="int" @bind-Value="comp.TopicNTests" Variant="Variant.Filled" Min="1" Max="20">Tests</MudSlider>
                                            <span style="color:indianred; font-weight:bold;">
                                                @comp.TopicNTests
                                            </span>
                                        </div>
                                        @* Slider Level *@
                                        <div class="d-flex align-items-center">
                                            <MudSlider T="int" @bind-Value="@comp.TestsLevel" Variant="Variant.Filled" Min="1" Max="5">Level</MudSlider>
                                            <span style="color:indianred; font-weight:bold;">
                                                @comp.TestsLevel
                                            </span>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            }
                        @if (appState.Cmd == "AddNewExamComposition")
                            {
                            <MudContainer Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:whitesmoke;">                                         
                                        <div style="text-align: left;margin-left:20px;margin-right:10px">
                                            <h5 style="color:indianred;font-weight:bold;"> New Exam Composition</h5>
                                            <div class="d-flex">
                                                <MudSelect T="int" Label="Course topic موضوع" @bind-Value="cboCourseTopicId" Class="w-auto my-select" Variant="Variant.Outlined" Margin="Margin.Dense" Style="color:royalblue;width:120px;font-size:small;">
                                                   <MudSelectItem Value="0">Select an Exam...</MudSelectItem>
                                                   @foreach (CourseTopic topic in lstCourseTopics) { <MudSelectItem Value="@topic.CourseTopicId">@topic.CourseTopicTitle</MudSelectItem> }
                                                </MudSelect>
                                                <button class="btn btn-link" @onclick="BtnCreateExamComposition">
                                                    <img src="/img/icoSave2.png" width="25" title="save"/>
                                                </button>
                                                <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                    <img src="/img/icoCancel.png" width="24" title="cancel" />
                                                </button>
                                            </div>
                                            @* Slider NTests *@
                                            <div class="d-flex align-items-center">
                                                <MudSlider T="int" @bind-Value="@sliderTopicNTests" Variant="Variant.Filled" Min="1" Max="20">Tests</MudSlider>
                                                <span style="color:indianred; font-weight:bold;">
                                                    @sliderTopicNTests
                                                </span>
                                            </div>
                                            @* Slider Level *@
                                            <div class="d-flex align-items-center">
                                                <MudSlider T="int" @bind-Value="@sliderTestsLevel" Variant="Variant.Filled" Min="1" Max="5">Level</MudSlider>
                                                <span style="color:indianred; font-weight:bold;">
                                                    @sliderTestsLevel
                                                </span>
                                            </div>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            }
                        else
                            {
                            <button class="btn btn-link" @onclick="BtnAddNewExamComposition">
                                <img src="/img/icoAdd0.png" width="25" title="add new composition"/>
                            </button>
                            <button class="btn btn-link" @onclick="BtnDrawRandomTestsByExamComposition">
                                <img src="/img/icoShuffle.png" width="30" title="use compositions to draw random tests"/>
                            </button>
                            <br />
                            }
                    </div>
                </div>
            </div>
            <br>
            @* Card2- ExamTests *@
            @if (appState.Cmd.Contains("AddNewExamTest"))
                {
                clps = "collapse show";
                }
            else
                {
                clps = "collapse";
                }
            <div class="accordion-item">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ExamTestList" aria-expanded="false" aria-controls="ExamTestList">
                        <h4 style="color:indianred"> Tests </h4>
                    </button>
                </h4>
                <div id="ExamTestList" class="accordion-collapse @clps" data-bs-parent="#accordionCourses">
                    <div class="accordion-body" style="background-color:whitesmoke">
                        @* SEARCH *@ 
                        <div class="mb-3" style="background-color:WhiteSmoke">
                            <span style="font-size:larger; font-weight:bold;color:royalblue;">Add tests to exam</span>
                            <div class="d-flex align-items-center mb-3">
                                <MudTextField @ref="txtSearchTest" @bind-Value="strSearch" Label="Search..." Variant="Variant.Outlined" Margin="Margin.Dense" Class="my-textfield" Style="font-family:'Segoe UI';" />
                                <button class="btn btn-link" @onclick="BtnReadTestsBySearch">
                                    <img src="/img/icoSearch.png" width="30" />
                                </button>
                            </div>
                            <div class="d-flex align-atems-center mb-3">
                                <MudSelect T="int" Label="Result نتيجه" @bind-Value="cboCourseTestId" Class="w-auto my-select d-inline" Variant="Variant.Outlined" Margin="Margin.Dense" Style="color:royalblue;max-width:420px;font-size:small; font-family:'Segoe UI';text-overflow: ellipsis;">
                                    <MudSelectItem Value="0">select from results</MudSelectItem>
                                    @foreach (var ct in lstCourseTests) { <MudSelectItem Value="@ct.TestId" Style="font-family:'Segoe UI';text-overflow: ellipsis;"> @ct.TestId - @(ct.TestTitle.Length > 50 ? ct.TestTitle.Substring(0, 50) : ct.TestTitle)</MudSelectItem> }
                                </MudSelect>
                                <button class="btn btn-link" @onclick="BtnCreateExamTest">
                                    <img src="/img/icoAdd0.png" width="25" />
                                </button>
                                <button class="btn btn-link" @onclick="()=>BtnGotoReportCourseTests(exam.CourseId)">
                                    <img src="/img/icoFolderT.png" width="30" />
                                </button>
                            </div>
                        </div>
                        <hr style="color:indianred"/>
                        @* END SEARCH *@
                        @{i = 0;}
                        @foreach (Test tst in lstExamTests)
                            {
                            <MudContainer Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:ghostwhite;">                                         
                                        @* List of tests *@
                                        @{i++; int localTestId = tst.TestId;}
                                        @if ((tst.TestTags & 1) == 1)
                                            {
                                            <p style="text-align:right;" dir="rtl">@i - @tst.TestTitle</p>
                                            }
                                        else
                                            {
                                            <p style="text-align:left;">- @tst.TestTitle</p>
                                            }
                                            @foreach (TestOption opt in tst.TestOptions)
                                                {
                                                @if ((tst.TestTags & 1) == 1)
                                                    {
                                                    <div style="font-size:small;text-align:right;" dir="rtl"> - @opt.TestOptionTitle</div>
                                                    }
                                                else
                                                    {
                                                    <div style="font-size:small;text-align:left;"> - @opt.TestOptionTitle</div>
                                                    }
                                                }
                                        <button class="btn btn-link" style="text-align:right;" dir="rtl" @onclick="()=>BtnDeleteExamTest(localTestId)" >
                                            <img src="img/icoDelete1.png" title="Edit Test" alt="Edit" width="25px"/>
                                        </button>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            }
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <button class="btn btn-link" @onclick="BtnBack">
                <img src="/img/icoBack3.png" width="40" />
            </button>
        </div>
    </EditForm>
    <script>
        document.getElementById("txtExamDuration").focus();
    </script>
</div>
    }

@code {
    [Parameter] public int examId { get; set; }
    private MudTextField<string> refExamTitle;
    private MudNumericField<int> refExamDuration;
    private MudTextField<string> refExamDateTime;
    private MudTextField<string> txtSearchTest;
    private ElementReference cboCourseTopics;
    private ElementReference cboCourseTests;
    int cboCourseTopicId = 0;
    int cboCourseTestId = 0;
    int sliderTopicNTests = 5;
    int sliderTestsLevel = 3;
    int i = 0;
    string testRtlStatus = "";
    string optRtlStatus = "";
    string strSearch = "";
    User user = new User ();
    public Exam exam = new ();
    public bool _examIsActive = false;
    Course course = new ();    
    List<CourseTopic> lstCourseTopics = new ();
    List<ExamComposition> lstExamCompositions = new List<ExamComposition> ();
    List<Test> lstCourseTests = new ();
    List<Test> lstExamTests = new List<Test>();
    List<TestOption> lstTestOptions = new ();
    string clps="";
    public bool _hasFetched = false;
    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
    {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
        {

            Navman.NavigateTo ("/Login");
        }
        appState.SetCmd ("");
        exam = await feService.Read_Exam (examId, false);
        lstExamCompositions = await feService.Read_ExamCompositions (examId);
        lstExamTests = await feService.Read_TestsByExamId (examId, true);
        lstCourseTopics = await feService.Read_CourseTopics (exam.CourseId);
        if (lstCourseTopics.Count > 0)
        {
            _hasFetched = true;
        }
    }
    private void TriggerRender()
    {
        InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        appState.OnChange -= TriggerRender;
    }
    //btns
    public async Task BtnUpdateExam()
    {
        exam.ExamNTests = lstExamTests.Count;
        bool result = await feService.Update_Exam (exam);
        //StateHasChanged ();
        //BtnBack ();
    }
    //ExamComposition
    public async Task BtnAddNewExamComposition()
    {
        appState.SetCmd ("AddNewExamComposition");
    }
    public async Task BtnCreateExamComposition()
    {
        if (cboCourseTopicId == 0)
        {
            Snackbar.Add("select a topic!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
        }
        else
        {
            ExamComposition examComposition = new ExamComposition () { ExamId=exam.ExamId, TopicId=cboCourseTopicId, TopicNTests=sliderTopicNTests, TestsLevel=sliderTestsLevel};
            int result = await feService.Create_ExamComposition (examComposition);
            if (result > 0)
            {
                lstExamCompositions.Clear ();
                lstExamCompositions = await feService.Read_ExamCompositions (examId);
                Snackbar.Add("exam composition added", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                appState.SetCmd ("");
                StateHasChanged ();
            }
        }
    }
    public async Task BtnUpdateExamComposition(ExamComposition comp)
    {
        if (comp.TopicId == 0)
        {
            Snackbar.Add("Select a Topic!", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
        }
        else
        {
            bool result = await feService.Update_ExamComposition (comp);
            if (result)
            {
                lstExamCompositions.Clear ();
                lstExamCompositions = await feService.Read_ExamCompositions (examId);
                Snackbar.Add("Exam composition Updated!", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                appState.SetCmd ("");
                StateHasChanged ();
            }
        }

    }
    public async Task BtnDeleteExamComposition(int examCompositionId)
    {
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> Exam Composition? <br>Are you sure?<br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>");
        var parameters = new DialogParameters
            {
                { "MarkupMessage", message },
                { "ButtonText", "Yes" },
                { "CancelText", "No" }
            };
        var options = new DialogOptions 
            { 
                CloseButton = false,
                BackdropClick = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true
            };
        var dialog = await DialogService.ShowAsync<MudMessageBox>("Confirm", parameters, options);
        var dialogresult = await dialog.Result;
        if (!dialogresult.Canceled)
        {
            Snackbar.Add("Exam composition Removed!", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            lstExamCompositions.Clear ();
            lstExamCompositions = await feService.Read_ExamCompositions (examId);
            appState.SetCmd ("");
            StateHasChanged ();
        }
        else
        {
            Snackbar.Add("Exam Composition was not Deleted! --- operation Canceled", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
        }
    }
    private void BtnReadTestsBySearch(MouseEventArgs args)
    {
        throw new NotImplementedException();
    }        
    //Draw Tests using ExamComposition
    public async Task BtnDrawRandomTestsByExamComposition()
        {
        if (lstExamCompositions.Count == 0)
            {
            return;
            }
        else
            {
            _hasFetched = false;
            var result = await feService.Delete_ExamTests (examId);
            foreach (ExamComposition ec in lstExamCompositions)
                {
                var result2 = await feService.Create_ExamTestsByExamComposition (ec);
                }
            }
        lstExamTests = await feService.Read_TestsByExamId (examId, true);
        Snackbar.Add("Random tests added to the exam list.", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
        _hasFetched = true;
        StateHasChanged ();
        }
    //Tests
    public void BtnGotoReportCourseTests(int courseId)
        {
        appState.SetCmd ("ListCourseTests");
        appState.SetCourseId (courseId);
        appState.SetReturnPage ("/T_Courses");
        //Navman.NavigateTo ("/T_ReportTests");
        Navman.NavigateTo ("/T_CourseTests");
        }
    public async Task BtnAddNewExamTest()
        {
        appState.SetCmd ("AddNewExamTest");
        StateHasChanged(); //render page to make elements appear on DOM
        await Task.Yield(); //wait until render is completed
        await Task.Delay (1);
        await txtSearchTest.FocusAsync ();
        }
    public async Task BtnCreateExamTest()
        {
        if (cboCourseTestId == 0)
            {
            Snackbar.Add("Select a Test", severity: Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            //await JS.InvokeVoidAsync ("alert", "\n");
            }
        else
            {
            ExamTest examTest = new ExamTest () { ExamId = exam.ExamId, TestId = cboCourseTestId, PercentCorrect = 0, PercentIncorrect = 0, PercentHelped = 0 };
            int result = await feService.Create_ExamTest (examTest);
            lstExamTests.Clear ();
            lstExamTests = await feService.Read_TestsByExamId (examId, true);
            Snackbar.Add("Test added to the exam list", severity: Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            appState.SetCmd ("");
            StateHasChanged ();
            }
        }
    public async Task BtnReadTestsBySearch()
        {
        lstCourseTests = await feService.Read_TestsBySearch (strSearch, exam.CourseId, false);
        StateHasChanged ();
        }
    public async Task BtnDeleteExamTest(int testId)
        {
        var message = new MarkupString($"<hr><span style='color:indianred'>Remove</span> this test from <span style='color:royalblue'>Exam</span> test list? <br> Remove??<br><br> <div style='text-align:center'><img src='/img/icoEraser.png' width='40'/></div><br><hr>");
        var parameters = new DialogParameters
            {
                { "MarkupMessage", message },
                { "ButtonText", "Yes" },
                { "CancelText", "No" }
            };
        var options = new DialogOptions 
            { 
                CloseButton = false,
                BackdropClick = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true
            };
        var dialog = await DialogService.ShowAsync<MudMessageBox>("Confirm", parameters, options);
        var dialogresult = await dialog.Result;
        if (!dialogresult.Canceled)
            {
            ExamTest examTest = new ExamTest () { ExamId=exam.ExamId, TestId=testId, PercentCorrect=0, PercentIncorrect=0, PercentHelped=0 };
            bool result = await feService.Delete_ExamTest (examTest);
            if (result)
                {
                Snackbar.Add("Test removed from the exam list", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                lstExamTests.Clear ();
                lstExamTests = await feService.Read_TestsByExamId (examId, true);
                appState.SetCmd ("");
                StateHasChanged ();
                }         
             }
        }
    public async Task BtnCancel()
        {
        appState.SetCmd ("");
        }
    public async Task BtnBack()
        {
        var message = new MarkupString($"<hr><span style='color:indianred'>Save</span> Exam Changes? <br><span style='font-weight:bold;'>Notice:</span><br>Number of tests in this exam will be <span style='color:royalblue'>Updated</span> automatically<br><br> <div style='text-align:center'><img src='/img/icoSave1.png' width='40'/></div><br><hr>");
        var parameters = new DialogParameters
            {
                { "MarkupMessage", message },
                { "ButtonText", "Yes" },
                { "CancelText", "No" }
            };
        var options = new DialogOptions 
            { 
                CloseButton = false,
                BackdropClick = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true
            };
        var dialog = await DialogService.ShowAsync<MudMessageBox>("Confirm", parameters, options);
        var dialogresult = await dialog.Result;
        if (!dialogresult.Canceled)
            {
            await BtnUpdateExam ();            
            }
        appState.SetCmd ("");
        Navman.NavigateTo ("/T_Exams");
        }
    }
