@page "/T_Exams"
@using ExaminerB.Service
@using Microsoft.VisualBasic
@using System.Threading.Tasks
@inject FeService feService
@inject NavigationManager Navman
@inject AppState appState
@inject IJSRuntime JS
@implements IDisposable

<div style="text-align: center;">
    <h2 style="color:gray">e<span style="color:indianred">x</span>aminer<span style="font-style:italic;font-size:small;color:royalblue"> WebApp </span> <span style="font-style:italic;font-size:small;color:indianred"> - @appState.UserRole </span></h2>
    <h5 class="card-title text-center text-secondary">@course.CourseName - exams</h5>
    @if (appState.Message != "")
        {
        <h6 style="color:indianred">@appState.Message</h6>
        }
</div>
@if (!_hasFetched)
        {
        <_Loading />
        }
    else
        {
        <EditForm Model="lstCourseExams">
            @foreach (var exam in lstCourseExams)
                {
                int examId = exam.ExamId;
                <div class="container mt-2">
                    <div class="card">
                        <div class="card-body" style="background-color:whitesmoke">
                            <table class="table table-borderless">
                                <tr style="align-content:center; border:none;">
                                    <td>
                                        <span style="color:indianred; font-weight:bold;">@exam.ExamTitle</span> <br />
                                        <span style="color:royalblue; font-weight:bold;font-size:small">@exam.ExamDateTime</span><br />
                                        <span>@exam.ExamNTests Tests</span><br />
                                        <span>@exam.ExamDuration m</span><br />
                                    </td>
                                    <td>
                                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnEditExam(exam)" >
                                            <img src="/icons/icoRename_bt_1.png" width="28" />
                                        </button>
                                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnReportExamTests(exam.ExamId)">
                                            <img src="/icons/icoReport_bt_1.png" width="20" />
                                        </button>
                                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnAddStudentExam(exam.ExamId)" >
                                            <img src="/icons/icoUserAdd_bluet_1.png" width="24" />
                                        </button>
                                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnReportStudents(exam.ExamId)" >
                                            <img src="/icons/icoGroup_grayt_1.png" width="28" />
                                        </button>
                                        <br />
                                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnStratStopExam(exam)" >
                                            @if (exam.IsActive)
                                                {
                                                <img src="/icons/icoON_gw_1.png" width="24" />                                        
                                                }
                                            else
                                                {
                                                <img src="/icons/icoOff_grayw_1.png" width="24" />                                        
                                                }
                                        </button>
                                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnSetExamAsFinishedForAllStudents(exam.ExamId)" >
                                            <img src="/icons/icoClock_rt_1.png" width="22" />
                                        </button>
                                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnReportExamPoints(exam.ExamId)" >
                                            <img src="/icons/icoFolderReport_bt_3.png" width="28" />
                                        </button>
                                        <button style="border:none" class="btn btn-link" @onclick="()=>BtnDeleteExam(exam.ExamId)" >
                                            <img src="/icons/icoDelete_bt_1.png" width="20" />
                                        </button>
                                    </td>
                                </tr>
                                @if (appState.Cmd == "AddStudentToExam" && (@examId == appState.ExamId))
                                    {
                                    <hr />
                                    <h6 style="color:lightslategray;font-weight:bold;">Add Students to Exam</h6>
                                    <tr style="align-content:center; border:none">
                                        <td>
                                            <select class="form-select" @bind="intGroupId" style="width:95%; background-color:white">
                                                <option value="0"> Select a Group... </option>
                                                @foreach (var grp in lstGroups)
                                                    {
                                                    <option value="@grp.GroupId"> @grp.GroupName </option>
                                                    }
                                            </select>
                                            <button style="border:none" class="btn btn-link" @onclick="()=>BtnCreateStudentExams (exam.ExamId)">
                                                <img src="/icons/icoSave_bt_1.png" width="22" />
                                            </button>
                                            <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                <img src="/icons/icoCancel_bw_1.png" width="20" />
                                            </button>
                                        </td>
                                        <td>
                                            <select class="form-select" @bind="intStudentId" style="width:95%; background-color:white">
                                                <option value="0"> Select a Student... </option>
                                                @foreach (var stdnt in lstStudents)
                                                    {
                                                    <option value="@stdnt.UserId"> @stdnt.UserName </option>
                                                    }
                                            </select>
                                            <button style="border:none" class="btn btn-link" @onclick="()=>BtnCreateStudentExam (exam.ExamId)">
                                                <img src="/icons/icoSave_bt_1.png" width="22" />
                                            </button>
                                            <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                <img src="/icons/icoCancel_bw_1.png" width="20" />
                                            </button> 
                                        </td>
                                    </tr>
                                    }
                            </table>
                        </div>
                    </div>
                </div>
                }
            @if (appState.Cmd == "AddNewExam")
                {
                <br />
                <div style="font-weight:bold; padding-bottom:10px;">Add New Exam</div>
                    <div class="mb-3">
                    <input class="form-control d-inline" @ref= "txtNewExamName" @bind="txtNewExamTitle" placeholder="Exam name" style="width:60%"/>
                    <button class="btn btn-link" @onclick="BtnCreateExam" >
                        <img src="/icons/icoSave_bt_1.png" width="22" />
                    </button>
                    <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                        <img src="/icons/icoCancel_bw_1.png" width="20" />
                    </button>
                </div>
                }
            else
                {
                <br />
                <br />
                <hr />
                <div style="text-align: center;">
                    <button class="btn btn-link" @onclick="BtnAddNewExam">
                        <img src="/icons/icoAddItem_gt_1.png" width="24" />
                    </button>
                    <button class="btn btn-link" @onclick="BtnBack">
                        <img src="/icons/icoBack_bt_1.png" width="25" />
                    </button>
                </div>
                }
        </EditForm>
        }

@code {
    private ElementReference txtNewExamName;

    User user = new User ();
    Course course = new Course ();
    List<Exam> lstCourseExams = new ();
    List<Group> lstGroups = new ();
    List<User> lstStudents = new ();
    public string txtNewExamTitle = "";
    public int intStudentId = 0;
    public int intGroupId = 0;
    public bool _hasFetched = false;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {

            Navman.NavigateTo ("/Login");
            }
        //user
        user.UserId = Convert.ToInt32(appState.UserId);
        user.UserName = appState.UserName;
        user.UserPass = appState.UserPass;
        user.UserRole = "-";
        user.UserTags = 0;
        user.GroupId = 0;
        //
        course.CourseId = Convert.ToInt32(appState.CourseId);
        course.CourseName = appState.CourseName ?? "";
        lstCourseExams = await feService.Read_Exams (course.CourseId);
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //AddNew Exam
    public async Task BtnAddNewExam ()
        {
        appState.SetCmd ("AddNewExam");
        StateHasChanged ();
        await Task.Delay (1);
        await txtNewExamName.FocusAsync ();
        }
    public async Task BtnCreateExam ()
        {
        Exam newExam = new Exam () { CourseId = course.CourseId, ExamTitle = txtNewExamTitle, ExamDateTime=DateTime.Now.ToString("yyyy-MM-dd . HH:mm"), ExamDuration=10 };
        int result = await feService.Create_Exam (newExam);
        if (result > 0)
            {
            appState.SetCmd ("");
            lstCourseExams = await feService.Read_Exams (course.CourseId);
            StateHasChanged ();
            }
        }
    //btns
    public async Task BtnStratStopExam (Exam exam)
        {
        exam.IsActive = (exam.IsActive) ? false : true;
        bool result = await feService.Update_Exam (exam);
        StateHasChanged ();
        }
    public async Task BtnSetExamAsFinishedForAllStudents (int examId)
        {
        if(await JS.InvokeAsync<bool>("confirm", "Terminate all Students's Exams?\n\nSure?"))
            {
            bool result = await feService.Update_StudentsExamTags ("setStudentExamFinishedOn", examId);            
            StateHasChanged ();
            }
        }
    public void BtnEditExam (Exam exam)
        {
        Navman.NavigateTo ($"/T_Exam/{exam.ExamId}");
        }
    public async Task BtnAddStudentExam (int examId)
        {
        if (appState.Cmd != "AddStudentToExam")
            {
            user.UserId = Convert.ToInt32 (appState.UserId);
            lstGroups = await feService.Read_Groups (user, false, false);
            lstStudents = await feService.Read_Students (user.UserId, false, false);
            appState.SetExamId (examId);
            appState.SetCmd ("AddStudentToExam");
            StateHasChanged ();
            }
        else
            {
            appState.SetCmd ("");
            }
        }
    public async Task BtnCreateStudentExams (int examId)
        {
        _hasFetched = false;
        int result = await feService.Create_StudentExams (intGroupId, examId);
        if (result > 0)
            {
            appState.SetCmd("");
            StateHasChanged ();            
            }
        _hasFetched = true;
        }
    public async Task BtnCreateStudentExam (int examId)
        {
        _hasFetched = false;
        int result = await feService.Create_StudentExam (intStudentId, examId);
        if (result > 0)
            {
            appState.SetCmd("");
            StateHasChanged ();            
            }
        _hasFetched = true;
        }
    public void BtnReportStudents (int examId)
        {
        appState.SetReturnPage ("T_Exams");
        Navman.NavigateTo ($"/T_ReportStudents/examStudents/{examId}");
        }
    public void BtnReportExamTests (int examId)
        {
        appState.SetReturnPage ("T_Exams");
        appState.SetCmd ("examtests");
        appState.SetExamId (examId);
        Navman.NavigateTo ($"/T_ReportTests");
        }
    public void BtnReportExamPoints (int examId)
        {
        appState.SetReturnPage ("T_Exams");
        appState.SetCmd ("reportexampoints");
        appState.SetExamId (examId);
        Navman.NavigateTo ($"/T_ReportExamPoints");
        }
    public async Task BtnDeleteExam (int examId)
        {
        if (await JS.InvokeAsync<bool>("confirm","Delete Exam?"))
            {
            bool result = await feService.Delete_Exam (examId);
            if (result)
                {
                appState.SetCmd ("");
                lstCourseExams = await feService.Read_Exams(course.CourseId);
                StateHasChanged ();
                }
            }
        }    
    //Exit
    public void BtnCancel ()
        {
        appState.SetCmd ("");
        }
    public void BtnBack ()
        {
        appState.SetCmd ("");
        Navman.NavigateTo ("/T_Courses");
        }
    }
