@page "/T_Exam/{examId:int}"
@using ExaminerB.Service
@using Microsoft.VisualBasic
@using System.Threading.Tasks
@inject FeService feService
@inject IJSRuntime JS
@inject NavigationManager Navman
@inject AppState appState
@implements IDisposable
@if (!_hasFetched)
    {
    <_Loading />
    }
else
    {
    <div>
    <div style="text-align: center;">
        @* <h1 style="color:lightsteelblue">e<span style="color:lightpink">x</span>aminer<span style="font-size:small">Teacher</span></h1> *@
        @if (appState.Message != "")
            {
            <div style="text-align: center;">
                <h6 style="color:indianred">@appState.Message</h6>
            </div>
            }
    </div>
    <EditForm Model="exam">
        @* Exam Title*@
        <div style="background-color:whitesmoke;padding-left:10px;;padding-right:10px">
            <div style="font-size:130%;font-weight:bold;color:royalblue">Exam <span style="font-size:small;font-weight:normal;color:gray">Title - DateTime - Duration</span></div>
            <input class="form-inline" @bind="exam.ExamTitle" placeholder="Exam Title" style="font-weight:bold;color:indianred;width:50%;" /> 
            <input class="form-inline" @bind="exam.ExamDuration" placeholder="Duration min" type="number" style="width:55px;text-align:center;" /> <span style="padding-right:10px;">min</span>
            <br />
            <br />
            <div class="mb-3">
                <input class="form-inline" @bind="exam.ExamDateTime" placeholder="____-__-__ __:__" style="width:140px;text-align:center" />
                <label style="padding-left:5px;padding-right:5px;">Active</label>
                <input class="form-inline" @bind="exam.IsActive" type="checkbox"/>
                <label style="padding-left:5px;padding-right:5px;">Training</label>
                <input class="form-inline" @bind="exam.IsTrainingMode" type="checkbox"/>
                @* <button class="btn btn-link" @onclick="BtnUpdateExam">
                    <img src="/icons/icoSave_bt_1.png" width="25" />
                </button> *@
                @* <button class="btn btn-link" @onclick="BtnBack">
                    <img src="/icons/icoBack_bt_1.png" width="25" />
                </button> *@
            </div>
        </div>
        <div class="accordion" id="accordionEC">
            @* CARD1- ExamComposition *@
            <div class="accordion-item">
                @if (appState.Cmd == "AddNewExamComposition")
                {
                    clps = "collapse show";
                }
                else
                {
                    clps = "collapse";
                }
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ExamCompositionList" aria-expanded="false" aria-controls="ExamCompositionList">
                        <h4 style="color:indianred"> Exam Design </h4>
                    </button>
                </h4>
                <div id="ExamCompositionList" class="accordion-collapse @clps"
                    data-bs-parent="#accordionExamComposition">
                    <div class="accordion-body">
                        @foreach (ExamComposition comp in lstExamCompositions)
                            {
                            <select class="form-select" @bind="comp.TopicId" style="width:60%; ">
                                @foreach (CourseTopic topic in lstCourseTopics)
                                    {
                                    <option value="@topic.CourseTopicId"> @topic.CourseTopicTitle </option>
                                    }
                            </select>
                            <input type="range" min="1" max="20" @bind="comp.TopicNTests" />
                            <span>@comp.TopicNTests</span>
                            <label style="font-size:small;font-weight:bold">(Tests)</label>
                            <br />
                            <input type="range" min="1" max="5" @bind="@comp.TestsLevel" />
                            <span>@comp.TestsLevel</span>
                            <label style="font-size:small;font-weight:bold">(Level)</label>
                            <br />
                            <button class="btn btn-link" @onclick="()=>BtnUpdateExamComposition (comp)" >
                                <img src="/icons/icoSave_bt_1.png" width="25" />
                            </button>
                            <button class="btn btn-link" @onclick="()=>BtnDeleteExamComposition(comp.ExamCompositionId)">
                                <img src="/icons/icoDelete_bt_1.png" width="25" />
                            </button>
                            <hr />
                            }
                        @if (appState.Cmd == "AddNewExamComposition")
                            {
                            <div style=background-color:WhiteSmoke>
                                <div style="text-align: left;margin-left:20px;margin-rightt:10px">
                                    <br>
                                    <h5 style="color:indianred;font-weight:bold;"> New Exam Composition</h5>
                                    <select @ref="cboCourseTopics" @bind="cboCourseTopicId" style="width:60%">
                                        <option value="0"> Select a Topic... </option>
                                        @foreach (CourseTopic topic in lstCourseTopics)
                                            {
                                            <option value="@topic.CourseTopicId"> @topic.CourseTopicTitle </option>
                                            }
                                    </select>
                                    <button class="btn btn-link" @onclick="BtnCreateExamComposition">
                                        <img src="/icons/icoAddItem_gt_1.png" width="25" />
                                    </button>
                                    @* Slider NTests *@
                                    <br />
                                    <input type="range" @bind="sliderTopicNTests" min="1" max="20" />
                                    <span id="testsValue">@sliderTopicNTests</span>
                                    <label for="sliderTests" style="font-size:small;font-weight:bold">Tests </label>
                                    <br />
                                    @* Slider Level *@
                                    <input type="range" @bind="sliderTestsLevel" min="1" max="5" />
                                    <span id="levelValue">@sliderTestsLevel</span>
                                    <label for="sliderLevel" style="font-size:small;font-weight:bold">Level</label>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            }
                        else
                            {
                            <button class="btn btn-link" @onclick="BtnAddNewExamComposition">
                                <img src="/icons/icoAddItem_gt_1.png" width="30" />
                            </button>
                            <button class="btn btn-link" @onclick="BtnDrawRandomTestsByExamComposition">
                                <img src="/icons/icoShuffle_bt_1.png" width="30" />
                            </button>
                            <br />
                            }
                    </div>
                </div>
            </div>
            <br>
            @* Card2- ExamTests *@
            @if (appState.Cmd.Contains("AddNewExamTest"))
                {
                clps = "collapse show";
                }
            else
                {
                clps = "collapse";
                }
            <div class="accordion-item">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ExamTestList" aria-expanded="false" aria-controls="ExamTestList">
                        <h4 style="color:indianred"> Exam Tests </h4>
                    </button>
                </h4>
                <div id="ExamTestList" class="accordion-collapse @clps" data-bs-parent="#accordionCourses">
                    <div class="accordion-body" style="background-color:whitesmoke">
                        @if (appState.Cmd.Contains("AddNewExamTest"))
                            {
                            @* SEARCH *@ 
                            <div class="mb-3" style="background-color:WhiteSmoke">
                                <h6 style="color:darkgoldenrod;">Add Test to Exam</h6>
                                <input class="form-inline" @ref="txtSearchTest" @bind="strSearch" type="text" placeholder="Search..." style="width:80%" />
                                <button class="btn btn-link" @onclick="BtnReadTestsBySearch">
                                    <img src="/icons/icoSearch_bt_1.png" width="30" />
                                </button>
                                <select @ref="cboCourseTests" @bind="cboCourseTestId" style="font-size:small;width:80%">
                                    <option value="0"> select from results </option>
                                    @foreach (var ct in lstCourseTests)
                                        {
                                        <option value="@ct.TestId"> @ct.TestId - @ct.TestTitle </option>
                                        }
                                </select>                    
                                <button class="btn btn-link" @onclick="BtnCreateExamTest">
                                    <img src="/icons/icoAddItem_gt_1.png" width="25" />
                                </button>
                            </div>
                            <hr style="color:Red" />
                            <br />
                            @* END SEARCH *@
                            }
                        else
                            {
                            <div style="text-align: center;">
                                <button class="btn btn-link" @onclick="BtnAddNewExamTest">
                                    <img src="/icons/icoAddItem_gt_1.png" width="30" />
                                </button>
                            </div>
                            }
                        @{
                            i = 0;
                        }
                        @foreach (Test tst in lstExamTests)
                            {
                             i++;
                            @* List of tests *@
                            <hr style="border-color:red" />
                                int localTestId = tst.TestId;
                                @if ((tst.TestTags & 1) == 1)
                                    {
                                    <p style="text-align:right;" dir="rtl">@i - @tst.TestTitle</p>
                                    }
                                else
                                    {
                                        <p style="text-align:left;">- @tst.TestTitle</p>
                                    }
                                    @foreach (TestOption opt in tst.TestOptions)
                                        {
                                        @if ((tst.TestTags & 1) == 1)
                                            {
                                            <div style="font-size:small;text-align:right;" dir="rtl"> - @opt.TestOptionTitle</div>
                                            }
                                        else
                                            {
                                            <div style="font-size:small;text-align:left;"> - @opt.TestOptionTitle</div>
                                            }
                                        }
                                <button class="btn btn-link" style="text-align:right;" dir="rtl" @onclick="()=>BtnDeleteExamTest(localTestId)" >
                                    <img src="icons/icoDelete_bt_1.png" title="Edit Test" alt="Edit" width="25px"/>
                                </button>
                                }
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <button class="btn btn-link" @onclick="BtnBack">
                <img src="/icons/icoBack_bt_1.png" width="30" />
            </button>
        </div>
    </EditForm>
    <script>
        document.getElementById("txtExamDuration").focus();
    </script>
</div>
    }

@code {
    [Parameter] public int examId { get; set; }
    private ElementReference txtSearchTest;
    private ElementReference cboCourseTopics;
    private ElementReference cboCourseTests;
    int cboCourseTopicId = 0;
    int cboCourseTestId = 0;
    int sliderTopicNTests = 5;
    int sliderTestsLevel = 3;
    int i = 0;
    string testRtlStatus = "";
    string optRtlStatus = "";
    string strSearch = "";
    User user = new User ();
    public Exam exam = new ();
    public bool _examIsActive = false;
    Course course = new ();    
    List<CourseTopic> lstCourseTopics = new ();
    List<ExamComposition> lstExamCompositions = new List<ExamComposition> ();
    List<Test> lstCourseTests = new ();
    List<Test> lstExamTests = new List<Test>();
    List<TestOption> lstTestOptions = new ();
    string clps="";
    public bool _hasFetched = false;
    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            
            Navman.NavigateTo ("/Login");
            }
        appState.SetCmd ("");
        exam = await feService.Read_Exam (examId);
        lstExamCompositions = await feService.Read_ExamCompositions (examId);
        lstExamTests = await feService.Read_TestsByExamId (examId, true);
        lstCourseTopics = await feService.Read_CourseTopics (exam.CourseId);
        if (lstCourseTopics.Count > 0)
            {
            _hasFetched = true;
            }
        }
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public async Task BtnUpdateExam()
        {
        exam.ExamNTests = lstExamTests.Count;
        bool result = await feService.Update_Exam (exam);
        //StateHasChanged ();
        //BtnBack ();
        }
    //ExamComposition
    public async Task BtnAddNewExamComposition()
        {
        appState.SetCmd ("AddNewExamComposition");
        }
    public async Task BtnCreateExamComposition()
        {
        if (cboCourseTopicId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "\nSelect a Topic");
            }
        else
            {
            ExamComposition examComposition = new ExamComposition () { ExamId=exam.ExamId, TopicId=cboCourseTopicId, TopicNTests=sliderTopicNTests, TestsLevel=sliderTestsLevel};
            int result = await feService.Create_ExamComposition (examComposition);
            if (result > 0)
                {
                lstExamCompositions.Clear ();
                lstExamCompositions = await feService.Read_ExamCompositions (examId);
                appState.SetCmd ("");
                StateHasChanged ();
                }
            }
        }
    public async Task BtnUpdateExamComposition(ExamComposition comp)
        {
        if (comp.TopicId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "\nSelect a Topic");
            }
        else
            {
            bool result = await feService.Update_ExamComposition (comp);
            if (result)
                {
                lstExamCompositions.Clear ();
                lstExamCompositions = await feService.Read_ExamCompositions (examId);
                appState.SetCmd ("");
                StateHasChanged ();
                }
            }

        }
    public async Task BtnDeleteExamComposition(int examCompositionId)
        {
        if(await JS.InvokeAsync<bool>("confirm","Delete Exam Composition?\n\n\nDelete?"))
            {
            bool result = await feService.Delete_ExamComposition (examCompositionId);
            if (result)
                {
                await JS.InvokeVoidAsync ("alert", "Deleted!");
                lstExamCompositions.Clear ();
                lstExamCompositions = await feService.Read_ExamCompositions (examId);
                appState.SetCmd ("");
                StateHasChanged ();
                }
            else
                {
                await JS.InvokeVoidAsync ("alert", "Exam Composition was not Deleted! --- operation Canceled");
                }
            }
        }
    //Draw Tests using ExamComposition
    public async Task BtnDrawRandomTestsByExamComposition()
        {
        if (lstExamCompositions.Count == 0)
            {
            return;
            }
        else
            {
            _hasFetched = false;
            var result = await feService.Delete_ExamTests (examId);
            foreach (ExamComposition ec in lstExamCompositions)
                {
                var result2 = await feService.Create_ExamTestsByExamComposition (ec);
                }
            }
        lstExamTests = await feService.Read_TestsByExamId (examId, true);
        _hasFetched = true;
        StateHasChanged ();
        }
    //Tests
    public async Task BtnAddNewExamTest()
        {
        appState.SetCmd ("AddNewExamTest");
        StateHasChanged(); //render page to make elements appear on DOM
        await Task.Yield(); //wait until render is completed
        await txtSearchTest.FocusAsync ();
        }
    public async Task BtnCreateExamTest()
        {
        if (cboCourseTestId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "\nSelect a Test");
            }
        else
            {
            ExamTest examTest = new ExamTest () { ExamId = exam.ExamId, TestId = cboCourseTestId, PercentCorrect = 0, PercentIncorrect = 0, PercentHelped = 0 };
            int result = await feService.Create_ExamTest (examTest);
            lstExamTests.Clear ();
            lstExamTests = await feService.Read_TestsByExamId (examId, true);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        }
    public async Task BtnReadTestsBySearch()
        {
        lstCourseTests = await feService.Read_TestsBySearch (strSearch, exam.CourseId, false);
        StateHasChanged ();
        }
    public async Task BtnDeleteExamTest(int testId)
        {
        if(await JS.InvokeAsync<bool>("confirm","All instances of this Test will be Deleted.\n\n\nDelete?"))
            {
            ExamTest examTest = new ExamTest () { ExamId=exam.ExamId, TestId=testId, PercentCorrect=0, PercentIncorrect=0, PercentHelped=0 };
            bool result = await feService.Delete_ExamTest (examTest);
            if (result)
                {
                await JS.InvokeVoidAsync ("alert", "\nDeleted!");
                lstExamTests.Clear ();
                lstExamTests = await feService.Read_TestsByExamId (examId, true);
                appState.SetCmd ("");
                StateHasChanged ();
                }
            }
        }
    public async Task BtnBack()
        {
        if(await JS.InvokeAsync<bool>("confirm", "Save Exam Properties?"))
            {
            BtnUpdateExam ();
            }
        appState.SetCmd ("");
        Navman.NavigateTo ("/T_Exams");
        }
    }
