@page "/T_Exams"
@using ExaminerB.Service
@using Microsoft.VisualBasic
@using System.Threading.Tasks
@inject FeService feService
@inject NavigationManager Navman
@inject AppState appState
@inject IJSRuntime JS
@implements IDisposable

<div style="text-align: center; "max-width:500px; margin: 0 auto;">
    <h2 style="color:gray">e<span style="color:indianred">x</span>aminer<span style="font-style:italic;font-size:small;color:royalblue"> WebApp </span> <span style="font-style:italic;font-size:small;color:indianred"> - @appState.UserRole </span></h2>
    <h5 class="card-title text-center text-secondary">@course.CourseName - exams</h5>
    @if (appState.Message != "")
        {
        <h6 style="color:indianred">@appState.Message</h6>
        }
</div>
@if (!_hasFetched)
        {
        <_Loading />
        }
    else
        {
        <EditForm Model="lstCourseExams" style="max-width:600px; margin: 0 auto;">
            @foreach (var exam in lstCourseExams)
                {
                int examId = exam.ExamId;
                <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                    <MudCard Class="mx-0">
                        <MudCardContent Style="background-color:whitesmoke;">
                            <div style="text-align:center">
                                <span style="color:indianred; font-weight:bold;">@exam.ExamTitle</span> <br />
                                <span style="color:royalblue; font-weight:bold;font-size:smaller">@exam.ExamDateTime</span>
                                <span style="font-weight:bold;font-size:smaller;"> -- @exam.ExamNTests Tests, @exam.ExamDuration min</span><br />
                                <hr style="color:indianred"/>
                                <button style="border:none" class="btn btn-link" @onclick="()=>BtnEditExam(exam)" >
                                    <img src="/img/icoRename.png" width="26" />
                                </button>
                                <button style="border:none" class="btn btn-link" @onclick="()=>BtnStratStopExam(exam)" >
                                    @if (exam.IsActive)
                                        {
                                        <img src="/img/icoOn.png" width="24" />                                        
                                        }
                                    else
                                        {
                                        <img src="/img/icoOff.png" width="24" />                                        
                                        }
                                </button>
                                <button style="border:none" class="btn btn-link" @onclick="()=>BtnSetExamAsFinishedForAllStudents(exam.ExamId)" >
                                    <img src="/img/icoClock2.png" width="22" />
                                </button>
                                <button style="border:none" class="btn btn-link" @onclick="()=>BtnDeleteExam(exam.ExamId)" >
                                    <img src="/img/icoDelete1.png" width="20" />
                                </button>
                            </div>
                            <div style="text-align:center">
                                <button style="border:none" class="btn btn-link" @onclick="()=>BtnReportExamTests(exam.ExamId)">
                                    <img src="/img/icoListT.png" width="32" />
                                </button>
                                <button style="border:none" class="btn btn-link" @onclick="()=>BtnReportStudents(exam.ExamId)" >
                                    <img src="/img/icoFolderS.png" width="26" />
                                </button>
                                <button style="border:none" class="btn btn-link" @onclick="()=>BtnReportExamPoints(exam.ExamId)" >
                                    <img src="/img/icoFolderE.png" width="26" />
                                </button>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudContainer>
                }
            @if (appState.Cmd == "AddNewExam")
                {
                <br />
                <div style="font-weight:bold; padding-bottom:10px;">Add New Exam</div>
                    <div class="d-flex mb-3">
                    <MudTextField  @ref="refNewExamTitle"  @bind-Value="txtNewExamTitle" Label="Exam title آزمون" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                    <button class="btn btn-link" @onclick="BtnCreateExam" >
                        <img src="/img/icoSave2.png" width="22" />
                    </button>
                    <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                        <img src="/img/icoCancel.png" width="20" />
                    </button>
                </div>
                }
            else
                {
                <br />
                <br />
                <hr />
                <div style="text-align: center;">
                    <button class="btn btn-link" @onclick="BtnAddNewExam">
                        <img src="/img/icoAdd0.png" width="24" />
                    </button>
                    <button class="btn btn-link" @onclick="BtnBack">
                        <img src="/img/icoBack3.png" width="40" />
                    </button>
                </div>
                }
        </EditForm>
        }

@code {
    private ElementReference txtNewExamName;
    private  MudTextField<string> refNewExamTitle;
    public string txtNewExamTitle = "";
    public int intStudentId = 0;
    public int intGroupId = 0;
    public bool _hasFetched = false;
    User user = new User ();
    Course course = new Course ();
    List<Exam> lstCourseExams = new ();
    List<Group> lstGroups = new ();
    List<User> lstStudents = new ();

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        //user
        user.UserId = Convert.ToInt32(appState.UserId);
        user.UserName = appState.UserName;
        user.UserPass = appState.UserPass;
        user.UserRole = "-";
        user.UserTags = 0;
        user.TeacherId = 0;
        //
        course.CourseId = Convert.ToInt32(appState.CourseId);
        course.CourseName = appState.CourseName ?? "";
        lstCourseExams = await feService.Read_Exams (course.CourseId);
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //AddNew Exam
    public async Task BtnAddNewExam ()
        {
        appState.SetCmd ("AddNewExam");
        StateHasChanged ();
        await Task.Delay (1);
        await refNewExamTitle.FocusAsync ();
        }
    public async Task BtnCreateExam ()
        {
        Exam newExam = new Exam () { CourseId = course.CourseId, ExamTitle = txtNewExamTitle, ExamDateTime=DateTime.Now.ToString("yyyy-MM-dd . HH:mm"), ExamDuration=10 };
        int result = await feService.Create_Exam (newExam);
        if (result > 0)
            {
            appState.SetCmd ("");
            lstCourseExams = await feService.Read_Exams (course.CourseId);
            StateHasChanged ();
            }
        }
    //btns
    public async Task BtnStratStopExam (Exam exam)
        {
        exam.IsActive = (exam.IsActive) ? false : true;
        bool result = await feService.Update_Exam (exam);
        StateHasChanged ();
        }
    public async Task BtnSetExamAsFinishedForAllStudents (int examId)
        {
        if(await JS.InvokeAsync<bool>("confirm", "Terminate all Students's Exams?\n\nSure?"))
            {
            bool result = await feService.Update_StudentsExamTags ("setStudentExamFinishedOn", examId);            
            StateHasChanged ();
            }
        }
    public void BtnEditExam (Exam exam)
        {
        Navman.NavigateTo ($"/T_Exam/{exam.ExamId}");
        }
    public void BtnReportStudents (int examId)
        {
        appState.SetReturnPage ("T_Exams");
        Navman.NavigateTo ($"/T_ReportStudents/E/{examId}");
        }
    public void BtnReportExamTests (int examId)
        {
        appState.SetReturnPage ("T_Exams");
        appState.SetCmd ("examtests");
        appState.SetExamId (examId);
        Navman.NavigateTo ($"/T_ReportTests");
        }
    public void BtnReportExamPoints (int examId)
        {
        appState.SetReturnPage ("T_Exams");
        appState.SetCmd ("reportexampoints");
        appState.SetExamId (examId);
        Navman.NavigateTo ($"/T_ReportExamPoints");
        }
    public async Task BtnDeleteExam (int examId)
        {
        if (await JS.InvokeAsync<bool>("confirm","Delete Exam?"))
            {
            bool result = await feService.Delete_Exam (examId);
            if (result)
                {
                appState.SetCmd ("");
                lstCourseExams = await feService.Read_Exams(course.CourseId);
                StateHasChanged ();
                }
            }
        }    
    //Exit
    public void BtnCancel ()
        {
        appState.SetCmd ("");
        }
    public void BtnBack ()
        {
        appState.SetCmd ("");
        Navman.NavigateTo ("/T_Courses");
        }
    }
