@page "/T_Exam/{examId:int}"
@using ExaminerB.Service
@using Microsoft.VisualBasic
@using System.Threading.Tasks
@inject FeService feService
@inject IJSRuntime JS
@inject NavigationManager Navman
@inject AppState appState
@rendermode InteractiveServer
@implements IDisposable

<div>
    <div style="text-align: center;">
        <h1 style="color:lightsteelblue">e<span style="color:lightpink">x</span>aminer<span style="font-size:small">Teacher</span></h1>
        @if (appState.Message != "")
            {
            <div style="text-align: center;">
                <h6 style="color:indianred">@appState.Message</h6>
            </div>
            }
    </div>
    <EditForm Model="exam">
        @* Exam *@
        <hr style="color:red" />
        <div style="font-size:130%;font-weight:bold;color:royalblue">Exam <span style="font-size:small;font-weight:normal;color:gray">Title - DateTime - Duration</span></div>
        <input class="form-inline" @bind="exam.ExamTitle" placeholder="Exam Title" style="font-weight:bold;color:indianred;width:50%;" />
        <br />
        <br />
        <div class="mb-3">
            <input class="form-inline" @bind="exam.ExamDateTime" placeholder="____-__-__ __:__" style="width:155px;text-align:center" />
            <input class="form-inline" @bind="exam.ExamDuration" placeholder="Duration min" type="number" style="width:55px;text-align:center" /> min
            <button class="btn btn-link" @onclick="BtnUpdateExam">
                <img src="/icons/icoSave_bt_1.png" width="25" />
            </button>
            <hr style="color:red" />
        </div>

        <div class="accordion" id="accordionEC">
            @* CARD1- ExamComposition *@
            <div class="accordion-item">
                @if (appState.Cmd == "AddNewExamComposition")
                {
                    clps = "collapse show";
                }
                else
                {
                    clps = "collapse";
                }
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ExamCompositionList" aria-expanded="false" aria-controls="ExamCompositionList">
                        <h4 style="color:indianred"> Exam Design </h4>
                    </button>
                </h4>
                <div id="ExamCompositionList" class="accordion-collapse @clps"
                    data-bs-parent="#accordionExamComposition">
                    <div class="accordion-body">
                        @foreach (var comp in lstExamCompositions)
                            {
                            <select class="form-select" @bind="comp.ExamCompositionId" style="width:60%; ">
                                @foreach (var topic in lstCourseTopics)
                                    {
                                    <option value="@topic.CourseTopicId"> @topic.CourseTopicTitle </option>
                                    }
                            </select>
                            <input type="range" min="1" max="20" @bind="comp.TopicNTests" />
                            <span>@comp.TopicNTests</span>
                            <label style="font-size:small;font-weight:bold">(Tests)</label>
                            <br />
                            <input type="range" min="1" max="5" @bind="@comp.TestsLevel" />
                            <span>@comp.TestsLevel</span>
                            <label style="font-size:small;font-weight:bold">(Level)</label>
                            <br />
                            <button class="btn btn-link" @onclick="BtnUpdateExamComposition" >
                                <img src="/icons/icoSave_bt_1.png" width="25" />
                            </button>
                            <button class="btn btn-link" @onclick="BtnDeleteExamComposition">
                                <img src="/icons/icoDelete_bt_1.png" width="25" />
                            </button>
                            <hr />
                            }
                        @if (appState.Cmd != "AddNewExamComposition")
                            {
                            <button class="btn btn-link" @onclick="BtnAddNewExamComposition">
                                <img src="/icons/icoAddItem_gt_1.png" width="30" />
                            </button>
                            <button class="btn btn-link"
                                @onclick="BtnDrawRandomTestsByExamComposition">
                                <img src="/icons/icoShuffle_bt_1.png" width="30" />
                            </button>
                            <br />
                            }
                        else
                            {
                            <div style=background-color:WhiteSmoke>
                                <div style="text-align: center;">
                                    <br>
                                    <h5 style="color:darkgoldenrod;font-weight:bold;">New Exam composition</h5>
                                    <select @ref="cboCourseTopics" @bind="cboCourseTopicId" style="width:60%">
                                        <option value="0"> Select a Topic... </option>
                                        @foreach (var topic in lstCourseTopics)
                                            {
                                            <option value="@topic.CourseTopicId"> @topic.CourseTopicTitle </option>
                                            }
                                    </select>
                                    @* Slider NTests *@
                                    <br />
                                    <input type="range" @bind="sliderTopicNTests" min="1" max="20" />
                                    <span id="testsValue">@sliderTopicNTests</span>
                                    <label for="sliderTests" style="font-size:small;font-weight:bold">Tests </label>
                                    <br />
                                    @* Slider Level *@
                                    <input type="range" @bind="sliderTestsLevel" min="1" max="5" />
                                    <span id="levelValue">@sliderTestsLevel</span>
                                    <label for="sliderLevel" style="font-size:small;font-weight:bold">Level</label>
                                    <br>
                                    <button class="btn btn-link" @onclick="BtnCreateExamComposition">
                                        <img src="/icons/icoAddItem_gt_1.png" width="30" />
                                    </button>
                                </div>
                            </div>
                            }
                    </div>
                </div>
            </div>
            <br>
            @* Card2- ExamTests *@
            @if (appState.Cmd.Contains("AddNewExamTest"))
                {
                clps = "collapse show";
                }
            else
                {
                clps = "collapse";
                }
            <div class="accordion-item">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ExamTestList" aria-expanded="false" aria-controls="ExamTestList">
                        <h4 style="color:indianred"> Exam Tests </h4>
                    </button>
                </h4>
                <div id="ExamTestList" class="accordion-collapse @clps" data-bs-parent="#accordionCourses">
                    <div class="accordion-body" style="background-color:whitesmoke">
                        @if (appState.Cmd.Contains("AddNewExamTest"))
                            {
                            @* SEARCH *@ 
                            <div class="mb-3" style="background-color:WhiteSmoke">
                                <h6 style="color:darkgoldenrod;">Add Test to Exam</h6>
                                <input class="form-inline" @ref="txtSearchTest" name="txtSearch" type="text" placeholder="Search..." style="width:80%" />
                                <button class="btn btn-link" @onclick="BtnReadTestsBySearch">
                                    <img src="/icons/icoFilter_bt_1.png" width="30" />
                                </button>
                                <select id="cboCourseTests" name="cboCourseTests" style="font-size:small;width:80%">
                                    @foreach (var ct in lstCourseTests)
                                        {
                                        <option value="@ct.TestId"> @ct.TestId - @ct.TestTitle </option>
                                        }
                                </select>                    
                                <button class="btn btn-link" @onclick="BtnCreateExamTest">
                                    <img src="/icons/icoAddItem_gt_1.png" width="25" />
                                </button>
                            </div>
                            <hr style="color:Red" />
                            <br />
                            @* END SEARCH *@
                            }
                        else
                            {
                            <div style="text-align: center;">
                                <button class="btn btn-link" @onclick="BtnCreateExamTest">
                                    <img src="/icons/icoAddItem_gt_1.png" width="30" />
                                </button>
                            </div>
                            }
                        @foreach (var tst in lstExamTests)
                            {
                             i++;
                                testRtlStatus = ((tst.TestTags & 1) == 1) ? "direction:rtl;text-align:right;" : "";
                                optRtlStatus = ((tst.TestTags & 2) == 2) ? "direction:rtl;text-align:right;" : "";
                                   <div style="font-size:small; font-weight:bold">
                                    <button class="btn btn-link" @onclick="BtnDeleteExamTest" >
                                        <img src="/icons/icoDelete_bt_1.png" width="20" />
                                    </button>
                                    @* @i - @tst.TestTitle *@
                                </div>
                                //GetTestOptions(tst.TestId);
                                @foreach (var opt in lstTestOptions)
                                {
                                    <div style="font-size:small"> - @opt.TestOptionTitle</div>
                                }
                                <hr style="border-color:red" />
                            }
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <button class="btn btn-link" @onclick="BtnBack">
                <img src="/icons/icoBack_bt_1.png" width="35" />
            </button>
        </div>
    </EditForm>
    <script>
        document.getElementById("txtExamDuration").focus();
    </script>

</div>

@code {
    [Parameter] public int examId { get; set; }
    private ElementReference txtSearchTest;
    private ElementReference cboCourseTopics;
    int cboCourseTopicId = 0;
    int sliderTopicNTests = 5;
    int sliderTestsLevel = 3;
    int i = 0;
    string testRtlStatus = "";
    string optRtlStatus = "";
    User user = new User ();
    public Exam exam = new ();
    Course course = new ();
    List<CourseTopic> lstCourseTopics = new ();
    List<ExamComposition> lstExamCompositions = new List<ExamComposition> ();
    List<Test> lstCourseTests = new ();
    List<Test> lstExamTests = new ();
    List<TestOption> lstTestOptions = new ();
    string clps="";
    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        appState.SetCmd ("");
        exam = await feService.Read_Exam (examId);
        lstExamCompositions = await feService.Read_ExamCompositions (examId);
        lstCourseTopics = await feService.Read_CourseTopics (exam.CourseId);
        }
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public async Task BtnUpdateExam()
        {        
        bool result = await feService.Update_Exam (exam);
        //StateHasChanged ();
        BtnBack ();
        }
    //ExamComposition
    public async Task BtnAddNewExamComposition()
        {
        appState.SetCmd ("AddNewExamComposition");
        }
    public async Task BtnCreateExamComposition()
        {
        if (cboCourseTopicId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "\nSelect a Topic");
            }
        else
            {
            ExamComposition examComposition = new ExamComposition () { ExamId=exam.ExamId, TopicId=cboCourseTopicId, TopicNTests=sliderTopicNTests, TestsLevel=sliderTestsLevel};
            int result = await feService.Create_ExamComposition (examComposition);
            if (result > 0)
                {
                appState.SetCmd ("");
                }
            }
        }
    public async Task BtnUpdateExamComposition()
        {       
        }
    //Tests
    public async Task BtnCreateExamTest()
        {
        appState.SetCmd ("AddNewExamTest");
        StateHasChanged(); //render page to make elements appear on DOM
        await Task.Yield(); //wait until render is completed
        await txtSearchTest.FocusAsync ();
        }
    public async Task BtnDrawRandomTestsByExamComposition()
        {       
        }
    public async Task BtnReadTestsBySearch()
        {       
        }
    public async Task BtnReadTests()
        {       
        }
    public async Task BtnReload()
        {       
        }
    public async Task BtnDeleteExamTest()
        {
        if(await JS.InvokeAsync<bool>("conform","All instances of this Test will be Deleted.\n\n\nDelete?"))
            {

            }
        }
    public async Task BtnDeleteExamComposition()
        {
        if(await JS.InvokeAsync<bool>("conform","Exam Composition will be Deleted.\n\n\nDelete?"))
            {

            }
        }
    public void BtnBack()
        {
        appState.SetCmd ("");
        Navman.NavigateTo ("/T_Exams");
        }
}
