@page "/T_ReportTests"
@using ExaminerB.Service
@using Microsoft.VisualBasic
@inject FeService feService
@inject NavigationManager Navman
@inject AppState appState
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar

@if (!_hasFetched)
    {
    <_ScanSheets />
    }
else
    {
    //Page-Header
    @if (appState.Cmd.ToLower() == "coursetests")
        {
        <h4 style="text-align:center">Course Tests</h4>
        }
    else if (appState.Cmd.ToLower() == "coursetopictests")
        {
        <h4 style="text-align:center">Student Course Topic Tests</h4>                
        }
    else if (appState.Cmd.ToLower() == "examtests")
        {
        <h4 style="text-align:center">Exam Raw Sheet Tests</h4>        
        }
    else if (appState.Cmd.ToLower() == "studentexamtests")
        {
        <h5 style="text-align:center">
            Student Exam Tests <br /> @appState.StudentName - @appState.StudentNickname
        </h5>
        }
    else if (appState.Cmd.ToLower() == "studentcoursetests")
        {
        <h4 style="text-align:center">@appState.Cmd</h4>                
        }
    else
        {
        <h4 style="text-align:center">Student Course Tests</h4>                
        }
    <EditForm Model = "lstxTests" style="max-width:600px; margin: 0 auto;">
        <hr />
        <div class="d-flex align-items-center" style="text-align: center; text-align:center">
            @* Back *@
            <button class="btn btn-link" @onclick="BtnBack">
                <img src="/img/icoBack3.png" title="Back بازگشت" alt="Edit" width="40px"/>
            </button>
            @* Font *@
            <button class="btn btn-link" @onclick="BtnChangeFontSize">
                <img src="/img/icoFontSize.png" title="Use Larger/Smaller  تغيير انداز فونت" alt="Edit" width="35px"/>
            </button>
            @* Keys *@
            <button class="btn btn-link" @onclick="BtnShowAnswers" title="Show Tests ليست تست ها">
                <img src="/img/icoKeys.png" title="Show Test Answers گزينه صحيح را نمايش بده" alt="Edit" width="30px"/>
            </button>
            @* Paginate *@
            @if ((appState.Cmd.ToLower() == "coursetests") || (appState.Cmd.ToLower() == "coursetopictests"))
                {
                <div class="d-flex align-items-center ms-5">
                    <MudNumericField @ref="refPageNumber" @bind-Value="intPendingPageNumber" Label="Page صفحه" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" style="width: 100px;padding-left:10px" />
                    <button class="btn btn-link  ms-2" @onclick="async ()=> await BtnReadTestsPaginated(intPendingPageNumber)">
                        <img src="/img/icoListT.png" width="38" />
                    </button>
              </div>  
                }
            <hr />
        </div>
        @{i= (intPageNumber - 1) * 20;}
        @foreach (var tst in lstxTests) 
            {
            @* Test *@
            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                <MudCard Class="mx-0">
                    <MudCardContent Style="background-color:whitesmoke;">
                        @{
                        stl= (_cmd == "useSmallFont") ? "font-size:small;" : "font-size:normal;";
                        string testRtlStatus = ((tst.TestTags & 1) == 1) ? "direction:rtl;text-align:right;" : "";
                        string optRtlStatus = ((tst.TestTags & 2) == 2) ? "direction:rtl;text-align:right;" : "";
                        i++;
                        }
                        <div style="@stl font-weight:bold; @testRtlStatus">@i - @tst.TestTitle</div>
                        <div style="@testRtlStatus display:flex; align-items:center; gap:2px;" >
                            @if ((appState.Cmd.ToLower() == "coursetests") || (appState.Cmd.ToLower() == "coursetopictests"))
                                {
                                <input class="form-check-input" style="margin-left:5px;margin-right:5px;" type="checkbox" @bind="tst.IsSelected" />
                                <button class="btn btn-link" style="@testRtlStatus" @onclick="()=>BtnEditCourseTest(tst)">
                                    <img src="/img/icoEditPen.png" title="Edit Test" alt="Edit" width="18px"/>
                                </button>
                                }
                            else if (appState.Cmd.ToLower() == "examtests")
                                {                
                                <button class="btn btn-link" style="@testRtlStatus" @onclick="()=>BtnEditCourseTest(tst)">
                                    <img src="/img/icoEditPen.png" title="Edit Test" alt="Edit" width="20px"/>
                                </button>
                                <button class="btn btn-link" style="@testRtlStatus" @onclick="()=>BtnDeleteTestFromExamRawSheet(tst)">
                                    <img src="/img/icoDelete1.png" title="Delete Test حذف تست" alt="Edit" width="20px"/>
                                </button>
                                }
                            else if (appState.Cmd.ToLower() == "studentexamtests")
                                {                
                                <button class="btn btn-link" style="@testRtlStatus" @onclick="()=>BtnEditCourseTest(tst)">
                                    <img src="/img/icoEditPen.png" title="Edit Test" alt="Edit" width="20px"/>
                                </button>
                                <button class="btn btn-link" style="@testRtlStatus" @onclick="()=>BtnShowCourseTestStats(tst)">
                                    <img src="/img/icoChartPie.png" title="Show stats نمايش آمار" alt="Edit" width="25px"/>
                                </button>
                                }
                            else if (appState.Cmd.ToLower() == "studentcoursetests")
                                {
                                <button class="btn btn-link" style="@testRtlStatus" @onclick="()=>BtnEditCourseTest(tst)">
                                    <img src="/img/icoEditPen.png" title="Edit Test" alt="Edit" width="20px"/>
                                </button>
                                }
                        </div>
                        @* Show-TestOptions *@
                        @foreach (var opt in tst.TestOptions)
                            {
                            if (appState.Cmd.EndsWith("raw"))
                                {
                                <div style="@stl; @optRtlStatus"> - @opt.TestOptionTitle</div>
                                }
                            else
                                {
                                if((opt.TestOptionId == tst.StudentExamTestKey) & (opt.TestOptionId == tst.StudentExamTestAns))
                                    {
                                    <div style="@stl color:darkgoldenrod;font-weight:bold; @optRtlStatus"> - @opt.TestOptionTitle</div>
                                    }
                                else if((opt.TestOptionId == tst.StudentExamTestKey) & (opt.TestOptionId != tst.StudentExamTestAns))
                                    {
                                    <div style="@stl color:royalblue; @optRtlStatus"> - @opt.TestOptionTitle</div>
                                    }
                                else if((opt.TestOptionId != tst.StudentExamTestKey) & (opt.TestOptionId == tst.StudentExamTestAns))
                                    {
                                    <div style="@stl color:indianred; @optRtlStatus"> - @opt.TestOptionTitle</div>
                                    }
                                else if((opt.TestOptionId != tst.StudentExamTestKey) & (opt.TestOptionId != tst.StudentExamTestAns))
                                    {
                                    <div style="@stl color:black; @optRtlStatus"> - @opt.TestOptionTitle</div>
                                    }
                                }
                            }
                            @if ((appState.Cmd == "studentexamtests") & (appState.TestId == tst.TestId))
                                {
                                <div style="font-weight:bold;">stats:</div>
                                <div style="padding-left:30px;">
                                    <div style="font-style:italic;color:dodgerblue">@nStudentsVisited Visits</div>
                                    <div style="font-weight:bold">
                                        @nStudentsAnswered Answers
                                        <span style="font-weight:normal; padding-left:15px;">( @nStudentsAnsweredCorrectly correct</span> 
                                        <span style="font-weight:normal; padding-left:15px;">@nStudentsAnsweredIncorrectly incorrect )</span>
                                    </div> 
                                    <div style="font-weight:bold;">@nStudentsNotAnswered noAnswer</div>                
                                </div>
                                <br /> 
                                <div class="d-flex justify-content-center">
                            <MudChart ChartType="ChartType.Donut"
                                InputData="@(new double[] {nStudentsSlectedOpt1, nStudentsSlectedOpt2, nStudentsSlectedOpt3, nStudentsSlectedOpt4, nStudentsSlectedOpt5 })"
                                InputLabels="@(new[] { "a: "+ @nStudentsSlectedOpt1,"b: "+ @nStudentsSlectedOpt2, "c: "+ @nStudentsSlectedOpt3, "d: "+ @nStudentsSlectedOpt4, "e: "+ @nStudentsSlectedOpt5, })"
                                Width="100px" Height="100px" />
                            <br /> 
                        </div>
                        }

                    </MudCardContent>
                </MudCard>
            </MudContainer>        
            }
            @if ((appState.Cmd.ToLower() == "coursetests") || (appState.Cmd.ToLower() == "coursetopictests"))
                {
                <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                    <MudCard Class="mx-0">
                        <MudCardContent Style="background-color:whitesmoke;">
                            <div style="font-weight:bold;color:royalblue;padding-bottom:5px;">Add tests to:</div>
                            <div class="d-flex">
                                <MudSelect T="int" Label="Exam آزمون" @bind-Value="intExamId" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                    <MudSelectItem Value="0">Select an Exam...</MudSelectItem>
                                    @foreach (Exam exam in lstExams) { <MudSelectItem Value="@exam.ExamId">@exam.ExamTitle</MudSelectItem> }
                                </MudSelect>
                                <button class="btn btn-link" type="submit" @onclick="BtnAddSelectedTestsToAnExam">
                                    <img src="/img/icoSave2.png" width="24" />
                                </button>
                                <button class="btn btn-link" type="submit" @onclick="BtnEditExam">
                                    <img src="/img/icoFolderE.png" width="30" />
                                </button>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudContainer>
                <hr style="color:red" />
                }
            <br />
            <div style="text-align: center;">
                <button class="btn btn-link" type="submit" @onclick="BtnBack">
                    <img src="/img/icoBack3.png" width="40" />
                </button>
            </div>
    </EditForm>
    }
    <script>
        window.scrollToTop = () => { window.scrollTo({ top: 0, behavior: 'smooth' }); }; 
    </script>

@code {
    public bool _hasFetched = false;
    private MudNumericField <int> refPageNumber;
    private int intPageNumber = 1;        //actual page used for numbering
    private int intPendingPageNumber = 1; //value typed in the input (prevent changing i (index number) of tests in list)
    User user = new User ();
    Course course = new Course ();
    List<StudentExamTest> lstxTests = new List<StudentExamTest> ();
    List<Test> lstTests = new List<Test> ();
    List<Exam> lstExams = new List<Exam> ();
    private int intExamId;
    int i = 0;
    int StudentId;
    string _cmd;
    string stl;
    public int nStudents = 0;
    public int nStudentsVisited = 0;
    public int nStudentsAnswered = 0;
    public int nStudentsAnsweredCorrectly = 0;
    public int nStudentsAnsweredIncorrectly = 0;
    public int nStudentsNotAnswered = 0;
    public int nStudentsSlectedOpt1 = 0;
    public int nStudentsSlectedOpt2 = 0;
    public int nStudentsSlectedOpt3 = 0;
    public int nStudentsSlectedOpt4 = 0;
    public int nStudentsSlectedOpt5 = 0;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        await RefreshPageData ();
        StudentId = Convert.ToInt32(appState.UserId);
        stl = "";
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public void BtnShowAnswers()
        {
        string _appstatecmd = appState.Cmd ?? "";
        _appstatecmd = (_appstatecmd.EndsWith ("raw")) ? (Strings.Left (_appstatecmd, _appstatecmd.Length - 3)) : (_appstatecmd + "raw");
        appState.SetCmd (_appstatecmd);
        i = 0;
        }
    public void BtnCourseExamStats()
        {
        _cmd = (_cmd == "showStatistics")? "": "showStatistics";
        i = 0;
        }
    public void BtnChangeFontSize()
        {
        _cmd = (_cmd == "useSmallFont")? "": "useSmallFont";
        i = 0;
        }
    public async Task BtnReadTestsPaginated(int newPage)
        {
        intPageNumber = newPage;
        if (appState.Cmd == "coursetests")
            {
            lstTests = await feService.Read_TestsByCourseId (Convert.ToInt32 (appState.CourseId), intPageNumber, true);        
            }
        else if (appState.Cmd == "coursetopictests")
            {
            lstTests = await feService.Read_TestsByCourseTopicId (Convert.ToInt32 (appState.CourseTopicId), intPageNumber, true);           
            }
        lstxTests.Clear ();
        foreach(Test tst in lstTests)
            {
            lstxTests.Add (new StudentExamTest()
                {
                StudentExamId = tst.CourseId,
                TestId = tst.TestId,
                StudentExamTestKey = 0,
                StudentExamTestAns = 0,
                TestIndex = 0,
                TestTitle = tst.TestTitle,
                TestType = tst.TestType,
                CourseTopicId = tst.TopicId,
                CourseTopicTitle = "",
                TestTags = tst.TestTags,
                TestLevel = tst.TestLevel,
                TestOptions = tst.TestOptions
                }
            );}
        //find and set key
        foreach(StudentExamTest t in lstxTests)
            {
            foreach(TestOption opt in t.TestOptions)
                {
                if (opt.TestOptionTags >= 2)
                    {
                    t.StudentExamTestKey = opt.TestOptionId;
                    break;
                    }
                }
            }
        }
    public async Task BtnEditCourseTest(StudentExamTest studentExamTest)
        {
        appState.SetTestId (studentExamTest.TestId);
        appState.SetReturnPage ("/T_ReportTests");
        Navman.NavigateTo ("/T_CourseTest");
        }
    public async Task BtnDeleteTestFromExamRawSheet(StudentExamTest studentExamTest)
        {
        if(await JS.InvokeAsync<bool>("confirm", "Remove Tests from Exam-Sheet ?"))
            {
            ExamTest examTest = new () { ExamId = Convert.ToInt32 (appState.ExamId), TestId = studentExamTest.TestId };
            bool result = await feService.Delete_ExamTest (examTest);
            await RefreshPageData ();
            StateHasChanged ();
            }
        }
    public async Task BtnShowCourseTestStats(StudentExamTest studentExamTest)
        {
        _hasFetched = false;
        //Read StudentExam and StudentExamTest Across Students
        List<StudentExamTest> lstStudentsExamTest = await feService.Read_StudentsExamTest (studentExamTest);
        //calcs ...
        nStudents = lstStudentsExamTest.Count;
        nStudentsVisited = 0;
        nStudentsAnswered = 0;
        nStudentsAnsweredCorrectly = 0;
        nStudentsAnsweredIncorrectly = 0;
        nStudentsNotAnswered = 0;
        nStudentsSlectedOpt1 = 0;
        nStudentsSlectedOpt2 = 0;
        nStudentsSlectedOpt3 = 0;
        nStudentsSlectedOpt4 = 0;
        nStudentsSlectedOpt5 = 0;
        foreach(StudentExamTest tst in lstStudentsExamTest)
            {
            if((tst.StudentExamTestTags & 1) == 1)
                {
                nStudentsVisited++;
                }
            if((tst.StudentExamTestTags & 4) == 4)
                {
                nStudentsAnswered++;
                if(tst.StudentExamTestAns == tst.StudentExamTestKey)
                    {
                    nStudentsAnsweredCorrectly++;
                    }
                else
                    {
                    nStudentsAnsweredIncorrectly++;                    
                    }
                }
            if((tst.StudentExamTestAns == studentExamTest.Opt1Id))
                {
                nStudentsSlectedOpt1++;
                }
            if((tst.StudentExamTestAns == studentExamTest.Opt2Id))
                {
                nStudentsSlectedOpt2++;
                }
            if((tst.StudentExamTestAns == studentExamTest.Opt3Id))
                {
                nStudentsSlectedOpt3++;
                }
            if((tst.StudentExamTestAns == studentExamTest.Opt4Id))
                {
                nStudentsSlectedOpt4++;
                }
            if((tst.StudentExamTestAns != 0) & (tst.StudentExamTestAns == studentExamTest.Opt5Id))
                {
                nStudentsSlectedOpt5++;
                }
            }
        nStudentsNotAnswered = nStudentsVisited - nStudentsAnswered;
        if (appState.TestId == studentExamTest.TestId)
            {
            appState.SetTestId (0);
            }
        else
            {
            appState.SetTestId (studentExamTest.TestId);
            }
        //appState.SetCmd ("ShowStudentExamTestStats");
        _hasFetched = true;
        StateHasChanged ();
        }
    public async Task BtnAddSelectedTestsToAnExam()
        {
        if (intExamId <= 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select an exam!");            
            }
        else
            {
            var selectedIds = lstxTests
                .Where(t => t.IsSelected)
                .Select(t => t.TestId)
                .ToList();
            int testCount = 0;
            foreach(int intTestId in selectedIds)
                {
                ExamTest examTest = new ExamTest () {ExamId = intExamId, TestId= intTestId };
                int result = await feService.Create_ExamTest (examTest);
                if (result > 0)
                    {
                    testCount++;
                    Console.WriteLine($"Test {testCount} added to Exam");
                    }
                }
            //appState.SetCmd ("coursetests");
            StateHasChanged ();            
            Snackbar.Add($"\n\n{testCount} Tests was added to the Exam Successfully", Severity.Success); //{Severity.Warning .Error | .Info | .Success} --needs: @inject ISnackbar Snackbar
            //old code: await JS.InvokeVoidAsync ("alert", $"\n\n{testCount} Tests was added to the Exam Successfully")
            }
        }
    public async Task BtnEditExam()
        {
        if (intExamId > 0)
            {
            Navman.NavigateTo ($"/T_Exam/{intExamId}");
            }
        else
            {
            await JS.InvokeVoidAsync ("alert", "Select an exam!");            
            }
        }
    public void BtnBack()
        {
        if (appState.ReturnPage != "/T_ReportTests")
            {
            Navman.NavigateTo (appState.ReturnPage?? "/Login");
            }
        else
            {
            Navman.NavigateTo ("/T_Courses");
            }
        }
    //method
    public async Task RefreshPageData()
        {
        _hasFetched = false;
        switch (appState.Cmd?.ToLower())
            {
            case "coursetests":
                    {
                    course = new Course () { CourseId = Convert.ToInt32 (appState.CourseId) };
                    lstExams.Clear ();
                    lstExams = await feService.Read_Exams (course.CourseId);
                    await BtnReadTestsPaginated (1);
                    break;
                    }
            case "coursetopictests":
                    {
                    course = new Course () { CourseId = Convert.ToInt32 (appState.CourseId) };
                    lstExams.Clear ();
                    lstExams = await feService.Read_Exams (course.CourseId);
                    await BtnReadTestsPaginated (1);
                    break;
                    }
            case"examtests":
                    {
                    lstxTests.Clear ();
                    List<Test> lstExamTests = await feService.Read_TestsByExamId (Convert.ToInt32 (appState.ExamId), true);
                    foreach(Test tst in lstExamTests)
                        {
                        lstxTests.Add (new StudentExamTest()
                        {
                        StudentExamId = tst.CourseId,
                        TestId = tst.TestId,
                        StudentExamTestKey = 0,
                        StudentExamTestAns = 0,
                        TestIndex = 0,
                        TestTitle = tst.TestTitle,
                        TestType = tst.TestType,
                        CourseTopicId = tst.TopicId,
                        CourseTopicTitle = "",
                        TestTags = tst.TestTags,
                        TestLevel = tst.TestLevel,
                        TestOptions = tst.TestOptions
                        }
                            );}
                    //find and set key
                    foreach(StudentExamTest t in lstxTests)
                        {
                        foreach(TestOption opt in t.TestOptions)
                            {
                            if (opt.TestOptionTags >= 2)
                                {
                                t.StudentExamTestKey = opt.TestOptionId;
                                break;
                                }
                            }
                        }
                    break;
                    }
            case"studentexamtests":
                    {
                    lstxTests.Clear ();
                    StudentExam studentExam = await feService.Read_StudentExam (Convert.ToInt32 (appState.StudentExamId), false);
                    appState.SetStudentName (studentExam.StudentName);
                    appState.SetStudentNickname (studentExam.StudentNickname);
                    lstxTests = await feService.Read_StudentExamTests (Convert.ToInt32 (appState.StudentExamId),true);
                    break;
                    }
            case "studentcoursetests":
                    {
                    lstxTests.Clear ();
                    StudentCourse studentCourse = new StudentCourse (); //{ CourseId = Convert.ToInt32 (appState.CourseId) };
                    List<StudentCourseTest> lstStudentCourseTests = await feService.Read_StudentCourseTests (studentCourse, true);
                    //copy data to a shared satandard list so that html code uses it
                    foreach(StudentCourseTest sctest in lstStudentCourseTests)
                        {
                        lstxTests.Add (new StudentExamTest()
                        {
                        StudentExamId = sctest.StudentCourseId,                        
                        TestId = sctest.TestId,
                        StudentExamTestKey = sctest.TestKey,
                        StudentExamTestAns = sctest.UserAns,
                        TestIndex = sctest.TestIndex,
                        TestTitle = sctest.TestTitle,
                        TestType = sctest.TestType,
                        CourseTopicId = sctest.CourseTopicId,
                        CourseTopicTitle = sctest.CourseTopicTitle,
                        TestTags = sctest.TestTags,
                        TestLevel = sctest.TestLevel,
                        TestOptions = sctest.TestOptions
                        }
                        );}
                    break; 
                    }
            }
        _hasFetched = true;
        }
}
