@page "/T_ReportMessages/{mode}/{Id:int}"
@using ExaminerB.Service
@inject FeService feService
@inject NavigationManager Navman
@inject AppState appState
@inject IJSRuntime JS
@implements IDisposable
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<h1 style="text-align:center;color:lightsteelblue">e<span style="color:lightpink">x</span>aminer<span style="font-size:small"> Teacher</span></h1>
<hr style="color:red"/>

@if (!_hasFetched)
    {
    <_ScanSheets />
    }
else
    {
    <h6 style="text-align:center;">Messages of: <span style="color:indianred">@appState.StudentName</span></h6>
    <h6 style="text-align:center;color:indianred">@appState.StudentNickname</h6>
    @if (lstStudentMessages.Count > 0)
        {
        <div style="text-align:center">
            @if (appState.Cmd== "ShowStudentMessageStats" & @nMessagesAll > 0)
                {
                <button class="btn btn-link" @onclick="BtnBack">
                    <img src="/img/icoBack3.png" width="40" />
                </button>
                <button class="btn btn-link" @onclick="()=>BtnDelete_MessagesOfstudent(Id)">
                    <img src="/img/icoDelete2.png" width="35" />
                </button>
                <br />
                <hr />
                <div style="text-align:left; padding-left:25px;background-color:whitesmoke">
                    <div style="font-weight:bold">Messages <span style="font-weight:normal;"> ( @nMessagesAll ) </span></div>
                    <div style="padding-left:15px;">@nMessagesRead ( @(nMessagesRead * 100 / nMessagesAll)% ) Read</div>
                    <div style="padding-left:15px;">@nMessagesBookmarked Bookmarked</div>
                    <div style="padding-left:15px;">@nMessagesDeleted Deleted</div>
                    <br />
                </div>
                <br /> 
                @if(nMessagesTypeIsFeedback > 0)
                    {
                    <div style="font-weight:bold; padding-left:25px;">Feedbacks: <span style="font-weight:normal;"> @(nMessagesAnsweredYes + nMessagesAnsweredNo) /  @nMessagesTypeIsFeedback ( @((nMessagesAnsweredYes + nMessagesAnsweredNo) * 100 / @nMessagesTypeIsFeedback)% ) </span></div>
                    }
                <div class="d-flex justify-content-center">
                    <MudChart ChartType="ChartType.Donut"
                        InputData="@(new double[] {nMessagesAnsweredYes, nMessagesAnsweredNo,nMessagesNotAnswered })"
                        InputLabels="@(new[] { "Yes: "+ @nMessagesAnsweredYes, "No: " + nMessagesAnsweredNo, "notSure: "+ nMessagesNotAnswered })"
                        Width="100px" Height="100px" />
                    <br /> 
                </div>
            }
            else
                {
                <button class="btn btn-link" @onclick="BtnBack">
                    <img src="/img/icoBack3.png" width="40" />
                </button>                
                <button class="btn btn-link" @onclick="BtnCalcPercentsForStudent">
                    <img src="/img/gifChartPie.gif" width="40" />
                </button>
                <button class="btn btn-link" @onclick="()=>BtnDelete_MessagesOfstudent(Id)">
                    <img src="/img/icoDelete2.png" width="35" />
                </button>
                }
            </div>        
        }
    }
    <hr />
    <EditForm Model="lstStudentMessages">
        @foreach(StudentMessage message in lstStudentMessages)
        {
        <MudContainer Class="mt-2 px-0">
            <MudCard Class="mx-0">
                <MudCardContent Style="background-color:whitesmoke;">
                    <div style="font-weight:bold; text-align:center; white-space: pre-wrap;">
                        @message.MessageTitle
                    </div>
                    <div style="text-align:center;">
                        <hr style="color:royalblue" />
                        <div style="text-align:center; white-space: pre-wrap">
                            @message.MessageBody
                        </div>
                        <hr style="color:royalblue" />
                        <div>Sent: @message.DateTimeSent</div>
                        @if((message.StudentMessageTags & 1) == 1)
                            {
                            <div>Read: @message.DateTimeRead</div>                    
                            }
                        @if((message.StudentMessageTags & 16) == 16)
                            {
                            <span style="color:royalblue;font-weight:bold"># YES </span>
                            }
                        @if((message.StudentMessageTags & 32) == 32)
                            {
                            <span style="color:indianred;font-weight:bold"># NO </span>
                            }
                        @if((message.StudentMessageTags & 2) == 2)
                            {
                            <span style="color:gray;font-style:italic">Bookmarked </span>
                            }
                        @if((message.StudentMessageTags & 4) == 4)
                            {
                            <span style="color:gray;font-style:italic">Deleted </span>
                            }
                    </div>
                    @if ((appState.Cmd == "ShowMessageStats") & (message.MessageId == appState.MessageId) & (@nStudents > 0))
                        {
                        <div style="text-align:left; padding-left:25px;">
                            <div style="font-weight:bold">Terget Students <span style="font-weight:normal;"> ( @nStudents ) </span></div>
                            <div style="padding-left:15px;">@nStudentsRead ( @(nStudentsRead * 100 / nStudents)% ) Read</div>
                            <div style="padding-left:15px;">@nStudentsBookmarked Bookmarked</div>
                            <div style="padding-left:15px;">@nStudentsDeleted Deleted</div>
                            <button class="btn btn-link" @onclick="()=>BtnListAnswersToThisMessage(message)">
                                <img src="/img/icoListM.png" width="26" />
                            </button>
                        </div>
                        @if((message.StudentMessageTags & 8) == 8)
                            {
                            <div style="text-align:left;font-weight:bold; padding-left:25px;">Feedbacks: <span style="font-weight:normal;"> @(nStudentsAnsweredYes + nStudentsAnsweredNo) /  @nStudents ( @((nStudentsAnsweredYes + nStudentsAnsweredNo) * 100 / @nStudents)% ) </span></div>                    
                            <div class="d-flex justify-content-center">
                                <MudChart ChartType="ChartType.Donut"
                                    InputData="@(new double[] {nStudentsAnsweredYes, nStudentsAnsweredNo, nStudentsNotAnswered })"
                                    InputLabels="@(new[] { "Yes: "+ @nStudentsAnsweredYes, "No: " + nStudentsAnsweredNo, "notSure: "+ nStudentsNotAnswered })"
                                    Width="100px" Height="100px" />
                                <br /> 
                            </div>
                            }
                        }
                    else
                        {
                        <div style="text-align:center">
                            <button class="btn btn-link" @onclick="()=>BtnCalcPercentsForMessage(message)">
                                <img src="/img/icoChartPie.png" width="26" />
                            </button>
                            <button class="btn btn-link" @onclick="()=>BtnDelete_Messages(message.MessageId)">
                                <img src="/img/icoDelete2.png" width="30" />
                            </button>
                            <button class="btn btn-link" @onclick="()=>BtnDelete_Message(message.StudentMessageId)">
                                <img src="/img/icoDelete1.png" width="22" />
                            </button>                
                        </div>
                        }
                        @if((appState.Cmd == "ShowListOfAnswersToThisMessage") & (message.MessageId == appState.MessageId) & (@nStudents > 0))
                            {
                            <MudContainer Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:ghostwhite;">
                                        <table class="table table-borderless">
                                            @foreach (StudentMessage studentMessage in lstStudentMessageInstances)
                                                {
                                                <tr>
                                                    <td style="text-align:left">
                                                        @if((studentMessage.StudentMessageTags & 1) == 1)
                                                            {
                                                            <span style="font-size:x-small;font-style:normal;font-weight:bold;color:royalblue">
                                                                @studentMessage.DateTimeRead
                                                            </span>                                                
                                                            }
                                                        else
                                                            {
                                                            <span style="font-size:x-small;font-style:normal;font-weight:bold;color:indianred">
                                                                not read
                                                            </span>
                                                            }
                                                        <br/>
                                                        <span style="font-size:smaller">
                                                            @studentMessage.StudentName (@studentMessage.StudentNickname)
                                                        </span>
                                                        <hr />
                                                    </td>
                                                        @if((@studentMessage.StudentMessageTags & 16) == 16)
                                                            {
                                                            <span style="font-size:smaller;font-weight:bold; color:royalblue">YES</span>
                                                            }
                                                        else if((@studentMessage.StudentMessageTags & 32) == 32)
                                                            {
                                                            <span style="font-size:smaller;font-weight:bold; color:indianred">NO</span>
                                                            }
                                                        else
                                                            {
                                                            <span style="font-size:smaller;font-weight:bold; color:lightslategray">--</span>                            
                                                            }
                                                </tr>
                                                }
                                        </table>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            }
                </MudCardContent>
            </MudCard>
        </MudContainer>
        }
    </EditForm>
        <div style="text-align:center">
            <br />
            <button class="btn btn-link" @onclick="BtnBack">
                <img src="/img/icoBack3.png" width="40" />
            </button>
        </div>
    <script>
        window.scrollToTop = () => { window.scrollTo({ top: 0, behavior: 'smooth' }); }; 
    </script>

@code {
    [Parameter] public string mode { get; set; }
    [Parameter] public int Id { get; set; }
    //messages
    public int nMessagesAll;
    public int nMessagesRead;
    public int nMessagesBookmarked;
    public int nMessagesDeleted;
    public int nMessagesTypeIsFeedback;
    public int nMessagesAnsweredYes;
    public int nMessagesAnsweredNo;
    public int nMessagesNotAnswered;
    //students
    public int nStudents = 0;
    public int nStudentsRead = 0;
    public int nStudentsBookmarked = 0;
    public int nStudentsDeleted = 0;
    public int nStudentsAnsweredYes = 0;
    public int nStudentsAnsweredNo = 0;
    public int nStudentsNotAnswered = 0;
    User user = new User ();
    List<StudentMessage> lstStudentMessages = new List<StudentMessage> ();
    List<StudentMessage> lstStudentMessageInstances = new List<StudentMessage> ();
    public bool _hasFetched = false;
    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        appState.SetCmd ("");
        lstStudentMessages = await feService.Read_StudentMessages (Id, "ByStudentId");
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns-Students
    public void BtnCalcPercentsForStudent()
        {
        nMessagesAll = 0;
        nMessagesRead = 0;
        nMessagesBookmarked = 0;
        nMessagesDeleted = 0;
        nMessagesTypeIsFeedback = 0;
        nMessagesAnsweredYes = 0;
        nMessagesAnsweredNo = 0;
        nMessagesNotAnswered = 0;
        foreach (StudentMessage stmsg in lstStudentMessages)
            {
            nMessagesAll++;
            if((stmsg.StudentMessageTags & 1) == 1)
                {
                nMessagesRead++;                
                }
            if((stmsg.StudentMessageTags & 2) == 2)
                {
                nMessagesBookmarked++;
                }
            if((stmsg.StudentMessageTags & 4) == 4)
                {
                nMessagesDeleted++;
                }
            if((stmsg.StudentMessageTags & 8) == 8)
                {
                nMessagesTypeIsFeedback++;
                if((stmsg.StudentMessageTags & 16) == 16)
                    {
                    nMessagesAnsweredYes++;
                    }
                else if((stmsg.StudentMessageTags & 32) == 32)
                    {
                    nMessagesAnsweredNo++;
                    }
                else
                    {
                    nMessagesNotAnswered++;
                    }
                }                
            }
        appState.SetCmd ("ShowStudentMessageStats");
        }
    public async Task BtnDelete_MessagesOfstudent(int studentId)
        {
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> all messages of this student?<div style='text-align:center'><br><br><img src='/img/icoDelete2.png' width='70'/></div><br><hr>");
        bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: message, yesText: "Yes", cancelText: "No");
        if (confirmResult == true)
            {
            bool result = await feService.Delete_Messages ("ByStudentId", studentId);
            if(result)
                {
                int id = Convert.ToInt32 (Id);
                Snackbar.Add("Deleted.", Severity.Success); //Severity.Warning | .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                lstStudentMessages.Clear();
                lstStudentMessages = await feService.Read_StudentMessages (Id, "ByStudentId");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                Snackbar.Add("Message was not Deleted.", Severity.Error); //Severity.Warning | .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }            
            }
        }
    //btns-Messages
    public async Task BtnCalcPercentsForMessage(StudentMessage message)
        {
        _hasFetched = false;
        lstStudentMessageInstances = await feService.Read_StudentMessages (message.MessageId, "ByMessageId");
        if (lstStudentMessageInstances.Count > 0)
            {
            nStudents = 0;
            nStudentsRead = 0;
            nStudentsBookmarked = 0;
            nStudentsDeleted = 0;
            nStudentsAnsweredYes = 0;
            nStudentsAnsweredNo = 0;
            nStudentsNotAnswered = 0;
            foreach (StudentMessage stmsg in lstStudentMessageInstances)
                {
                nStudents++;
                if((stmsg.StudentMessageTags & 1) == 1)
                    {
                    nStudentsRead++;                
                    }
                if((stmsg.StudentMessageTags & 2) == 2)
                    {
                    nStudentsBookmarked++;
                    }
                if((stmsg.StudentMessageTags & 4) == 4)
                    {
                    nStudentsDeleted++;
                    }
                if((stmsg.StudentMessageTags & 8) == 8)
                    {
                    if((stmsg.StudentMessageTags & 16) == 16)
                        {
                        nStudentsAnsweredYes++;
                        }
                    else if((stmsg.StudentMessageTags & 32) ==32)
                        {
                        nStudentsAnsweredNo++;
                        }
                    else
                        {
                        nStudentsNotAnswered++;
                        }
                    }
                }
            appState.SetCmd ("ShowMessageStats");
            appState.SetMessageId (message.MessageId);
            }
        _hasFetched = true;
        }
    public async Task BtnListAnswersToThisMessage(StudentMessage message)
        {
        appState.SetCmd ("ShowListOfAnswersToThisMessage");
        appState.SetMessageId (message.MessageId);
        _hasFetched = true;
        }
    public async Task BtnDelete_Message(int studentMessageId)
        {
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> message permanently?<br><br><div style='text-align:center'><img src='/img/icoDelete2.png' width='70'/></div><br><hr>");
        bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: message, yesText: "Yes", cancelText: "No");
        if (confirmResult == true)
            {
            int userId = Convert.ToInt32 (appState.UserId);
            bool result = await feService.Delete_Messages ("ByStudentMesssageId", studentMessageId);
            if(result)
                {
                Snackbar.Add("Deleted", Severity.Success); //Severity.Warning | .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                int id = Convert.ToInt32 (Id);
                lstStudentMessages.Clear();
                lstStudentMessages = await feService.Read_StudentMessages (Id, "ByStudentId");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                Snackbar.Add("Message was not Deleted.", Severity.Error); //Severity.Warning | .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            }
        }
    public async Task BtnDelete_Messages(int messageId)
        {
        var strmessage = new MarkupString($"<hr><span style='color:indianred'>Delete</span> messages permanently?<br><span style='font-weight:bold;color:royalblue'>All</span> instances of this message sent to students<br>will also be <span style='color:indianred'>deleted</span><br><br><div style='text-align:center'><img src='/img/icoDelete2.png' width='70'/></div><br><hr>");
        bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: strmessage, yesText: "Yes", cancelText: "No");
        if (confirmResult == true)
            {
            int groupId = Convert.ToInt32 (appState.GroupId);
            bool result = await feService.Delete_Messages ("ByMessageid", messageId);
            if(result)
                {
                int id = Convert.ToInt32 (Id);
                Snackbar.Add("Deleted.", Severity.Success); //Severity.Warning | .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                lstStudentMessages.Clear();
                lstStudentMessages = await feService.Read_StudentMessages (Id, "ByStudentId");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                Snackbar.Add("Message was not Deleted.", Severity.Error); //Severity.Warning | .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }            
            }
        }    
    public void BtnBack()
        {
        Navman.NavigateTo ("/T_Students");
        //Navman.NavigateTo (appState.ReturnPage?? "/Login");
        }
    //methods

}
