@page "/T_ReportNotes/{mode:int}/{Id:int}"
@using ExaminerB.Service
@inject FeService feService
@inject NavigationManager Navman
@inject AppState appState
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar
@inject IDialogService DialogService

    <h5 style="text-align:center;color:steelblue">e<span style="color:lightpink">x</span>aminer<span style="font-size:small"> Teacher</span></h5>
    <hr style="color:red"/>
    @if (!_hasFetched)
        {
        <_ScanSheets />
        }
    else
        {
        @if (lstNotes.Count > 0)
            {
            <div class="d-flex align-items-center" style="text-align:left;max-width:500px; margin: 0 auto;">
                <button class="btn btn-link" @onclick="BtnBack">
                    <img src="/img/icoBack3.png" width="40" />
                </button>
                <button class="btn btn-link" @onclick="CreateNote">
                    <img src="/img/icoAdd0.png" width="24" />
                </button>            
               <h5 style="text-align:center;padding-left:15px;">Notes: <span style="font-size:smaller;text-align:center;color:indianred">@appState.UserNickname</span></h5>
            </div>
            }
        else
            {
            <div class="align-items-center" style="text-align:center;max-width:500px; margin: 0 auto;">
               <h5 style="text-align:center;padding-left:15px;">Notes: <span style="font-size:smaller;text-align:center;color:indianred">@appState.UserNickname</span></h5>        
            </div>
            }
        <EditForm Model="lstNotes">
                @if (appState.Cmd == "ShowNoteInDialog")
                    {
                    <Modal_ShowNote OnClose="HandleModalClose" />
                    }
                else if (appState.Cmd == "UpdateNote")
                    {
                    <Modal_CreateNote OnClose="HandleModalClose" />
                    }
                else if (appState.Cmd == "CreateNote")
                    {
                    <Modal_CreateNote OnClose="HandleModalClose" />
                    }
                else
                    {
                    @foreach(Note notex in lstNotes)
                        {
                        @if ((notex.NoteTags & 1) == 1)
                            {
                            <div class="mt-3 text-end">
                                <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                    <MudCard Class="mx-0">
                                        <MudCardContent Style="background-color:whitesmoke;">
                                            <span class="d-flex align-items-center" style="text-align:center; color:indianred; font-weight:bold; font-size:smaller;margin:0px; ">
                                                @notex.NoteDatum
                                            </span>
                                            <hr />
                                            <div style="white-space: pre-wrap; font-weight:normal; font-family:'Segoe UI';font-size:small">
                                                @if(notex.NoteText.Length > 60)
                                                    {
                                                    <div> @notex.NoteText.Substring(0,60) <span style="font-size:xx-small;font-weight:bold;color:indianred">[...]</span></div>
                                                    }
                                                else
                                                    {
                                                    <div style="font-weight:normal;font-family:'Segoe UI'"> @notex.NoteText</div>
                                                    }
                                            </div>
                                            <hr />
                                            <div class="d-flex align-items-center">
                                                <button class="btn btn-link" @onclick="()=>BtnShowNoteInDialog(notex)">
                                                    <img src="/img/icoNote2.png" width="20" />
                                                </button>
                                                <button class="btn btn-link" @onclick="()=>BtnEditNoteInDialog(notex)">
                                                    <img src="/img/icoRename.png" width="28" />
                                                </button>
                                                <button class="btn btn-link" @onclick="()=>BtnDeleteNote(notex.NoteId)">
                                                    <img src="/img/icoDelete1.png" width="22" />
                                                </button>
                                            </div>
                                        </MudCardContent>
                                    </MudCard>
                                </MudContainer>
                            </div>
                            }
                        else
                            {
                            <div class="mt-3 text-start">
                                <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                    <MudCard Class="mx-0">
                                        <MudCardContent Style="background-color:whitesmoke;">
                                            <span class="d-flex align-items-center" style="text-align:center; color:indianred; font-weight:bold;font-size:smaller;margin:0px;">
                                                @notex.NoteDatum
                                            </span>
                                            <hr />
                                            <div style="white-space: pre-wrap; font-family:Courier New, Courier, monospace;font-size:small">
                                                @if(notex.NoteText.Length > 60)
                                                    {
                                                    <div style="font-weight:bold;"> @notex.NoteText.Substring(0,60) <span style="font-size:xx-small;font-weight:bold;color:indianred">[...]</span></div>
                                                    }
                                                else
                                                    {
                                                    <div style="font-weight:bold;"> @notex.NoteText</div>
                                                    }
                                            </div>
                                            <hr />
                                            <div class="d-flex align-items-center">
                                                <button class="btn btn-link" @onclick="()=>BtnShowNoteInDialog(notex)">
                                                    <img src="/img/icoNote2.png" width="20" />
                                                </button>
                                                <button class="btn btn-link" @onclick="()=>BtnEditNoteInDialog(notex)">
                                                    <img src="/img/icoRename.png" width="28" />
                                                </button>
                                                <button class="btn btn-link" @onclick="()=>BtnDeleteNote(notex.NoteId)">
                                                    <img src="/img/icoDelete1.png" width="22" />
                                                </button>
                                            </div>
                                        </MudCardContent>
                                    </MudCard>
                                </MudContainer>
                            </div>
                            }
                        }
                }
        </EditForm>
        }
        <br />
    @if (lstNotes.Count > 0)
        {
        <div style="text-align:center">
            <button class="btn btn-link" @onclick="BtnBack">
                <img src="/img/icoBack3.png" width="40" />
            </button>
        </div>    
        }
    else
        {
        <div style="text-align:center">
            <button class="btn btn-link" @onclick="BtnBack">
            <img src="/img/gifUserLogin.gif" width="70" />
            </button>
        </div>    
        }
<script>
        window.scrollToTop = () => { window.scrollTo({ top: 0, behavior: 'smooth' }); }; 
    </script>

@code {
        [Parameter] public int mode { get; set; }
        [Parameter] public int Id { get; set; }
        User user = new User ();
        List<Note> lstNotes = new List<Note> ();
        public bool _hasFetched = false;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        appState.SetCmd ("");
        user.UserId = Convert.ToInt32(appState.UserId);
        user.UserName = appState.UserName;
        lstNotes = await feService.Read_Notes (Id, mode);
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns-Students
    //btns-Messages
    public void BtnBack()
        {Navman.NavigateTo (appState.ReturnPage?? "/T_SwitchBoard");
        }
    //methods
    public async Task CreateNote ()
        {
        //parentTypes 1:user(U) 2:subprojects(SP) 3:students(S) 4:groups(G) 5:courses(C) 6:exams(E)
        appState.SetNoteParentType (1);
        appState.SetNoteParentId (Convert.ToInt32(appState.UserId));
        appState.SetCmd ("CreateNote");
        StateHasChanged ();
        //After the Modal_CreateNote is closed, HandleModalClose will refresh the list
        //to handel close event, I added in the Modal_CreateNote: [Parameter] public EventCallback OnClose 
        }
    public async Task BtnShowNoteInDialog(Note note)
        {
        appState.SetSelectedNoteId (note.NoteId);
        appState.SetNoteDatum (note.NoteDatum);
        appState.SetNoteText (note.NoteText);
        appState.SetNoteIsRtl (note.IsRtl);
        appState.SetNoteParentId (note.ParentId);
        appState.SetNoteParentType (note.ParentType);
        appState.SetNoteParentName (note.ParentName);
        appState.SetCmd ("ShowNoteInDialog");
        StateHasChanged();
        //After the Modal_ShowNote is closed, HandleModalClose will refresh the list
        //to handel close event, I added in the Modal_ShowNote: [Parameter] public EventCallback OnClose 
        }
    public async Task BtnEditNoteInDialog(Note note)
        {
        appState.SetSelectedNoteId (note.NoteId);
        appState.SetNoteDatum (note.NoteDatum);
        appState.SetNoteText (note.NoteText);
        appState.SetNoteIsRtl (note.IsRtl);
        appState.SetNoteParentId (note.ParentId);
        appState.SetNoteParentType (note.ParentType);
        appState.SetNoteParentName (note.ParentName);
        appState.SetCmd ("UpdateNote");
        StateHasChanged ();
        //After the Modal_CreateNote is closed, HandleModalClose will refresh the list
        //to handel close event, I added in the Modal_CreateNote: [Parameter] public EventCallback OnClose 
        }
    public async Task BtnDeleteNote(int noteId)
        {
        var message = new MarkupString($"<hr><span style='color:indianred'>Delete</span> note? Are you sure?<br><br> <div style='text-align:center'><img src='/img/icoDelete1.png' width='40'/></div><br><hr>");
        bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: message, yesText: "Yes", cancelText: "No");
        if (confirmResult == true)
            {
            bool result = await feService.Delete_Note (noteId);
            if(result)
                {
                Snackbar.Add($"deleted", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                user.UserId = Convert.ToInt32(appState.UserId);
                _hasFetched = false;
                lstNotes.Clear ();
                lstNotes = await feService.Read_Notes (Id, mode);
                _hasFetched = true;
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                Snackbar.Add($"Failed to delete note!", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
                }
            }
        }
    private async Task HandleModalClose() 
        {
        _hasFetched = false;
        lstNotes.Clear();
        lstNotes = await feService.Read_Notes(Id, mode);
        _hasFetched = true;
        StateHasChanged(); 
        }
}
