@page "/T_ReportMessages/{mode}/{Id:int}"
@rendermode InteractiveServer
@using ExaminerB.Service
@inject FeService feService
@inject NavigationManager Navman
@inject AppState appState
@inject IJSRuntime JS
@implements IDisposable
<h1 style="text-align:center;color:lightsteelblue">e<span style="color:lightpink">x</span>aminer<span style="font-size:small"> Teacher</span></h1>
<hr style="color:red"/>

@if (!_hasFetched)
    {
    <_ScanSheets />
    }
else
    {
    <h6 style="text-align:center;">Messages of: <span style="color:indianred">@appState.StudentName</span></h6>
    @if (lstMessages.Count > 0)
        {
        <div style="text-align:center">
            @if (appState.Cmd== "ShowStudentMessageStats" & @nMessagesAll > 0)
                {
                <button class="btn btn-link" @onclick="()=>BtnDelete_MessagesOfstudent(Id)">
                    <img src="/icons/icoDeleteAll_bt_1.png" width="35" />
                </button>
                <button class="btn btn-link" @onclick="BtnBack">
                    <img src="/icons/icoBack_bt_1.png" width="30" />
                </button>
                <br />
                <hr/>
                <div style="text-align:left; padding-left:25px;background-color:whitesmoke">
                    <div style="font-weight:bold">Messages <span style="font-weight:normal;"> ( @nMessagesAll ) </span></div>
                    <div style="padding-left:15px;">@nMessagesRead ( @(nMessagesRead * 100 / nMessagesAll)% ) Read</div>
                    <div style="padding-left:15px;">@nMessagesBookmarked Bookmarked</div>
                    <div style="padding-left:15px;">@nMessagesDeleted Deleted</div>
                    <br />
                </div>
                <br /> 
                <div class="d-flex justify-content-center">
                    <MudChart ChartType="ChartType.Donut"
                        InputData="@(new double[] {nMessagesAnsweredYes, nMessagesAnsweredNo,nMessagesNotAnswered })"
                        InputLabels="@(new[] { "Yes: "+ @nMessagesAnsweredYes, "No: " + nMessagesAnsweredNo, "notSure: "+ nMessagesNotAnswered })"
                        Width="100px" Height="100px" />
                    <br /> 
                </div>
                @if(nMessagesTypeIsFeedback > 0)
                    {
                    <div style="font-weight:bold; padding-left:25px;">Feedback Percentage: <span style="font-weight:normal;"> @(nMessagesAnsweredYes + nMessagesAnsweredNo) /  @nMessagesTypeIsFeedback ( @((nMessagesAnsweredYes + nMessagesAnsweredNo) * 100 / @nMessagesTypeIsFeedback)% ) </span></div>
                    }
            }
            else
                {
                <button class="btn btn-link" @onclick="BtnCalcPercentsForStudent">
                    <img src="/images/gifChart03.gif" width="40" />
                </button>
                <button class="btn btn-link" @onclick="()=>BtnDelete_MessagesOfstudent(Id)">
                    <img src="/icons/icoDeleteAll_bt_1.png" width="35" />
                </button>
                <button class="btn btn-link" @onclick="BtnBack">
                    <img src="/icons/icoBack_bt_1.png" width="30" />
                </button>                
                }
            </div>        
        }
    }
    <hr />
    <EditForm Model="lstMessages">
        @foreach(Message message in lstMessages)
        {
        <div class="container mt-5" style="text-align:center;">
            <div class="card">
                <div class="card-body bg-light">
                    @message.MessageText
                </div>
                <div>Sent: @message.DateTimeSent</div>
                @if((message.MessageTags & 1) == 1)
                    {
                    <div>Read: @message.DateTimeRead</div>                    
                    }
                @if((message.MessageTags & 8) == 8)
                    {
                    <span style="color:royalblue;font-weight:bold"># YES </span>
                    }
                @if((message.MessageTags & 16) == 16)
                    {
                    <span style="color:indianred;font-weight:bold"># NO </span>
                    }
                @if((message.MessageTags & 2) == 2)
                    {
                    <span style="color:gray;font-style:italic">Bookmarked </span>
                    }
                @if((message.MessageTags & 4) == 4)
                    {
                    <span style="color:gray;font-style:italic">Deleted </span>
                    }
            </div>
            @if ((appState.Cmd == "ShowMessageStats") & (message.MessageId == appState.MessageId) & (@nStudents > 0))
                {
                <div style="text-align:left; padding-left:25px;">
                    <div style="font-weight:bold">Students <span style="font-weight:normal;"> ( @nStudents ) </span></div>
                    <div style="padding-left:15px;">@nStudentsRead ( @(nStudentsRead * 100 / nStudents)% ) Read</div>
                    <div style="padding-left:15px;">@nStudentsBookmarked Bookmarked</div>
                    <div style="padding-left:15px;">@nStudentsDeleted Deleted</div>
                    <br />
                </div>
                <br /> 
                @if((message.MessageTags & 32) == 32)
                    {
                    <div class="d-flex justify-content-center">
                        <MudChart ChartType="ChartType.Donut"
                            InputData="@(new double[] {nStudentsAnsweredYes, nStudentsAnsweredNo, nStudentsNotAnswered })"
                            InputLabels="@(new[] { "Yes: "+ @nStudentsAnsweredYes, "No: " + nStudentsAnsweredNo, "notSure: "+ nStudentsNotAnswered })"
                            Width="100px" Height="100px" />
                        <br /> 
                    </div>
                    <div style="font-weight:bold; padding-left:25px;">Feedback Percentage: <span style="font-weight:normal;"> @(nMessagesAnsweredYes + nMessagesAnsweredNo) /  @nStudents ( @((nStudentsAnsweredYes + nStudentsAnsweredNo) * 100 / @nStudents)% ) </span></div>                    
                    }
                }
            else
                {
                <button class="btn btn-link" @onclick="()=>BtnCalcPercentsForMessage(message)">
                    <img src="/icons/icoPie_bt_1.png" width="26" />
                </button>
                <button class="btn btn-link" @onclick="()=>BtnDelete_Messages(message)">
                    <img src="/icons/icoDeleteAll_bt_1.png" width="30" />
                </button>
                <button class="btn btn-link" @onclick="()=>BtnDelete_Message(message.MessageId)">
                    <img src="/icons/icoDelete_bt_1.png" width="22" />
                </button>                
                }
        </div>
        <hr />
        }
    </EditForm>
        <div style="text-align:center">
            <br />
            <button class="btn btn-link" @onclick="BtnBack">
                <img src="/icons/icoBack_bt_1.png" width="35" />
            </button>
        </div>
    <script>
        window.scrollToTop = () => { window.scrollTo({ top: 0, behavior: 'smooth' }); }; 
    </script>

@code {
    [Parameter] public string mode { get; set; }
    [Parameter] public int Id { get; set; }
    //messages
    public int nMessagesAll;
    public int nMessagesRead;
    public int nMessagesBookmarked;
    public int nMessagesDeleted;
    public int nMessagesTypeIsFeedback;
    public int nMessagesAnsweredYes;
    public int nMessagesAnsweredNo;
    public int nMessagesNotAnswered;
    //students
    public int nStudents = 0;
    public int nStudentsRead = 0;
    public int nStudentsBookmarked = 0;
    public int nStudentsDeleted = 0;
    public int nStudentsAnsweredYes = 0;
    public int nStudentsAnsweredNo = 0;
    public int nStudentsNotAnswered = 0;
    User user = new User ();
    List<Message> lstMessages = new List<Message> ();
    List<Message> lstMessageInstances = new List<Message> ();
    public bool _hasFetched = false;
    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        appState.SetCmd ("");
        lstMessages = await feService.Read_Messages (mode, Id);
        _hasFetched = true;
        } 
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns-Students
    public void BtnCalcPercentsForStudent()
        {
        nMessagesAll = 0;
        nMessagesRead = 0;
        nMessagesBookmarked = 0;
        nMessagesDeleted = 0;
        nMessagesTypeIsFeedback = 0;
        nMessagesAnsweredYes = 0;
        nMessagesAnsweredNo = 0;
        nMessagesNotAnswered = 0;
        foreach (Message msg in lstMessages)
            {
            nMessagesAll++;
            if((msg.MessageTags & 1) == 1)
                {
                nMessagesRead++;                
                }
            if((msg.MessageTags & 2) == 2)
                {
                nMessagesBookmarked++;
                }
            if((msg.MessageTags & 4) == 4)
                {
                nMessagesDeleted++;
                }
            if((msg.MessageTags & 32) == 32)
                {
                nMessagesTypeIsFeedback++;
                if((msg.MessageTags & 8) == 8)
                    {
                    nMessagesAnsweredYes++;
                    }
                else if((msg.MessageTags & 16) == 16)
                    {
                    nMessagesAnsweredNo++;
                    }
                else
                    {
                    nMessagesNotAnswered++;
                    }
                }
            }
        appState.SetCmd ("ShowStudentMessageStats");
        }
    public async Task BtnDelete_MessagesOfstudent(int studentId)
        {
        if(await JS.InvokeAsync<bool>("confirm", "Delete All Messages Permanently?"))
            {
            // int userId = Convert.ToInt32 (appState.UserId);
            bool result = await feService.Delete_MessagesById ("Student", studentId);
            if(result)
                {
                int id = Convert.ToInt32 (Id);
                lstMessages.Clear();
                lstMessages = await feService.Read_Messages (mode, Id);
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nMessage was not Deleted.");
                }            
            }
        }
    //btns-Messages
    public async Task BtnCalcPercentsForMessage(Message message)
        {
       _hasFetched = false;
        lstMessageInstances = await feService.Read_Messages (message);
        if (lstMessageInstances.Count > 0)
            {
            nStudents = 0;
            nStudentsRead = 0;
            nStudentsBookmarked = 0;
            nStudentsDeleted = 0;
            nStudentsAnsweredYes = 0;
            nStudentsAnsweredNo = 0;
            nStudentsNotAnswered = 0;
            foreach (Message msg in lstMessageInstances)
                {
                nStudents++;
                if((msg.MessageTags & 1) == 1)
                    {
                    nStudentsRead++;                
                    }
                if((msg.MessageTags & 2) == 2)
                    {
                    nStudentsBookmarked++;
                    }
                if((msg.MessageTags & 4) == 4)
                    {
                    nStudentsDeleted++;
                    }
                if((msg.MessageTags & 32) == 32)
                    {
                    if((msg.MessageTags & 8) == 8)
                        {
                        nStudentsAnsweredYes++;
                        }
                    else if((msg.MessageTags & 16) == 16)
                        {
                        nStudentsAnsweredNo++;
                        }
                    else
                        {
                        nStudentsNotAnswered++;
                        }
                    }
                }
            appState.SetCmd ("ShowMessageStats");
            appState.SetMessageId (message.MessageId);
            }
        _hasFetched = true;
        }
    public async Task BtnDelete_Message(int messageId)
        {
        if(await JS.InvokeAsync<bool>("confirm", "Delete Message Permanently?"))
            {
            int userId = Convert.ToInt32 (appState.UserId);
            bool result = await feService.Delete_MessagesById ("Message", messageId);
            if(result)
                {
                int id = Convert.ToInt32 (Id);
                lstMessages.Clear();
                lstMessages = await feService.Read_Messages (mode, Id);
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nMessage was not Deleted.");
                }            
            }
        }
    public async Task BtnDelete_Messages(Message message)
        {
        if(await JS.InvokeAsync<bool>("confirm", "Delete all Message Instanses Sent to Group Permanently?"))
            {
            int userId = Convert.ToInt32 (appState.UserId);
            bool result = await feService.Delete_MessagesByDateTime (userId, message);
            if(result)
                {
                int id = Convert.ToInt32 (Id);
                lstMessages.Clear();
                lstMessages = await feService.Read_Messages (mode, Id);
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nMessage was not Deleted.");
                }            
            }
        }    
    public void BtnBack()
        {
        Navman.NavigateTo ("/T_Students");
        //Navman.NavigateTo (appState.ReturnPage?? "/Login");
        }
    //methods

}
