@page "/T_Students"
@using ClosedXML.Excel
@using Microsoft.Extensions.Hosting
@using ClosedXML
@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@if (!_hasFetched)
    {
    <_Loading />
    }
else
    {
    <div style="text-align: center;">
        <h2 style="color:royalblue; font-style:italic">Get Students from:</h2>
    </div>
    <EditForm Model="lstGroups">
        <div class="accordion" id="accordionTStudents" style="max-width:600px; margin: 0 auto;">
            @* Search & COMBOs GCEM *@
            <div class="accordion-item">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_GCEM"
                        aria-expanded="false"
                        aria-controls="Accordion_GCEM" style="background-color:whitesmoke">
                        <h6>sourse:</h6>
                    </button>
                </h4>
                <div id="Accordion_GCEM" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            @* SOURSES GCEM *@
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-auto">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refGroups" Label="Group گروه" Value="GroupId" ValueChanged="OnGroupChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Group</MudSelectItem>
                                                @foreach (var group in lstGroups) { <MudSelectItem Value="@group.GroupId">@group.GroupName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick='()=>BtnReadStudents(GroupId,"G")'>
                                                <img src="/img/icoListS.png" width="32" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refCourses" Label="Course درس" Value="CourseId" ValueChanged="OnCourseChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Course</MudSelectItem>
                                                @foreach (var course in lstCourses) { <MudSelectItem Value="@course.CourseId">@course.CourseName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick='()=>BtnReadStudents(CourseId,"C")'>
                                                <img src="/img/icoListS.png" width="32" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refExams" Label="Exam آزمون" Value="ExamId" ValueChanged="OnExamChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select an Exam</MudSelectItem>
                                                @foreach (var exam in lstExams) { <MudSelectItem Value="@exam.ExamId">@exam.ExamTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link"  @onclick='()=>BtnReadStudents(ExamId,"E")'>
                                                <img src="/img/icoListS.png" width="32" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refMessages" Label="Message پيام" Value="MessageId" ValueChanged="OnMessageChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Message</MudSelectItem>
                                                @foreach (var message in lstMessages) { <MudSelectItem Value="@message.MessageId">@message.MessageTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link"  @onclick='()=>BtnReadStudents(MessageId,"M")'>
                                                <img src="/img/icoListS.png" width="32" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            @* NEW STUDENT - IMPORT - SEARCH *@
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-auto">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        @* NEW STUDENT *@
                                        <div class="d-flex" style="gap:10px;">
                                            <MudTextField  @ref="refNewUser"  @bind-Value="user.UserName"  Label="Username يوزر"   Variant="Variant.Outlined"  Autocomplete="off"  Dense="true"  Margin="Margin.Dense"  Class="my-textfield" />
                                            <MudTextField  @ref="refNewPass"  @bind-Value="user.UserPass"  Label="Password پسورد"  Variant="Variant.Outlined"  Autocomplete="off"  Dense="true"  Margin="Margin.Dense"  Class="my-textfield"  InputType="InputType.Password"/>
                                            <button class="btn btn-link" @onclick="BtnCancel">
                                                <img src="/img/icoSave2.png" width="24" />
                                            </button>
                                        </div>
                                        @* IMPORT *@
                                        <InputFile OnChange="HandleFileSelected" />                                    
                                        @* SEARCH *@
                                        <div class="d-flex">
                                            <MudTextField @ref="reftxtSearch" @bind-Value="strSearch" Label="Search جستجو" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoSearch.png" width="24" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* RESULTS: LIST STUDENTS *@
            @if(lstStudents.Count > 0)
                {
                <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                    <MudCard Class="mx-0">
                        <MudCardContent Style="background-color:rgba(249,249,249);">
                            @foreach(User student in lstStudents)
                                {
                                <div>
                                    <input class="form-check-input" style="margin-left:2px;margin-right:5px;" type="checkbox" @bind="student.UserTags" />
                                    <button class="btn btn-link" @onclick="()=>BtnBack()">
                                        <img src="/img/icoEditPen.png" width="18" />
                                    </button>
                                    <button class="btn btn-link" @onclick="()=>BtnBack()">
                                        <img src="/img/icoFolderS.png" width="22" />
                                    </button>
                                    @student.UserName - @student.UserNickname
                                </div>
                                }
                        </MudCardContent>
                    </MudCard>
                </MudContainer>                
                }        
            @* ADD STUDENTS TO... *@
            <br />
            <h2 style="text-align:center; color:royalblue; font-style:italic">Add students to ...</h2>
            @* SELECT A GROUP *@
            <div class="accordion-item mb-2" >
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Group"
                        aria-expanded="false"
                        aria-controls="Accordion_Group" style="background-color:whitesmoke">
                        <h6>Group</h6>
                    </button>
                </h4>
                <div id="Accordion_Group" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard>
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refGroups" Label="Group گروه" Value="GroupId" ValueChanged="OnGroupChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Group</MudSelectItem>
                                                @foreach (var group in lstGroups) { <MudSelectItem Value="@group.GroupId">@group.GroupName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="BtnBack">
                                                <img src="/img/icoAddItem.png" width="20" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoListAddNew1.png" width="38" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* SELECT A COURSE - AN EXAM *@
            <div class="accordion-item mb-2">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Exam"
                        aria-expanded="false"
                        aria-controls="Accordion_Exam" style="background-color:whitesmoke">
                        <h6>Course - Exam</h6>
                    </button>
                </h4>
                <div id="Accordion_Exam" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refCourses" Label="Course درس" Value="CourseId" ValueChanged="OnCourseChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Course</MudSelectItem>
                                                @foreach (var course in lstCourses) { <MudSelectItem Value="@course.CourseId">@course.CourseName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoSearch.png" width="24" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoListAddNew1.png" width="38" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refExams" Label="Exam آزمون" Value="ExamId" ValueChanged="OnExamChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select an Exam</MudSelectItem>
                                                @foreach (var exam in lstExams) { <MudSelectItem Value="@exam.ExamId">@exam.ExamTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="BtnBack">
                                                <img src="/img/icoFolderE.png" width="24" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoListAddNew1.png" width="38" />
                                            </button>
                                        </div>
                                </MudCardContent>
                            </MudCard>
                        </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* SELECT A MESSAGE *@
            <div class="accordion-item mb-2">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Message"
                        aria-expanded="false"
                        aria-controls="Accordion_Message" style="background-color:whitesmoke">
                        <h6>Message</h6>
                    </button>
                </h4>
                <div id="Accordion_Message" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refMessages" Label="Message پيام" Value="MessageId" ValueChanged="OnMessageChanged" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Message</MudSelectItem>
                                                @foreach (var message in lstMessages) { <MudSelectItem Value="@message.MessageId">@message.MessageTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="BtnBack">
                                                <img src="/img/icoAddItem.png" width="20" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoListAddNew1.png" width="38" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* Footer *@
            <br />
            <div style="text-align:center">
                <button class="btn btn-link" @onclick= "()=> BtnBack()" title="Back to SwitchBoard بازگشت به صفحه اول">
                    <img src="/img/icoBack2.png" style="width:30px" />
                </button>
            </div>        
        </div>
    </EditForm>
    }
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    User user = new User ();
    private MudTextField<string> refNewUser;
    private MudTextField<string> refNewPass;
    private MudTextField<string> reftxtSearch;
    private MudNumericField<int> txtPageNumber;
    string txtNewStudentName = "";
    string strSearch = "";
    int intPageNumber = 0;
    private MudSelect<int> refGroups;
    private MudSelect<int> refCourses;
    private MudSelect<int> refExams;
    private MudSelect<int> refMessages;
    int GroupId = 0;
    int CourseId = 0;
    int ExamId = 0;
    int MessageId = 0;
    List<Group> lstGroups = new ();
    List<Course> lstCourses = new ();
    List<StudentExam> lstExams = new ();
    List<Message> lstMessages = new ();
    List<User> lstStudents = new ();
    Group group = new Group();
    Course course = new Course();
    Exam exam = new Exam();
    Message message = new Message();
    User student = new User ();
    int i = 0;
    private bool shouldFocusNewGroup = false;
    int selectedCourseId = 0; // Courses in combo box
    public bool _hasFetched = false;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        var user = new User
            {
            UserId = Convert.ToInt32(appState.UserId),
            UserName = appState.UserName,
            UserPass = appState.UserPass,
            UserRole = appState.UserRole,
            TeacherId = Convert.ToInt32(appState.GroupId)
            };
        if (user.UserId > 0)
            {
            //on second rener, user.UserId will get its value
            lstGroups = await feService.Read_Groups (user, false);
            lstCourses = await feService.Read_Courses (user.UserId);
            lstMessages = await feService.Read_Messages (user.UserId, false);
            //lstExams = await FeService.Read_Exams...
            _hasFetched = true;
            }
        } 
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {

        }    
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //btns
    public async Task BtnReadStudentsBySearch()
        {
        if(strSearch !="")
            {
            user.UserId = Convert.ToInt32 (appState.UserId);
            lstStudents = await feService.Read_StudentsByKeyword (user.UserId, strSearch, 0);
            StateHasChanged ();
            }
        }
    public async Task BtnReadStudents(int Id, string mode)
        {
        lstStudents = await feService.Read_StudentsByGCEMId (Id, mode, 0);
        StateHasChanged ();
        }
    //methods
    private async Task OnGroupChanged(int newValue) 
        {
        //update GroupId from the event
        GroupId = newValue;
        group.GroupId = GroupId;
        group.GroupName = "-"; //just because this field is required 
        group.UserId = 0;
        StateHasChanged();
        } 
    private async Task OnCourseChanged(int newValue) 
        {
        //update CourseId from the event
        CourseId = newValue;
        StateHasChanged();
        } 
    private async Task OnExamChanged(int newValue) 
        {
        //update ExamId from the event
        ExamId = newValue;
        StateHasChanged();
        } 
    private async Task OnMessageChanged(int newValue) 
        {
        //update MessageId from the event
        MessageId = newValue;
        StateHasChanged();
        } 
    //excel import
    public void BtnImportStudentsFromExcelFile()
        {
        appState.SetCmd ("importstudentsfromexcelfile");
        }
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
        {
        _hasFetched = false;
        var file = e.File;
        using var memoryStream = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(memoryStream);
        memoryStream.Position = 0;
        await ParseStudentExcelAsync(memoryStream);
        }
    private async Task ParseStudentExcelAsync(Stream stream)
        {
        try
            {
            user.UserId = Convert.ToInt32 (appState.UserId);
            lstStudents.Clear ();
            using var workbook = new XLWorkbook(stream);
            var worksheet = workbook.Worksheet(1); //1:first sheet
            i = 0;
            // group.GroupId = Convert.ToInt32 (appState.GroupId);
            foreach (var row in worksheet.RowsUsed().Skip(1)) //skip header
                {
                i++;
                User student = new User () {
                    TeacherId = user.UserId,
                    UserName = row.Cell (1).GetString (),
                    UserPass = row.Cell (2).GetString (),
                    UserNickname = row.Cell (3).GetString (),
                    UserRole = "student",
                    UserTags = 1
                };
                int result = await feService.Create_Student (student);
                if(result > 0 )
                    {
                    lstStudents.Add (student);
                    }                
                }
            StateHasChanged ();            
            }
        catch (Exception ex)
            {
            Console.WriteLine($"Error in [ImportExcel]: {ex}");
            }
        _hasFetched = true;
        appState.SetCmd ("");
        }
    //cancel-back
    public void BtnCancel()
        {    
        appState.SetCmd("");
        }
    public void BtnBack()
        {    
        Navman.NavigateTo ("/T_SwitchBoard");
        }
}
