@page "/T_Students"
@using ClosedXML.Excel
@using Microsoft.Extensions.Hosting
@using ClosedXML
@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@if (!_hasFetched)
    {
    <_Loading />
    }
else if (appState.Cmd == "CreateNote")
    {
    <Modal_CreateNote />
    }
else
    {
    <div style="text-align: center;">
        <h2 style="color:royalblue; font-style:italic">Students</h2>
    </div>
    <EditForm Model="lstGroups">
        <div class="accordion" id="accordionTStudents" style="max-width:600px; margin: 0 auto;">
            @* SECTION 1 ---- SOURSES *@
            <div class="accordion-item">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_GCEM"
                        aria-expanded="false"
                        aria-controls="Accordion_GCEM" style="background-color:whitesmoke">
                        <h6>Source</h6>
                    </button>
                </h4>
                <div id="Accordion_GCEM" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            @* COMBOs GCEM *@
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-auto">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refGroups" Label="Group گروه" Value="GroupId" ValueChanged="OnGroupChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Group</MudSelectItem>
                                                @foreach (var group in lstGroups) { <MudSelectItem Value="@group.GroupId">@group.GroupName</MudSelectItem> }
                                            </MudSelect>
                                        </div>
                                        <div>
                                            <button class="btn btn-link" Title=@((_help)?"List Students in this Group":"") @onclick='()=>BtnReadStudents(GroupId,"G")'>
                                                <img src="/img/icoListS.png" width="36" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Report Students Courses and Exams":"") @onclick='()=>BtnReportStudent(GroupId, "G")'>
                                                <img src="/img/icoFolderS.png" width="26" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Add new note about this Group":"") @onclick='()=>BtnCreateNote(GroupId, "G")'>
                                                <img src="/img/icoNewNote1.png" width="24" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Report notes about this Group":"") @onclick='()=>BtnReportNotes(GroupId, "G")'>
                                                <img src="/img/icoNote2.png" width="24" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-auto">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refCourses" Label="Course درس" Value="CourseId" ValueChanged="OnCourseChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Course</MudSelectItem>
                                                @foreach (var course in lstCourses) { <MudSelectItem Value="@course.CourseId">@course.CourseName</MudSelectItem> }
                                            </MudSelect>
                                        </div>
                                        <div>
                                            <button class="btn btn-link" Title=@((_help)?"List Studentsin this Course":"") @onclick='()=>BtnReadStudents(CourseId,"C")'>
                                                <img src="/img/icoListS.png" width="36" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Report Courses and Exams of Students in this Course":"") @onclick='()=>BtnReportStudent(CourseId, "C")'>
                                                <img src="/img/icoFolderS.png" width="26" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Add new note about thisCourse":"") @onclick='()=>BtnCreateNote(CourseId, "C")'>
                                                <img src="/img/icoNewNote1.png" width="24" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Report notes about this Course":"") @onclick='()=>BtnReportNotes(CourseId, "C")'>
                                                <img src="/img/icoNote2.png" width="24" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Goto page: Courses":"") @onclick='()=>BtnGotoCoursesPage(CourseId)'>
                                                <img src="/img/icoFolderC.png" width="26" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refExams" Label="Exam آزمون" Value="ExamId" ValueChanged="OnExamChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select an Exam</MudSelectItem>
                                                @foreach (var exam in lstExams) { <MudSelectItem Value="@exam.ExamId">@exam.ExamTitle</MudSelectItem> }
                                            </MudSelect>
                                        </div>
                                        <div>
                                            <button class="btn btn-link" Title=@((_help)?"List students in this Exam":"") @onclick='()=>BtnReadStudents(ExamId,"E")'>
                                                <img src="/img/icoListS.png" width="36" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Report Courses and Exams ofStudents in this Exam":"") @onclick='()=>BtnReportStudent(ExamId, "E")'>
                                                <img src="/img/icoFolderS.png" width="26" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Add new note about this Exam":"") @onclick='()=>BtnCreateNote(ExamId, "E")'>
                                                <img src="/img/icoNewNote1.png" width="24" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Report notes about this Exam":"") @onclick='()=>BtnReportNotes(ExamId, "E")'>
                                                <img src="/img/icoNote2.png" width="24" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Goto page Exams":"") @onclick='()=>BtnGotoExamsPage(ExamId, refCourses.Text.ToString() ?? "")'>
                                                <img src="/img/icoFolderE.png" width="26" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Report Students Points in this Exam":"") @onclick='()=>BtnGotoPageExamPoints(ExamId)'>
                                                <img src="/img/icoChartPie.png" width="26" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-auto">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refMessages" Label="Message پيام" Value="MessageId" ValueChanged="OnMessageChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select Message</MudSelectItem>
                                                @foreach (var message in lstMessages) { <MudSelectItem Value="@message.MessageId">@message.MessageTitle</MudSelectItem> }
                                            </MudSelect>
                                        </div>
                                        <div>
                                            <button class="btn btn-link" Title=@((_help)?"List Stdents that received this Messsage":"") @onclick='()=>BtnReadStudents(MessageId,"M")'>
                                                <img src="/img/icoListS.png" width="36" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Report Courses and Exams of students that received this Message":"") @onclick='()=>BtnReportStudent(MessageId, "M")'>
                                                <img src="/img/icoFolderS.png" width="26" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            @* SEARCH - ADD.NEW.STUDENT - IMPORT *@
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-auto">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        @* SEARCH *@
                                        <div class="d-flex">
                                            <MudTextField @ref="reftxtSearch" @bind-Value="strSearch" Label="Search جستجو" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                            <button class="btn btn-link" Title=@((_help)?"Search Students by a keyword":"") @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoSearch.png" width="24" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Create new Student Account":"") @onclick="BtnAddNewStudent">
                                                <img src="/img/icoAdd0.png" width="20" />
                                            </button>
                                        </div>
                                        @* ADD NEW STUDENT *@
                                        @if (_cmd == "AddnewStudent")
                                            {
                                            <div class="d-flex" style="gap:10px;">
                                                <MudTextField  @ref="refNewUser" @bind-Value="user.UserName"  Label="Username يوزر"   Variant="Variant.Outlined"  Autocomplete="off"  Dense="true"  Margin="Margin.Dense"  Class="my-textfield" />
                                                <MudTextField  @ref="refNewPass" @bind-Value="user.UserPass"  Label="Password پسورد"  Variant="Variant.Outlined"  Autocomplete="off"  Dense="true"  Margin="Margin.Dense"  Class="my-textfield"  InputType="InputType.Password"/>
                                                <button class="btn btn-link" Title=@((_help)?"Save new student account":"") @onclick="()=>BtnCreateNewStudent(user.UserName, user.UserPass, user.UserName)">
                                                    <img src="/img/icoSave2.png" width="24" />
                                                </button>
                                            </div>
                                            @* IMPORT EXCEL *@
                                            <InputFile  Title=@((_help)?"Import new Students List from Excel":"") OnChange="HandleFileSelected" />
                                            }
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* SECTION 2 ---- RESULTS: LIST STUDENTS *@
            @if(lstStudents.Count > 0)
                {
                <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                    <MudCard Class="mx-0">
                        <MudCardContent Style="background-color:rgba(249,249,249);">
                            @foreach(User student in lstStudents)
                                {
                                <div class="d-flex align-items-center mb-1">
                                    <input class="form-check-input" style="margin-left:2px;margin-right:5px;" type="checkbox" @bind="student.IsSelected" />
                                    <button class="btn btn-link" Title=@((_help)?"Add new Note يادداشت جديد":"") @onclick='()=>BtnCreateNote(student.UserId, "S")'>
                                        <img src="/img/icoNewNote1.png" width="20" />
                                    </button>
                                    <button class="btn btn-link" Title=@((_help)?"Report Notes and Messages يادداشت ها و پيام ها":"") @onclick='()=>BtnGotoPageReportMessages(student)'>
                                        <img src="/img/icoEnvelop0.png" width="20" />
                                    </button>
                                    <button class="btn btn-link" Title=@((_help)?"Report Students Coutses and Exams درس ها و آزمون هاي دانشجو":"") @onclick='()=>BtnReportStudent(student.UserId, "S")'>
                                        <img src="/img/icoFolderS.png" width="22" />
                                    </button>
                                    @student.UserName - @student.UserNickname
                                </div>
                                }
                            <br />
                            <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" OnClick="BtnSelectAllStudents">All</MudButton>
                            <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Tertiary" OnClick="BtnInvertSelection">Invert</MudButton>
                        </MudCardContent>
                    </MudCard>
                </MudContainer>                
                }        
            @* SECTION 3 ---- ADD TO... *@
            <br />
            <h4 style="text-align:center; color:Indianred; font-style:italic">Action</h4>
            @* TO GROUP *@
            <div class="accordion-item mb-2" >
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Group"
                        aria-expanded="false"
                        aria-controls="Accordion_Group" style="background-color:whitesmoke">
                        <h6>Group</h6>
                    </button>
                </h4>
                <div id="Accordion_Group" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard>
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        @if (_cmd == "AddNewGroup")
                                            {
                                            <div class="d-flex">
                                                <MudTextField @ref="reftxtNewGroup" @bind-Value="strNewGroupName" Label="New Group گروه جديد" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                                <button class="btn btn-link" Title=@((_help)?"Save Group":"") @onclick="()=>BtnCreateNewGroup(strNewGroupName)">
                                                    <img src="/img/icoSave2.png" width="24" />
                                                </button>
                                                <button class="btn btn-link" Title=@((_help)?"Cancel":"") @onclick="BtnCancel">
                                                    <img src="/img/icoCancel.png" width="24" />
                                                </button>
                                            </div>
                                            }
                                        else
                                            {
                                            <div class="d-flex">
                                                <MudSelect T="int" @ref="refGroups" Label="Group گروه" Value="GroupId" ValueChanged="OnGroupChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                    <MudSelectItem Value="0">Select a Group</MudSelectItem>
                                                    @foreach (var group in lstGroups) { <MudSelectItem Value="@group.GroupId">@group.GroupName</MudSelectItem> }
                                                </MudSelect>
                                                <button class="btn btn-link" Title=@((_help)?"Add new Group":"") @onclick="BtnAddNewGroup">
                                                    <img src="/img/icoAdd0.png" width="20" />
                                                </button>
                                                <button class="btn btn-link" Title=@((_help)?"Add selected students (above) to: this Group":"") @onclick="()=>BtnAddStudentsToGroup()">
                                                    <img src="/img/icoListAddNew1.png" width="38" />
                                                </button>
                                            </div>
                                            }
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* TO COURSE-EXAM *@
            <div class="accordion-item mb-2">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Exam"
                        aria-expanded="false"
                        aria-controls="Accordion_Exam" style="background-color:whitesmoke">
                        <h6>Course - Exam</h6>
                    </button>
                </h4>
                <div id="Accordion_Exam" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refCourses" Label="Course درس" Value="CourseId" ValueChanged="OnCourseChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Course</MudSelectItem>
                                                @foreach (var course in lstCourses) { <MudSelectItem Value="@course.CourseId">@course.CourseName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" Title=@((_help)?"Add selected students (above) to: this Course":"") @onclick="()=>BtnAddStudentsToCourse()">
                                                <img src="/img/icoListAddNew1.png" width="36" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Goto page Courses":"") @onclick="()=>BtnGotoPageCourses()">
                                                <img src="/img/icoFolderC.png" width="26" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Change student Accesses to this Course":"") @onclick="()=>BtnGotoPageCourses()">
                                                <img src="/img/icoLock2.png" width="18" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refExams" Label="Exam آزمون" Value="ExamId" ValueChanged="OnExamChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select an Exam</MudSelectItem>
                                                @foreach (var exam in lstExams) { <MudSelectItem Value="@exam.ExamId">@exam.ExamTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" Title=@((_help)?"Add selected students (above) to: this Exam":"") @onclick="()=>BtnAddStudentsToExam()">
                                                <img src="/img/icoListAddNew1.png" width="36" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Goto page Exams":"") @onclick="()=>BtnGotoPageExams()">
                                                <img src="/img/icoFolderE.png" width="26" />
                                            </button>
                                            <button class="btn btn-link" Title=@((_help)?"Change student Accesses to this Exam":"") @onclick="()=>BtnGotoPageExams()">
                                                <img src="/img/icoLock2.png" width="18" />
                                            </button>
                                        </div>
                                </MudCardContent>
                            </MudCard>
                        </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* TO MESSAGE *@
            <div class="accordion-item mb-2">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Message"
                        aria-expanded="false"
                        aria-controls="Accordion_Message" style="background-color:whitesmoke">
                        <h6>Message</h6>
                    </button>
                </h4>
                <div id="Accordion_Message" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        @if (_cmd == "AddNewMessage")
                                            {
                                            <h5>New Message</h5>
                                            <MudTextField @ref="reftxtNewMessageTitle" @bind-Value="strNewMessageTitle" Label="Title عنوان " Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                            <MudTextField @ref="reftxtNewMessageBody" @bind-Value="strNewMessageBody" Label="Message پيام" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" Lines="5" />
                                            <div style="text-align:center">
                                                <button class="btn btn-link" Title=@((_help)?"Save Message":"") @onclick="()=>BtnCreateNewMessage(strNewMessageTitle, strNewMessageBody)">
                                                    <img src="/img/icoSave2.png" width="24" />
                                                </button>
                                                <button class="btn btn-link" Title=@((_help)?"Cancel":"") @onclick="BtnCancel">
                                                    <img src="/img/icoCancel.png" width="24" />
                                                </button>
                                            </div>
                                            }
                                        else
                                            {
                                            <div class="d-flex">
                                                <MudSelect T="int" @ref="refMessages" Label="Message پيام" Value="MessageId" ValueChanged="OnMessageChanged" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                    <MudSelectItem Value="0">Select a Message</MudSelectItem>
                                                    @foreach (var message in lstMessages) { <MudSelectItem Value="@message.MessageId">@message.MessageTitle</MudSelectItem> }
                                                </MudSelect>
                                                <button class="btn btn-link" Title=@((_help)?"Add new Message":"") @onclick="BtnAddNewMessage">
                                                    <img src="/img/icoAdd0.png" width="20" />
                                                </button>
                                                <button class="btn btn-link" Title=@((_help)?"Delete this Message":"") @onclick="()=>BtnDeleteMessage(MessageId)">
                                                    <img src="/img/icoDelete1.png" width="20" />
                                                </button>
                                            </div>                                            
                                            <div class="d-flex">
                                                <MudCheckBox @bind-Value="requestFeedback" Label="feedback" Color="Color.Primary"></MudCheckBox>
                                                <button class="btn btn-link ml-5" Title=@((_help)?"Send this Message to: selected students (above)":"") @onclick="()=>BtnAddStudentsToMessage()">
                                                    <img src="/img/icoEnvelopSend.png" width="28" />
                                                </button>
                                            </div>
                                            }
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* BACK *@
            <br />
            <div class="d-flex align-items-center">
                <button class="btn btn-link" Title=@((_help)?"Back to Main page بازگشت به صفحه اول":"") @onclick= "()=> BtnBack()">
                    <img src="/img/icoBack3.png" style="width:40px" />
                </button>
                <MudSwitch @bind-Value="_help" Label="help on mouse hover" Color="Color.Primary" Dense="true"></MudSwitch>
            </div>
        </div>
    </EditForm>
    }
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    User user = new User ();
    User student = new User ();
    private MudTextField<string> refNewUser;
    private MudTextField<string> refNewPass;
    private MudTextField<string> reftxtSearch;
    private MudNumericField<int> txtPageNumber;
    private MudTextField<string> reftxtNewMessageTitle;
    private MudTextField<string> reftxtNewMessageBody;
    string txtNewStudentName = "";
    string strSearch = "";
    int intPageNumber = 0;
    private MudSelect<int> refGroups;
    private MudSelect<int> refCourses;
    private MudSelect<int> refExams;
    private MudSelect<int> refMessages;
    private MudTextField<string> reftxtNewGroup;
    string strNewGroupName = "";
    string strNewMessageTitle = "";
    string strNewMessageBody = "";
    int GroupId = 0;
    int CourseId = 0;
    int ExamId = 0;
    int MessageId = 0;
    List<Group> lstGroups = new ();
    List<Course> lstCourses = new ();
    List<Exam> lstExams = new ();
    List<Message> lstMessages = new ();
    List<User> lstStudents = new ();
    Group group = new Group();
    Course course = new Course();
    Exam exam = new Exam();
    Message message = new Message();
    int i = 0;
    bool _help;
    string _cmd = "";
    public bool _hasFetched = false;
    public bool requestFeedback { get; set; } = false;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        user.UserId = Convert.ToInt32(appState.UserId);
        user.UserName = appState.UserName;
        user.UserPass = appState.UserPass;
        user.UserRole = appState.UserRole;
        user.TeacherId = Convert.ToInt32 (appState.GroupId);
        //on second rener, user.UserId will get its value
        lstGroups = await feService.Read_Groups (user, false);
        lstCourses = await feService.Read_Courses (user.UserId);
        lstMessages = await feService.Read_Messages (user.UserId, false);
        GroupId = appState.GroupId ?? 0;
        CourseId = appState.CourseId ?? 0;
        if(CourseId > 0)
            {
            await BtnReadExams (CourseId);        
            ExamId = appState.ExamId ?? 0;
            }
        MessageId = appState.MessageId ?? 0;
        _help = Convert.ToBoolean(appState.HelpOnHover);
        _hasFetched = true;
        } 
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {

        }    
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //student
    private async Task BtnCreateNewStudent(string usr, string pwd, string nick)
        {
        user.UserId = Convert.ToInt32 (appState.UserId);
        User student = new User () { TeacherId= user.UserId, UserName = usr, UserPass = pwd, UserRole= "student", UserNickname= nick, UserTags= 3};
        int result = await feService.Create_Student(student);
        if (result == 1)
            {
            Snackbar.Add($"{user.UserNickname} Created!", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            _cmd="";
            strSearch = user.UserName;
            user.UserName = ""; //clear text-area
            user.UserPass = ""; //clear text-area
            StateHasChanged ();            
            }
        else
            {
            Snackbar.Add($"Failed to create student: {user.UserNickname} !", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public async Task BtnReadStudentsBySearch()
        {
        if(strSearch !="")
            {
            user.UserId = Convert.ToInt32 (appState.UserId);
            lstStudents = await feService.Read_StudentsByKeyword (user.UserId, strSearch, 0);
            Snackbar.Add($"Students like '{strSearch}' listed...", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            StateHasChanged ();
            }
        }
    public async Task BtnReadStudents(int Id, string mode)
        {
        if(Id > 0)
            {
            lstStudents = await feService.Read_StudentsByGCEMId (Id, mode, 0);
            Snackbar.Add("Listed...", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            StateHasChanged ();
            }
        else
            {
            string? itemx = mode.ToLower() switch
                {
                    "s" =>  "Select a Student from list",
                    "g" =>  "Select a Group from list",
                    "c" =>  "Select a Course from list",
                    "e" =>  "Select a Course, then select an Exam",
                    "m" =>  "Select a Mesage from list",
                    _ => null
                    };
            Snackbar.Add($"{itemx}", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public async Task BtnSelectAllStudents()
        {
        foreach(User student in lstStudents){
            student.IsSelected = true;
            }
        StateHasChanged ();
        }
    public async Task BtnInvertSelection()
        {
        foreach(User student in lstStudents)
            {
            student.IsSelected = (student.IsSelected) ? false : true;
            }
        StateHasChanged ();
        }   
    public async Task BtnReportStudent(int Id, string mode)
        {
        if(Id > 0)
            {
            appState.SetReturnPage ("T_Students");
            Navman.NavigateTo ($"/T_ReportStudents/{mode}/{Id}");           
            }
        else
            {
            string? itemx = mode.ToLower() switch
                {
                    "s" =>  "Select a Student from list",
                    "g" =>  "Select a Group from list",
                    "c" =>  "Select a Course from list",
                    "e" =>  "Select a Course, then select an Exam",
                    "m" =>  "Select a Mesage from list",
                    _ => null
                    };
            Snackbar.Add($"{itemx}", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public void BtnGotoPageReportMessages(User student)
        {
        appState.SetReturnPage ("T_Students");
        appState.SetStudentId (student.UserId);
        appState.SetStudentName (student.UserName);
        Navman.NavigateTo ($"/T_ReportMessages/S/{student.UserId}");
        }
    //group
    private async Task OnGroupChanged(int newValue) 
        {
        //update GroupId from the event
        GroupId = newValue;
        group.GroupId = GroupId;
        group.GroupName = "-"; //just because this field is required 
        group.UserId = 0;
        appState.SetGroupId (GroupId);
        StateHasChanged();
        } 
    private void BtnAddNewGroup()
        {
        _cmd="AddNewGroup";
        StateHasChanged ();
        }
    private async Task BtnCreateNewGroup(string groupName)
        {
        user.UserId = Convert.ToInt32 (appState.UserId);
        Group group = new Group () { GroupName = groupName, UserId = user.UserId };
        bool result = await feService.Create_Group(group);        
        if (result)
            {
            lstGroups = await feService.Read_Groups (user, false);
            Snackbar.Add($"Group {groupName} created!", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            _cmd="";
            StateHasChanged ();            
            }
        else
            {
            Snackbar.Add($"Failed to create {groupName} !", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    private async Task BtnAddStudentsToGroup()
        {
        List<int> lstStudentIds = new List<int>();
        int _count = 0;
        foreach (User student in lstStudents)
            {
            if (student.IsSelected)
                {
                lstStudentIds.Add(student.UserId);
                _count++;
                student.IsSelected = false;
                }
            }
        bool result = await feService.Create_StudentGroups(GroupId, lstStudentIds);
        if (result)
            {
            Snackbar.Add ($"{_count} students added to the group", Severity.Success);
            }
        else
            {
            Snackbar.Add ($"Failed!", Severity.Error);
            }
        }
    //course-exam
    private async Task OnCourseChanged(int newValue) 
        {
        //update CourseId from the event
        CourseId = newValue;
        appState.SetCourseId (CourseId);
        ExamId = 0;
        await BtnReadExams (CourseId);        
        StateHasChanged();
        } 
    private async Task OnExamChanged(int newValue) 
        {
        //update ExamId from the event
        ExamId = newValue;
        appState.SetExamId (ExamId);
        StateHasChanged();
        } 
    private async Task BtnReadExams (int courseid)
        {
        lstExams = await feService.Read_Exams (courseid);
        StateHasChanged ();
        }
    private async Task BtnAddStudentsToCourse()
        {
        List<int> lstStudentIds = new List<int>();
        int _count = 0;
        foreach (User student in lstStudents)
            {
            if (student.IsSelected)
                {
                lstStudentIds.Add(student.UserId);
                _count++;
                student.IsSelected = false;
                }
            }
        bool result = await feService.Create_StudentCourses(CourseId, lstStudentIds);
        if (result)
            {
            Snackbar.Add ($"{_count} students added to the course", Severity.Success);
            }
        else
            {
            Snackbar.Add ($"Failed!", Severity.Error);
            }
        }
    private async Task BtnAddStudentsToExam()
        {
        _hasFetched = false;
        List<int> lstStudentIds = new List<int>();
        int _count = 0;
        foreach (User student in lstStudents)
            {
            if (student.IsSelected)
                {
                lstStudentIds.Add(student.UserId);
                _count++;
                student.IsSelected = false;
                }
            }
        int result = await feService.Create_StudentExams(ExamId, lstStudentIds);
        if (result > 0)
            {
            Snackbar.Add ($"{_count} students added to the exam", Severity.Success);
            }
        else
            {
            Snackbar.Add ($"Failed!", Severity.Error);
            }
        _hasFetched = true;
        }
    private void BtnGotoCoursesPage(int courseId)
        {
        if(courseId >0)
            {
            appState.SetCourseId (courseId);
            Navman.NavigateTo("/T_Courses");
            }
        else{
            Snackbar.Add($"Select a course", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    private void BtnGotoExamsPage(int examId, string CourseName)
        {

        if((examId > 0) & (CourseName != ""))
            {
            appState.SetCourseId (CourseId);
            appState.SetCourseName (course.CourseName);
            Navman.NavigateTo ("/T_Exams");
            }
        else{
            Snackbar.Add($"Select a course", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    //message
    private async Task OnMessageChanged(int newValue) 
        {
        //update MessageId from the event
        MessageId = newValue;
        appState.SetMessageId (MessageId);
        StateHasChanged();
        } 
    private void BtnAddNewMessage()
        {
        _cmd="AddNewMessage";
        StateHasChanged ();
        }
    private async Task BtnCreateNewMessage(string messageTitle, string messageBody)
        {
        user.UserId = Convert.ToInt32 (appState.UserId);
        Message message = new Message () { UserId = user.UserId, DateTimeCreated = "", MessageTitle = messageTitle, MessageBody=messageBody};
        int result = await feService.Create_Message(message);
        if(result > 0)
            {
            lstMessages = await feService.Read_Messages (user.UserId, false);
            Snackbar.Add($"Message {messageTitle} created!", Severity.Success); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            _cmd="";
            StateHasChanged ();            
            }
        else
            {
            Snackbar.Add($"Failed to create Message {messageTitle} !", Severity.Error); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    private async Task BtnAddStudentsToMessage()
        {
        List<int> lstStudentIds = new List<int>();
        int _count = 0;
        foreach (User student in lstStudents)
            {
            if (student.IsSelected)
                {
                lstStudentIds.Add(student.UserId);
                _count++;
                student.IsSelected = false;
                }
            }
        bool result = await feService.Create_StudentMessages(MessageId, lstStudentIds, requestFeedback);
        if (result)
            {
            Snackbar.Add ($"Message sent to {_count} students", Severity.Success);
            }
        else
            {
            Snackbar.Add ($"Failed!", Severity.Error);
            }
        }
    private async Task BtnDeleteMessage (int messageId)
        {
        //deletes a Message and all its StudentMessages sent to Students
        if(messageId>0)
            {
            var message = new MarkupString(@$"<hr><span style='color:indianred'>Delete</span> the message and <span style='color:indianred; font-weight:bold'>all</span> instances already sent to Students?<br><br>Are you <span style='color:royalblue'>Sure</span>? <div style='text-align:center'><img src='/img/icoDelete2.png' width='40'/></div><br><hr>");
            bool? confirmResult = await DialogService.ShowMessageBox(title: "Confirm", markupMessage: message, yesText: "Yes", cancelText: "No");
            if (confirmResult == true)
                {
                bool result = await feService.Delete_Messages ("onemessage", messageId);
                if (result)
                    {
                    Snackbar.Add ("Message deleted", Severity.Success);
                    MessageId = 0;
                    lstMessages = await feService.Read_Messages (user.UserId, false);
                    StateHasChanged ();
                    }
                else
                    {
                    Snackbar.Add ("Failed to delete message", Severity.Error);
                    }                
                }
            }
        else
            {
            Snackbar.Add ("Select a message", Severity.Warning);
            }
        }
    //Notes
    private async Task BtnCreateNote(int Id, string mode)
        {
        //parentTypes 1:user(U) 2:subprojects(SP) 3:students(S) 4:groups(G) 5:courses(C) 6:exams(E)
        if (Id > 0)
            {
            int? parentType = mode.ToLower() switch
                {
                    "u" =>  1,
                    "sp" => 2,
                    "s" =>  3,
                    "g" =>  4,
                    "c" =>  5,
                    "e" =>  6,
                    _ => null
                    };
            if (parentType.HasValue)
                {
                appState.SetNoteParentId (Id);
                appState.SetNoteParentType (parentType.Value);
                appState.SetCmd ("CreateNote");
                StateHasChanged ();
                }
            }
        else
            {
            string? itemx = mode.ToLower() switch
                {
                    "s" =>  "Select a Student from List",
                    "g" =>  "Select a Group from List",
                    "c" =>  "Select a Course from List",
                    "e" =>  "Select a Course, then select an Exam",
                    _ => null
                    };
            Snackbar.Add($"{itemx}", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }

        }  
    private async Task BtnReportNotes(int Id, string mode)
        {
        if (Id > 0)
            {
            user.UserId = Convert.ToInt32 (appState.UserId);
            appState.SetReturnPage ("T_Students");
            int? intMode = mode.ToLower() switch
                {
                    "s" =>  3,
                    "g" =>  4,
                    "c" =>  5,
                    "e" =>  6,
                    _ => null
                    };
            Navman.NavigateTo ($"/T_ReportNotes/{intMode.Value}/{Id}");            
            }
        else
            {
            string? itemx = mode.ToLower() switch
                {
                    "s" =>  "Select a Student from List",
                    "g" =>  "Select a Group from List",
                    "c" =>  "Select a Course from List",
                    "e" =>  "Select a Course, then select an Exam",
                    _ => null
                    };
            Snackbar.Add($"{itemx}", Severity.Info); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    //excel import
    public async Task BtnAddNewStudent()
        {
        if(_cmd == "AddnewStudent")
            {
            _cmd = "";
            }
        else
            {
            _cmd = "AddnewStudent";
            }
        StateHasChanged ();
        }
    public void BtnImportStudentsFromExcelFile()
        {
        appState.SetCmd ("importstudentsfromexcelfile");
        }
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
        {
        _hasFetched = false;
        var file = e.File;
        using var memoryStream = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(memoryStream);
        memoryStream.Position = 0;
        await ParseStudentExcelAsync(memoryStream);
        }
    private async Task ParseStudentExcelAsync(Stream stream)
        {
        try
            {
            user.UserId = Convert.ToInt32 (appState.UserId);
            lstStudents.Clear ();
            using var workbook = new XLWorkbook(stream);
            var worksheet = workbook.Worksheet(1); //1:first sheet
            i = 0;
            // group.GroupId = Convert.ToInt32 (appState.GroupId);
            foreach (var row in worksheet.RowsUsed().Skip(1)) //skip header
                {
                i++;
                User student = new User () {
                    TeacherId = user.UserId,
                    UserName = row.Cell (1).GetString (),
                    UserPass = row.Cell (2).GetString (),
                    UserNickname = row.Cell (3).GetString (),
                    UserRole = "student",
                    UserTags = 1
                };
                int result = await feService.Create_Student (student);
                if(result > 0 )
                    {
                    lstStudents.Add (student);
                    }                
                }
            StateHasChanged ();            
            }
        catch (Exception ex)
            {
            Console.WriteLine($"Error in [ImportExcel]: {ex}");
            }
        _hasFetched = true;
        appState.SetCmd ("");
        }
    //cancel-back
    public void BtnGotoPageExamPoints(int examId)
        {
        appState.SetReturnPage ("T_Students");
        appState.SetCmd ("reportexampoints");
        appState.SetExamId (examId);
        Navman.NavigateTo ($"/T_ReportExamPoints");
        }
    public void BtnGotoPageCourses()
        {
        if (CourseId > 0)
            {
            Navman.NavigateTo ("/T_Courses");        
            }
        else
            {
            Snackbar.Add($"Select a course", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public void BtnGotoPageExams()
        {
        if ((CourseId) > 0 & (ExamId > 0))
            {
            appState.SetReturnPage ("T_Students");
            appState.SetCourseId (CourseId);
            appState.SetCourseName (course.CourseName);
            Navman.NavigateTo ("/T_Exams");            
            }
        else
            {
            Snackbar.Add($"Select an exam", Severity.Warning); //Severity.Warning .Error | .Info | .Success --needs: @inject ISnackbar Snackbar
            }
        }
    public void BtnCancel()
        {    
        _cmd = "";
        StateHasChanged ();
        }
    public void BtnBack()
        {
        Navman.NavigateTo ("/T_SwitchBoard");
        }
}
