@page "/T_Students"
@using ClosedXML.Excel
@using Microsoft.Extensions.Hosting
@using ClosedXML
@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@if (!_hasFetched)
    {
    <_Loading />
    }
else
    {
    <div style="text-align: center;">
        <h2 style="color:gray">e<span style="color:indianred">x</span>aminer<span style="font-style:italic;font-size:small;color:royalblue"> WebApp </span> <span style="font-style:italic;font-size:small;color:indianred"> - @appState.UserRole </span></h2>
            <hr style="color:red" />
            <h2 style="color:royalblue; font-style:italic">Students</h2>
        </div>
        <EditForm Model="lstGroups">
            <div class="accordion" id="accordionGroups">
                @foreach (Group grp in lstGroups)
                    {
                    var collapseId = $"collapse{grp.GroupId}";
                    string clps = "";
                    if ((appState.GroupId ?? 0) != grp.GroupId)
                        {
                        clps = "collapse";
                        }
                    else
                        {
                        clps = "collapse show";
                        }
                    <div class="accordion-item">
                        <h4 class="accordion-header">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#@collapseId"
                                    aria-expanded="true"
                                    aria-controls="@collapseId">
                                <h6>@grp.GroupName</h6>
                            </button>
                        </h4>
                        <div id="@collapseId" class="accordion-collapse @clps" data-bs-parent="#accordionGroups">
                            <div class="accordion-body" style="background-color:rgba(252,252,252)">
                                <div id="T1">
                                    @if ((appState.Cmd == "EditGroup") && (appState.GroupId == grp.GroupId))
                                        {
                                        string btnGroupId = "btnGroupName";
                                        <div class="mb-3">
                                            <input class="form-control" @ref="txtGroupName" @bind="grp.GroupName" placeholder="Enter Group Name...">
                                        </div>
                                        <div style="text-align:center">
                                            <button class="btn btn-link" name="@btnGroupId" @onclick="()=>BtnUpdateGroup(grp)" title="Save Changes ذخيره تغييرات" >
                                                <img src="/img/icoSave2.png" width="25" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnDeleteGroup(grp)" @key="grp.GroupId" title="Delete Group حذف گروه">
                                                <img src="/img/icoDelete1.png" width="25" />
                                            </button>
                                            <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel" title="Cancel انصراف">
                                                <img src="/img/icoCancel.png" width="24" />
                                            </button>
                                        </div>
                                        <br />
                                        }
                                    else
                                        {
                                        <div style="text-align: center;">
                                            <button class="btn btn-link" type="button" @onclick="()=>BtnEditGroup(grp.GroupId)" title="Edit Group Name ويرايش نام گروه">
                                                <img src="/img/icoRename.png" width="30" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnAddNewStudent(grp.GroupId)" title="Add New Student to Group افزودن دانشجوي جديد به گروه">
                                                <img src="/img/icoUserAddNew.png" width="30" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnEditStudentsTags(grp.GroupId)" title="Student Tags دسترسي هاي دانشجويان در اين گروه">
                                                <img src="/img/icoSelect.png" width="30" />
                                            </button>
                                            <br />
                                            <button class="btn btn-link" @onclick="()=>BtnAddCourse2Students(grp.GroupId)" title="Add Students to a Course افزودن دانشجويان به يک درس">
                                                <img src="/img/icoCourseAddNew.png" width="28" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnReportStudentsExamsAndCourses(grp.GroupId)" title="Report Courses and Exams of Students in this Group درس ها و آزمون هاي دانشجويان اين گروه">
                                                <img src="/img/icoFolderSearch.png" width="30" />
                                            </button>
                                            <button class="btn btn-link" @onclick="()=>BtnAddNewMessageToGroup(grp.GroupId)" title="send Message to Students of this Group ارسال پيام به دانشجويان اين گروه">
                                                <img src="/img/icoEnvelop1.png" width="28" />
                                            </button>
                                            <br />
                                            @if ((appState.Cmd == "AddCourse2Students") && (appState.GroupId == grp.GroupId))
                                                {
                                                <div style="background-color:white">
                                                    <div style="text-align: center;">
                                                        <hr style="color:red" />
                                                        <h6 style="color:darkgoldenrod;font-weight:bold;">Add this group to a course</h6>
                                                        <select class="form-select d-inline" id="cboCourses" name="cboCourses" style="width:55%" @bind="selectedCourseId">
                                                            <option value="0"> Select a Course... </option>
                                                            @foreach (var crs in lstCourses)
                                                                {
                                                                <option value="@crs.CourseId"> @crs.CourseName </option>
                                                                }
                                                        </select>
                                                        <button class="btn btn-link" @onclick="()=>BtnSaveAddCourse2Students(grp.GroupId)">
                                                            <img src="/img/icoSave2.png" width="25" />
                                                        </button>
                                                        <button class="btn btn-link" @onclick="()=>BtnDeleteStudentCourses(grp.GroupId)" >
                                                            <img src="/img/icoDelete1.png" width="25" />
                                                        </button>
                                                    </div>
                                                </div>
                                                }
                                            @if ((appState.Cmd == "AddNewMessageToGroup") && (appState.GroupId == grp.GroupId))
                                                {
                                                <div style="background-color:white">
                                                    <div style="text-align: center;">
                                                        <hr style="color:red" />
                                                        <h6 style="color:indianRed;">Send Message to group</h6>
                                                        <MudTextField @ref="txtMessageTitle" @bind-Value="message.MessageTitle" Label="Message Title" Variant="Variant.Outlined" Class="my-textfield" />
                                                        <MudTextField @ref="txtMessageBody" @bind-Value="message.MessageBody" Placeholder="Message Body..." Lines="4" Variant="Variant.Outlined" Class="my-textarea" TextFieldStyle="TextFieldStyle.TextArea" />
                                                        <input class="form-check-input" type="checkbox" @bind=_IsMessageTypeFeedback />
                                                        <label class="form-check-label" style="color:Black"> Feedback </label><br />
                                                        <button class="btn btn-link" @onclick="()=>BtnSendMessageToGroup(grp.GroupId)">
                                                            <img src="/img/gifSendMessage.gif" width="60" />
                                                        </button>
                                                    </div>
                                                </div>
                                                }
                                            @if ((appState.Cmd == "EditStudentsTags") && (appState.GroupId == grp.GroupId))
                                                {
                                                <hr style="color:red" />
                                                <div style="text-align:left">
                                                    <div style="text-align: center;">
                                                        <h5 style="color:darkgoldenrod;">Change group Tags</h5>
                                                        <input class="form-check-input" type="checkbox" @bind=_tag01 />
                                                        <label class="form-check-label" for="chkActive" style="color:Black"> Active </label>
                                                        <input class="form-check-input" type="checkbox" @bind=_tag02 />
                                                        <label class="form-check-label" for="chkAns" style="color:Black"> Pass </label>
                                                        <input class="form-check-input" type="checkbox" @bind=_tag04 />
                                                        <label class="form-check-label" for="chkAns" style="color:Black"> Rev.Exam </label>
                                                        <br />
                                                        <input class="form-check-input" type="checkbox" @bind=_tag08 />
                                                        <label class="form-check-label" for="chkAns" style="color:Black"> Course </label>
                                                        <input class="form-check-input" type="checkbox" @bind=_tag16 />
                                                        <label class="form-check-label" for="chkAns" style="color:Black"> Retry </label>
                                                        <input class="form-check-input" type="checkbox" @bind=_tag32 />
                                                        <label class="form-check-label" for="chkAns" style="color:Black"> Rev.Course </label>
                                                    </div>
                                                    <br />
                                                    <div style="text-align: center;">
                                                        <button class="btn btn-link" @onclick="()=>BtnUpdateStudentsTags(grp.GroupId)">
                                                            <img src="/img/icoSave2.png" width="25" />
                                                        </button>
                                                    </div>
                                                </div>
                                                }
                                            <hr style="color:red" />
                                        </div>
                                        @if ((appState.Cmd == "AddNewStudent") && (appState.GroupId == grp.GroupId))
                                            {
                                            <div>
                                                <div class="mb-3">
                                                    <img src="/img/icoUser.png" width="24" />
                                                    <input class="form-control d-inline" style="width:50%" @bind="txtNewStudentName" placeholder="New UserName...">
                                                    <button class="btn btn-link" @onclick="()=>BtnSaveNewStudent(grp.GroupId)">
                                                        <img src="/img/icoSave2.png" width="24" />
                                                    </button>
                                                </div>
                                                <div class="mb-3">
                                                    <img src="/img/icoDownload.png" width="24" />
                                                    <InputFile OnChange="HandleFileSelected" />
                                                </div>
                                            </div>
                                            }
                                        else
                                            {
                                            <div style="text-align: center;">
                                                <h4 style="color:gray">students:</h4> 
                                            </div>
                                            @foreach (User stdnt in grp.Students)
                                                {
                                                var collapseId2 = $"collapse{stdnt.UserId}";
                                                <div class="accordion" id="accordionStudents">
                                                    <div class="accordion-item mb-1">
                                                        <h4 class="accordion-header">
                                                            <button class="accordion-button collapsed"
                                                                    type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#@collapseId2"
                                                                    aria-expanded="true"
                                                                    aria-controls="@collapseId2">
                                                                <h6>@stdnt.UserNickname</h6>
                                                            </button>
                                                        </h4>
                                                        <div id="@collapseId2" class="accordion-collapse collapse" data-bs-parent="#accordionStudents">
                                                            <div class="accordion-body" style="background-color:whitesmoke">
                                                                <div class="mb-1">
                                                                    <img src="/img/icoUser.png" width="24" />
                                                                    <input class="form-control d-inline" @bind="stdnt.UserName" placeholder="Username" style="font-weight:normal;color:indianred; width:80%;">
                                                                </div>
                                                                <div class="mb-1">
                                                                    <img src="/img/icoUser.png" width="24" />
                                                                    <input class="form-control d-inline" @bind="stdnt.UserPass" placeholder="Password" style="font-weight:normal; width:80%;">
                                                                </div>
                                                                <div class="mb-1">
                                                                    <img src="/img/icoUser.png" width="24" />
                                                                    <input class="form-control d-inline" @bind="stdnt.UserNickname" placeholder="Nickname" style="font-weight:normal; width:80%;">
                                                                </div>
                                                                <p></p>
                                                                <span  style="margin-right: 15px;">
                                                                    <input class="form-check-input" type="checkbox" checked="@((stdnt.UserTags & 1) == 1)" @onchange="e=>BtnUpdateStudentTagsInPlace(stdnt, 1, (bool)e.Value)" />
                                                                    <label class="form-check-label" for="chkActive@stdnt.UserId" style="color:RoyalBlue"> Active </label>
                                                                </span>
                                                                <span  style="margin-right: 15px;">
                                                                    <input class="form-check-input" type="checkbox" checked="@((stdnt.UserTags & 2) == 2)" @onchange="e=>BtnUpdateStudentTagsInPlace(stdnt, 2, (bool)e.Value)"/>
                                                                    <label class="form-check-label" for="chkChangePassId@stdnt.UserId" style="color:RoyalBlue"> Pass </label>
                                                                </span>
                                                                <span  style="margin-right: 15px;">
                                                                    <input class="form-check-input" type="checkbox" checked="@((stdnt.UserTags & 4) == 4)" @onchange="e=>BtnUpdateStudentTagsInPlace(stdnt, 4, (bool)e.Value)"/>
                                                                    <label class="form-check-label" for="chkExamReviewId@stdnt.UserId" style="color:RoyalBlue"> Rev.Exam </label>
                                                                </span>
                                                                <br />
                                                                <span  style="margin-right: 15px;">
                                                                    <input class="form-check-input" type="checkbox" checked="@((stdnt.UserTags & 8) == 8)" @onchange="e=>BtnUpdateStudentTagsInPlace(stdnt, 8, (bool)e.Value)"/>
                                                                    <label class="form-check-label" for="chkAns" style="color:RoyalBlue"> Course </label>
                                                                </span>
                                                                <span  style="margin-right: 15px;">
                                                                    <input class="form-check-input" type="checkbox" checked="@((stdnt.UserTags & 16) == 16)" @onchange="e=>BtnUpdateStudentTagsInPlace(stdnt, 16, (bool)e.Value)"/>
                                                                    <label class="form-check-label" for="chkRunningExamCorrectionId@stdnt.UserId" style="color:RoyalBlue"> Retry </label>
                                                                </span>
                                                                <span  style="margin-right: 15px;">
                                                                    <input class="form-check-input" type="checkbox" checked="@((stdnt.UserTags & 32) == 32)" @onchange="e=>BtnUpdateStudentTagsInPlace(stdnt, 32, (bool)e.Value)"/>
                                                                    <label class="form-check-label" for="chkRunningExamReviewId@stdnt.UserId" style="color:RoyalBlue"> Rev.Course</label>
                                                                </span>
                                                                <p></p>
                                                                @if ((appState.Cmd == "AddNewStudentCourse") && (appState.StudentId == stdnt.UserId))
                                                                    {
                                                                    <div style="background-color:white">
                                                                        <br />
                                                                        <div style="text-align: center;">
                                                                            <h6 style="color:darkgoldenrod;font-weight:bold;">Add/Remove Student to/from a course</h6>
                                                                                <select class="form-select d-inline" id="cboCourses" name="cboCourses" style="width:60%" @bind="selectedCourseId">
                                                                                    <option value="0"> Select a Course... </option>
                                                                                    @foreach (var crs in lstCourses)
                                                                                        {
                                                                                        <option value="@crs.CourseId"> @crs.CourseName </option>
                                                                                        }
                                                                                </select>
                                                                            <br />
                                                                            <button class="btn btn-link" @onclick="()=>BtnSaveStudentCourse(stdnt.UserId)" >
                                                                                <img src="/img/icoSave2.png" width="22" />
                                                                            </button>
                                                                            <button class="btn btn-link" @onclick="()=>BtnDeleteStudentCourse(stdnt.UserId)" >
                                                                                <img src="/img/icoDelete1.png" width="25" />
                                                                            </button>
                                                                            <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                                                                                <img src="/img/icoCancel.png" width="24" />
                                                                            </button>
                                                                        </div>
                                                                        <br />
                                                                    </div>
                                                                    }
                                                                else
                                                                    {
                                                                    <div style="text-align: center;">
                                                                        <button class="btn btn-link" @onclick="()=>BtnAddStudentCourse(stdnt.UserId)">
                                                                            <img src="/img/icoCourseAddNew.png" width="25" />
                                                                        </button>
                                                                        <button class="btn btn-link" @onclick="()=>BtnReportStudentExamsAndCourses(stdnt)">
                                                                            <img src="/img/icoFolderSearch.png" width="28" />
                                                                        </button>
                                                                        <button class="btn btn-link" @onclick="()=>BtnUpdateStudent(stdnt)">
                                                                            <img src="/img/icoSave2.png" width="22" />
                                                                        </button>
                                                                        <button class="btn btn-link" @onclick="()=>BtnDeleteStudent(stdnt.UserId)">
                                                                            <img src="/img/icoDelete1.png" width="22" />
                                                                        </button>
                                                                        <button class="btn btn-link" @onclick="()=>BtnReportStudentMessages(stdnt)">
                                                                            <img src="/img/icoEnvelop2.png" width="25" />
                                                                        </button>
                                                                    </div>
                                                                    }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                }
                                            }
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    }
            </div>
            @if (appState.Cmd == "AddNewGroup")
                {
                <hr style="color:red"/>
                <h4>Add New Group</h4>
                <div class="mb-3">
                    <input class="form-control" @ref="txtNewGroup" @bind="group.GroupName" placeholder="New Group Name...">
                </div>
                <button class="btn btn-link" name="btnNewCourse" @onclick="BtnSaveNewGroup">
                    <img src="/img/icoSave2.png" width="22" />
                </button>
                <button class="btn btn-link" name="btnNewCourse" @onclick="BtnCancel">
                    <img src="/img/icoCancel.png" width="24" />
                </button>
                }
            else
                {
                    <div style="background-color:rgba(252,252,252)">
                        <button class="btn btn-link" @onclick="BtnAddNewGroup" title="Create New Group ايجاد گروه جديد">
                            <img src="/img/gifUserAddNew.gif" width="110" />
                        </button>
                    </div>
                }
            <hr style="color:red" />
        </EditForm>
        <div style="text-align:center">
        <button class="btn btn-link" @onclick= "()=> BtnBack()" title="Back to SwitchBoard بازگشت به صفحه اول">
            <img src="/img/icoBack2.png" style="width:30px" />
        </button>
    </div>
    }
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    private ElementReference txtNewGroup;
    private ElementReference txtGroupName;
    private MudTextField<string> txtMessageTitle;
    private MudTextField<string> txtMessageBody;
    private readonly HttpClient _http;
    User user = new User ();
    List<Group> lstGroups = new ();
    List<Course> lstCourses = new ();
    Group group = new Group();
    Message message = new Message();
    public bool _hasFetched = false;
    private bool shouldFocusNewGroup = false;
    bool _IsMessageTypeFeedback = true;
    bool _tag01 = true;
    bool _tag02 = false;
    bool _tag04 = false;
    bool _tag08 = false;
    bool _tag16 = false;
    bool _tag32 = false;
    string txtNewStudentName = "";
    int selectedCourseId = 0; // Courses in combo box
    int i = 0;
    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {

            Navman.NavigateTo ("/Login");
            }
        var user = new User
            {
            UserId = Convert.ToInt32(appState.UserId),
            UserName = appState.UserName,
            UserPass = appState.UserPass,
            UserRole = appState.UserRole,
            TeacherId = Convert.ToInt32(appState.GroupId)
            };
        if (user.UserId > 0)
            {
            //on second rener, user.UserId will get its value
            lstGroups = await feService.Read_Groups (user, false, false); 
            lstCourses = await feService.Read_Courses (user.UserId); 
            _hasFetched = true;
            }
        } 
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        if (shouldFocusNewGroup)
            {
            shouldFocusNewGroup = false;
            await txtNewGroup.FocusAsync();
            }
        }    
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //groups
    public void BtnAddNewGroup()
        {
        if(appState.Cmd != "AddNewGroup")
            {
            appState.SetCmd ("AddNewGroup");
            shouldFocusNewGroup = true; //flag to tell OnAfterRenderAsync focus on 'txtNewGroup'
            }
        else
            {
            appState.SetCmd ("");
            shouldFocusNewGroup = false;
            }
        }
    public async Task BtnSaveNewGroup()
        {
        //group.GroupName is bind
        group.UserId = Convert.ToInt32(appState.UserId);
        bool result = await feService.Create_Group (group);
        if (result)
            {
            Console.WriteLine("Group added: " + group.GroupName);
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups (user, false, false);
            group.GroupName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    public async Task BtnEditGroup(int groupId)
        {
        appState.SetCmd ("EditGroup");
        appState.SetGroupId(groupId);
        StateHasChanged ();
        await Task.Delay (1);
        await txtGroupName.FocusAsync ();
        }
    public async Task BtnUpdateGroup(Group grp)
        {
        //GroupName is bind
        grp.UserId = Convert.ToInt32(appState.UserId);
        bool result = await feService.Update_Group (grp);
        if (result)
            {
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups(user, false, false);
            group.GroupName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    private async Task BtnDeleteGroup(Group group)
        {
        var message = new MarkupString($"<hr style=color:blue>Delete <strong>({group.GroupName})</strong>?<br>Sure?<hr style=color:blue>");
        bool? confirmResult = await DialogService.ShowMessageBox(
            title: "Confirm Delete Group",
            markupMessage: message,
            yesText: "Yes",
            cancelText: "No");

        if (confirmResult == true)
            {
            int result = await feService.Delete_Group (group.GroupId);
            if (result == 0)
                {
                //0: no students in the group and the group must be deleted! OK
                appState.SetCmd("");
                // Refresh the list
                var user = new User
                {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    TeacherId = Convert.ToInt32(appState.GroupId)
                };
                lstGroups = await feService.Read_Groups(user, false, false);
                //group.GroupName = ""; //reset input text
                StateHasChanged ();            
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\n\nThere are students in this group.\n\nThis group cannot be deleted.");
                }            
            }
        }
    public void BtnEditStudentsTags(int groupId)
        {
        if(appState.Cmd != "EditStudentsTags")
            {
            appState.SetCmd ("EditStudentsTags");
            appState.SetGroupId (groupId);
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public async Task BtnUpdateStudentsTags(int teacherId)
        {
        int tags = 0;
        if (_tag01) tags |= 1;
        if (_tag02) tags |= 2;
        if (_tag04) tags |= 4;
        if (_tag08) tags |= 8;
        if (_tag16) tags |= 16;
        if (_tag32) tags |= 32;
        User student = new User () { UserName= "-", UserPass= "-", UserRole="-", UserTags = tags, TeacherId=teacherId};
        bool result = await feService.Update_StudentsTags (student);
        if (result)
            {
            await JS.InvokeVoidAsync("alert", "\n\nStudent tags updated.");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups(user, false, false);
            group.GroupName = ""; //reset input text
            StateHasChanged ();
            }
        else
            {
            await JS.InvokeVoidAsync("alert", "\n\nFailed to update student tags.");
            }
        }
    public void BtnUpdateStudentTagsInPlace (User stdnt, int flag , bool isChecked)
        {
        if (isChecked)
            {
            stdnt.UserTags |= flag;
            }
        else
            {
            stdnt.UserTags &= ~flag;
            }
        }
    public void BtnAddCourse2Students(int groupId)
        {
        if(appState.Cmd != "AddCourse2Students")
            {
            appState.SetCmd ("AddCourse2Students");
            appState.SetGroupId (groupId);
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public async Task BtnSaveAddCourse2Students(int groupId)
        {
        if(selectedCourseId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Create_StudentCourses (groupId, selectedCourseId);
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nGroup successfully added to course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nGroup did not added to the course!");
                }
            }
        }
    public void BtnReportStudentsExamsAndCourses(int groupId)
        {      
        string mode = "groupStudents";
        Navman.NavigateTo ($"/T_ReportStudents/{mode}/{groupId}");
        }
    public async Task BtnAddNewMessageToGroup(int groupId)
        {
        if(appState.Cmd != "AddNewMessageToGroup")
            {
            appState.SetGroupId (groupId);
            appState.SetCmd ("AddNewMessageToGroup");
            await Task.Delay (1);
            await txtMessageTitle.FocusAsync ();
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public async Task BtnSendMessageToGroup(int groupId)
        {
        _hasFetched = false;
        //notice: message.MessageTitle, messageMessageBody are binded
        message.UserId = Convert.ToInt32(appState.UserId);
        message.DateTimeCreated = "0000-00-00 . 00:00"; //will be replaced with current date-time in the backend-service
        int result = await feService.Create_StudentMessage (message, "togroupmembers",groupId, _IsMessageTypeFeedback);
        appState.SetCmd ("");
        _hasFetched = true;
        }    
    //students
    public void BtnAddNewStudent(int groupId)
        {
        if(appState.Cmd != "AddNewStudent")
            {
            appState.SetCmd ("AddNewStudent");
            appState.SetGroupId (groupId);
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public async Task BtnSaveNewStudent(int groupId)
        {
        User student = new User () { UserName = txtNewStudentName, UserPass=txtNewStudentName, UserRole="student", UserTags= 1, UserNickname= "new student", TeacherId=groupId };
        int result = await feService.Create_Student (student);
        if (result > 0)
            {
            await JS.InvokeVoidAsync ("alert", $"New Student :\n\n user: {student.UserName} \n pass: {student.UserPass} \n created!");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups(user, false, false);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        else
            {
            await JS.InvokeVoidAsync ("alert", "Cannot create the new student -- operation Failed");            
            }
        }
    public async Task BtnUpdateStudent(User student)
        {
        appState.SetGroupId (student.TeacherId);
        bool result = await feService.Update_Student (student);
        if (result)
            {
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups(user, false, false);
            group.GroupName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    private async Task BtnDeleteStudent(int studentId)
        {
        if (await JS.InvokeAsync<bool>("confirm", "\n\nDelete Sudent?"))
            {
            bool result = await feService.Delete_Student (studentId);
            if (result)
                {
                //await JS.InvokeVoidAsync("alert", "\nStudent successfully removed from the group");
                appState.SetCmd("");
                // Refresh the list
                var user = new User
                    {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    TeacherId = Convert.ToInt32(appState.GroupId)
                    };
                lstGroups = await feService.Read_Groups(user, false, false);
                group.GroupName = ""; //reset input text
                StateHasChanged ();            
                }
            }
        else
            {
            await JS.InvokeVoidAsync("alert", "\nStudent did note removed ---- operation failed!");
            }
        }
    public void BtnReportStudentExamsAndCourses(User stdnt)
        {
        string mode = "oneStudent";
        Navman.NavigateTo ($"/T_ReportStudents/{mode}/{stdnt.UserId}");
        }
    public void BtnReportStudentMessages(User stdnt)
        {
        appState.SetStudentName (stdnt.UserName);
        appState.SetStudentNickname (stdnt.UserNickname);
        string mode = "StudentWithDels";
        Navman.NavigateTo ($"/T_ReportMessages/{mode}/{stdnt.UserId}");
        }
    //methods for excel import
    public void BtnImportStudentsFromExcelFile()
        {
        appState.SetCmd ("importstudentsfromexcelfile");
        }
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
        {
        _hasFetched = false;
        var file = e.File;
        using var memoryStream = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(memoryStream);
        memoryStream.Position = 0;
        await ParseStudentExcelAsync(memoryStream);
        }
    private async Task ParseStudentExcelAsync(Stream stream)
        {
        try
            {
            using var workbook = new XLWorkbook(stream);
            var worksheet = workbook.Worksheet(1); //1:first sheet
            i = 0;
            group.GroupId = Convert.ToInt32 (appState.GroupId);
            foreach (var row in worksheet.RowsUsed().Skip(1)) //skip header
                {
                i++;
                User student = new User () {
                    UserName = row.Cell (1).GetString (),
                    UserPass = row.Cell (2).GetString (),
                    UserRole = "student",
                    UserTags = 1,
                    UserNickname = row.Cell (3).GetString (),
                    TeacherId = group.GroupId
                };
                int result = await feService.Create_Student (student);
                }
                //Refresh the list
                var userx = new User
                {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    TeacherId = Convert.ToInt32(appState.GroupId)
                };
                lstGroups = await feService.Read_Groups (userx, false, false);
                group.GroupName = "";
                StateHasChanged ();            
            }
        catch (Exception ex)
            {
            Console.WriteLine($"Error in [ImportExcel]: {ex}");
            }
        _hasFetched = true;
        appState.SetCmd ("");
        }
    //student course
    public void BtnAddStudentCourse(int userId)
        {
        appState.SetCmd ("AddNewStudentCourse");
        appState.SetStudentId (userId);
        StateHasChanged ();
        }
    public async Task BtnSaveStudentCourse(int studentId)
        {      
        if(selectedCourseId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Create_StudentCourse (studentId, selectedCourseId);
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nStudent successfully added to course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudent did not added to the course!");
                }
            }
        }
    public async Task BtnDeleteStudentCourse(int studentId)
        {      
        if(selectedCourseId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Delete_StudentCourse (selectedCourseId);
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nStudent removed from the course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudent did not removed from the course!");
                }
            }
        }
    public async Task BtnDeleteStudentCourses(int groupId)
        {
        //delete all students of a group from a course
        if(selectedCourseId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Delete_StudentCourses (selectedCourseId, groupId);
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nAll students in this group are removed from the course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudents did not removed from the course --- operation failed");
                }
            }
        }
    //back
    public void BtnCancel()
        {    
        appState.SetCmd("");
        }
    public void BtnBack()
        {    
        Navman.NavigateTo ("/T_SwitchBoard");
        }

}
