@page "/T_Students"
@using ClosedXML.Excel
@using Microsoft.Extensions.Hosting
@using ClosedXML
@using ExaminerB.Service
@inject NavigationManager Navman
@inject AppState appState
@inject FeService feService
@inject IJSRuntime JS
@implements IDisposable
@inject ISnackbar Snackbar
@inject IDialogService DialogService

@if (!_hasFetched)
    {
    <_Loading />
    }
else
    {
    <div style="text-align: center;">
        <h2 style="color:royalblue; font-style:italic">Get Students from:</h2>
    </div>
    <EditForm Model="lstGroups">
        <div class="accordion" id="accordionTStudents" style="max-width:600px; margin: 0 auto;">
            @* Search & COMBOs GCEM *@
            <div class="accordion-item">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_GCEM"
                        aria-expanded="false"
                        aria-controls="Accordion_GCEM" style="background-color:whitesmoke">
                        <h6>sourse:</h6>
                    </button>
                </h4>
                <div id="Accordion_GCEM" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            @* NEW STUDENT *@
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-auto">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex" style="gap:10px;">
                                            <MudTextField  @ref="refNewUser"  @bind-Value="user.UserName"  Label="Username يوزر"   Variant="Variant.Outlined"  Autocomplete="off"  Dense="true"  Margin="Margin.Dense"  Class="my-textfield" />
                                            <MudTextField  @ref="refNewPass"  @bind-Value="user.UserPass"  Label="Password پسورد"  Variant="Variant.Outlined"  Autocomplete="off"  Dense="true"  Margin="Margin.Dense"  Class="my-textfield"  InputType="InputType.Password"/>
                                            <button class="btn btn-link" @onclick="BtnCancel">
                                                <img src="/img/icoSave2.png" width="24" />
                                            </button>
                                        </div>
                                        <InputFile OnChange="HandleFileSelected" />                                    
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                            @* Combos GCEM *@
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-auto">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refGroups" Label="Group گروه" Value="GroupId" ValueChanged="OnGroupChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Group</MudSelectItem>
                                                @foreach (var group in lstGroups) { <MudSelectItem Value="@group.GroupId">@group.GroupName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="BtnCancel">
                                                <img src="/img/icoListS.png" width="32" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refCourses" Label="Course درس" Value="CourseId" ValueChanged="OnCourseChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Course</MudSelectItem>
                                                @foreach (var course in lstCourses) { <MudSelectItem Value="@course.CourseId">@course.CourseName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="BtnCancel">
                                                <img src="/img/icoListS.png" width="32" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refExams" Label="Exam آزمون" Value="ExamId" ValueChanged="OnExamChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select an Exam</MudSelectItem>
                                                @foreach (var exam in lstExams) { <MudSelectItem Value="@exam.ExamId">@exam.ExamTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="BtnCancel">
                                                <img src="/img/icoListS.png" width="32" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refMessages" Label="Message پيام" Value="MessageId" ValueChanged="OnMessageChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Message</MudSelectItem>
                                                @foreach (var message in lstMessages) { <MudSelectItem Value="@message.MessageId">@message.MessageTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="BtnCancel">
                                                <img src="/img/icoListS.png" width="32" />
                                            </button>
                                        </div>
                                        @* SEARCH *@
                                        <div class="d-flex">
                                            <MudTextField @ref="reftxtSearch" @bind-Value="strSearch" Label="Search جستجو" Variant="Variant.Outlined" Autocomplete="off" Dense="true" Margin="Margin.Dense" Class="my-textfield" />
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoSearch.png" width="24" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* LIST STUDENTs *@
            @if(lstStudents.Count > 0)
                {
                <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                    <MudCard Class="mx-0">
                        <MudCardContent Style="background-color:rgba(249,249,249);">
                            @foreach(User student in lstStudents)
                                {
                                <div>
                                    <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                        <img src="/img/icoEditPen.png" width="25" />
                                    </button>
                                    @student.UserName
                                    <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                        <img src="/img/icoFolderS.png" width="25" />
                                    </button>
                                </div>
                                }
                        </MudCardContent>
                    </MudCard>
                </MudContainer>                
                }        
            <hr style="color:red" />
            <h2 style="text-align:center; color:royalblue; font-style:italic">Add students to ...</h2>
            @* SELECT A GROUP *@
            <div class="accordion-item mb-2" >
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Group"
                        aria-expanded="false"
                        aria-controls="Accordion_Group" style="background-color:whitesmoke">
                        <h6>Group</h6>
                    </button>
                </h4>
                <div id="Accordion_Group" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard>
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <button class="btn btn-link" @onclick="BtnReadStudentsByPage">
                                                <img src="/img/icoAddItem.png" width="22" />
                                            </button>
                                            <MudSelect T="int" @ref="refGroups" Label="Group گروه" Value="GroupId" ValueChanged="OnGroupChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Group</MudSelectItem>
                                                @foreach (var group in lstGroups) { <MudSelectItem Value="@group.GroupId">@group.GroupName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoListAddNew1.png" width="38" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* SELECT A COURSE *@
            <div class="accordion-item mb-2">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Course"
                        aria-expanded="false"
                        aria-controls="Accordion_Course" style="background-color:whitesmoke">
                        <h6>Course</h6>
                    </button>
                </h4>
                <div id="Accordion_Course" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <button class="btn btn-link" @onclick="BtnReadStudentsByPage">
                                                <img src="/img/icoAddItem.png" width="22" />
                                            </button>
                                            <MudSelect T="int" @ref="refCourses" Label="Course درس" Value="CourseId" ValueChanged="OnCourseChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Course</MudSelectItem>
                                                @foreach (var course in lstCourses) { <MudSelectItem Value="@course.CourseId">@course.CourseName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoListAddNew1.png" width="38" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* SELECT AN EXAM *@
            <div class="accordion-item mb-2">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Exam"
                        aria-expanded="false"
                        aria-controls="Accordion_Exam" style="background-color:whitesmoke">
                        <h6>Exam</h6>
                    </button>
                </h4>
                <div id="Accordion_Exam" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <MudSelect T="int" @ref="refCourses" Label="Course درس" Value="CourseId" ValueChanged="OnCourseChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Course</MudSelectItem>
                                                @foreach (var course in lstCourses) { <MudSelectItem Value="@course.CourseId">@course.CourseName</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoSearch.png" width="22" />
                                            </button>
                                        </div>
                                        <div class="d-flex">
                                            <button class="btn btn-link" @onclick="BtnReadStudentsByPage">
                                                <img src="/img/icoAddItem.png" width="22" />
                                            </button>
                                            <MudSelect T="int" @ref="refExams" Label="Exam آزمون" Value="ExamId" ValueChanged="OnExamChanged" Class="w-auto my-select" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select an Exam</MudSelectItem>
                                                @foreach (var exam in lstExams) { <MudSelectItem Value="@exam.ExamId">@exam.ExamTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoListAddNew1.png" width="38" />
                                            </button>
                                        </div>
                                </MudCardContent>
                            </MudCard>
                        </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            @* SELECT A MESSAGE *@
            <div class="accordion-item mb-2">
                <h4 class="accordion-header">
                    <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#Accordion_Message"
                        aria-expanded="false"
                        aria-controls="Accordion_Message" style="background-color:whitesmoke">
                        <h6>Message</h6>
                    </button>
                </h4>
                <div id="Accordion_Message" class="accordion-collapse collapse" data-bs-parent="#accordionTStudents">
                    <div class="accordion-body" style="background-color:white">
                        <div id="T1">
                            <MudContainer MaxWidth="MaxWidth.Small" Class="mt-2 px-0">
                                <MudCard Class="mx-0">
                                    <MudCardContent Style="background-color:rgba(249,249,249);">
                                        <div class="d-flex">
                                            <button class="btn btn-link" @onclick="BtnReadStudentsByPage">
                                                <img src="/img/icoAddItem.png" width="22" />
                                            </button>
                                            <MudSelect T="int" @ref="refMessages" Label="Message پيام" Value="MessageId" ValueChanged="OnMessageChanged" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Style="color:royalblue;width:140px;font-size:small;">
                                                <MudSelectItem Value="0">Select a Message</MudSelectItem>
                                                @foreach (var message in lstMessages) { <MudSelectItem Value="@message.MessageId">@message.MessageTitle</MudSelectItem> }
                                            </MudSelect>
                                            <button class="btn btn-link" @onclick="()=>BtnReadStudentsBySearch()">
                                                <img src="/img/icoListAddNew1.png" width="38" />
                                            </button>
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            </MudContainer>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="color:red" />
            @* Footer *@
            <br />
            <div style="text-align:center">
                <button class="btn btn-link" @onclick= "()=> BtnBack()" title="Back to SwitchBoard بازگشت به صفحه اول">
                    <img src="/img/icoBack2.png" style="width:30px" />
                </button>
            </div>        
        </div>
    </EditForm>
    }
<script>
    window.addEventListener('load', () => {window.scrollTo({ top: 0, behavior: 'smooth' });});
</script>

@code {
    User user = new User ();
    private MudTextField<string> refNewUser;
    private MudTextField<string> refNewPass;
    private MudTextField<string> reftxtSearch;
    private MudNumericField<int> txtPageNumber;
    string txtNewStudentName = "";
    string strSearch = "";
    int intPageNumber = 0;

    private MudSelect<int> refGroups;
    private MudSelect<int> refCourses;
    private MudSelect<int> refExams;
    private MudSelect<int> refMessages;
    int GroupId = 0;
    int CourseId = 0;
    int ExamId = 0;
    int MessageId = 0;

    List<Group> lstGroups = new ();
    List<Course> lstCourses = new ();
    List<StudentExam> lstExams = new ();
    List<Message> lstMessages = new ();
    List<User> lstStudents = new ();

    Group group = new Group();
    Course course = new Course();
    Exam exam = new Exam();
    Message message = new Message();
    User student = new User ();

    int i = 0;
    private bool shouldFocusNewGroup = false;
    int selectedCourseId = 0; // Courses in combo box
    public bool _hasFetched = false;

    //LifeCycleEvents
    protected override async Task OnInitializedAsync()
        {
        appState.OnChange += TriggerRender;
        if(Convert.ToInt32(appState.UserLoginStatus) != 1)
            {
            Navman.NavigateTo ("/Login");
            }
        var user = new User
            {
            UserId = Convert.ToInt32(appState.UserId),
            UserName = appState.UserName,
            UserPass = appState.UserPass,
            UserRole = appState.UserRole,
            TeacherId = Convert.ToInt32(appState.GroupId)
            };
        if (user.UserId > 0)
            {
            //on second rener, user.UserId will get its value
            lstGroups = await feService.Read_Groups (user, false);
            lstCourses = await feService.Read_Courses (user.UserId);
            lstMessages = await feService.Read_Messages (user.UserId, false);
            //lstExams = await FeService.Read_Exams...
            //lstStudents = await feService.Read_StudentsByGCEMId (user.UserId, "S", 1);            
            _hasFetched = true;
            }
        } 
    protected override async Task OnAfterRenderAsync(bool firstRender)
        {
        
        }    
    private void TriggerRender()
        {
        InvokeAsync(StateHasChanged);
        }
    public void Dispose()
        {
        appState.OnChange -= TriggerRender;
        }
    //groups
    public void BtnAddNewGroup()
        {
        if(appState.Cmd != "AddNewGroup")
            {
            appState.SetCmd ("AddNewGroup");
            shouldFocusNewGroup = true; //flag to tell OnAfterRenderAsync focus on 'txtNewGroup'
            }
        else
            {
            appState.SetCmd ("");
            shouldFocusNewGroup = false;
            }
        }
    public async Task BtnSaveNewGroup()
        {
        //group.GroupName is bind
        group.UserId = Convert.ToInt32(appState.UserId);
        bool result = await feService.Create_Group (group);
        if (result)
            {
            Console.WriteLine("Group added: " + group.GroupName);
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups (user, false);
            group.GroupName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    public async Task BtnUpdateGroup(Group grp)
        {
        //GroupName is bind
        grp.UserId = Convert.ToInt32(appState.UserId);
        bool result = await feService.Update_Group (grp);
        if (result)
            {
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups(user, false);
            group.GroupName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    private async Task BtnDeleteGroup(Group group)
        {
        var message = new MarkupString($"<hr style=color:blue>Delete <strong>({group.GroupName})</strong>?<br>Sure?<hr style=color:blue>");
        bool? confirmResult = await DialogService.ShowMessageBox(
            title: "Confirm Delete Group",
            markupMessage: message,
            yesText: "Yes",
            cancelText: "No");

        if (confirmResult == true)
            {
            int result = await feService.Delete_Group (group.GroupId);
            if (result == 0)
                {
                //0: no students in the group and the group must be deleted! OK
                appState.SetCmd("");
                // Refresh the list
                var user = new User
                {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    TeacherId = Convert.ToInt32(appState.GroupId)
                };
                lstGroups = await feService.Read_Groups(user, false);
                //group.GroupName = ""; //reset input text
                StateHasChanged ();            
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\n\nThere are students in this group.\n\nThis group cannot be deleted.");
                }            
            }
        }
    public void BtnEditStudentsTags(int groupId)
        {
        if(appState.Cmd != "EditStudentsTags")
            {
            appState.SetCmd ("EditStudentsTags");
            appState.SetGroupId (groupId);
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public void BtnUpdateStudentTagsInPlace (User stdnt, int flag , bool isChecked)
        {
        if (isChecked)
            {
            stdnt.UserTags |= flag;
            }
        else
            {
            stdnt.UserTags &= ~flag;
            }
        }
    public void BtnAddCourse2Students(int groupId)
        {
        if(appState.Cmd != "AddCourse2Students")
            {
            appState.SetCmd ("AddCourse2Students");
            appState.SetGroupId (groupId);
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public async Task BtnSaveAddCourse2Students(int groupId)
        {
        if(selectedCourseId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Create_StudentCourses (groupId, selectedCourseId);
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nGroup successfully added to course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nGroup did not added to the course!");
                }
            }
        }
    public void BtnReportStudentsExamsAndCourses(int groupId)
        {      
        string mode = "groupStudents";
        Navman.NavigateTo ($"/T_ReportStudents/{mode}/{groupId}");
        }
    //students
    public void BtnAddNewStudent(int groupId)
        {
        if(appState.Cmd != "AddNewStudent")
            {
            appState.SetCmd ("AddNewStudent");
            appState.SetGroupId (groupId);
            }
        else
            {
            appState.SetCmd ("");
            }
        StateHasChanged ();
        }
    public async Task BtnSaveNewStudent(int groupId)
        {
        User student = new User () { UserName = txtNewStudentName, UserPass=txtNewStudentName, UserRole="student", UserTags= 1, UserNickname= "new student", TeacherId=groupId };
        int result = await feService.Create_Student (student);
        if (result > 0)
            {
            await JS.InvokeVoidAsync ("alert", $"New Student :\n\n user: {student.UserName} \n pass: {student.UserPass} \n created!");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups(user, false);
            appState.SetCmd ("");
            StateHasChanged ();
            }
        else
            {
            await JS.InvokeVoidAsync ("alert", "Cannot create the new student -- operation Failed");            
            }
        }
    public async Task BtnUpdateStudent(User student)
        {
        appState.SetGroupId (student.TeacherId);
        bool result = await feService.Update_Student (student);
        if (result)
            {
            appState.SetCmd("");
            // Refresh the list
            var user = new User
            {
                UserId = Convert.ToInt32(appState.UserId),
                UserName = appState.UserName,
                UserPass = appState.UserPass,
                UserRole = appState.UserRole,
                TeacherId = Convert.ToInt32(appState.GroupId)
            };
            lstGroups = await feService.Read_Groups(user, false);
            group.GroupName = ""; //reset input text
            StateHasChanged ();            
            }
        }
    private async Task BtnDeleteStudent(int studentId)
        {
        if (await JS.InvokeAsync<bool>("confirm", "\n\nDelete Sudent?"))
            {
            bool result = await feService.Delete_Student (studentId);
            if (result)
                {
                //await JS.InvokeVoidAsync("alert", "\nStudent successfully removed from the group");
                appState.SetCmd("");
                // Refresh the list
                var user = new User
                    {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    TeacherId = Convert.ToInt32(appState.GroupId)
                    };
                lstGroups = await feService.Read_Groups(user, false);
                group.GroupName = ""; //reset input text
                StateHasChanged ();            
                }
            }
        else
            {
            await JS.InvokeVoidAsync("alert", "\nStudent did note removed ---- operation failed!");
            }
        }
    public void BtnReportStudentExamsAndCourses(User stdnt)
        {
        string mode = "oneStudent";
        Navman.NavigateTo ($"/T_ReportStudents/{mode}/{stdnt.UserId}");
        }
    public void BtnReportStudentMessages(User stdnt)
        {
        appState.SetStudentName (stdnt.UserName);
        appState.SetStudentNickname (stdnt.UserNickname);
        string mode = "StudentWithDels";
        Navman.NavigateTo ($"/T_ReportMessages/{mode}/{stdnt.UserId}");
        }
    //student course
    public void BtnAddStudentCourse(int userId)
        {
        appState.SetCmd ("AddNewStudentCourse");
        appState.SetStudentId (userId);
        StateHasChanged ();
        }
    public async Task BtnSaveStudentCourse(int studentId)
        {      
        if(selectedCourseId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Create_StudentCourse (studentId, selectedCourseId);
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nStudent successfully added to course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudent did not added to the course!");
                }
            }
        }
    public async Task BtnDeleteStudentCourse(int studentId)
        {      
        if(selectedCourseId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Delete_StudentCourse (selectedCourseId);
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nStudent removed from the course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudent did not removed from the course!");
                }
            }
        }
    public async Task BtnDeleteStudentCourses(int groupId)
        {
        //delete all students of a group from a course
        if(selectedCourseId == 0)
            {
            await JS.InvokeVoidAsync ("alert", "Select a Course from List");
            return;
            }
        else
            {
            bool result = await feService.Delete_StudentCourses (selectedCourseId, "ByCourseId");
            if(result)
                {
                await JS.InvokeVoidAsync("alert", "\nAll students in this group are removed from the course.");
                appState.SetCmd("");
                StateHasChanged();
                }
            else
                {
                await JS.InvokeVoidAsync("alert", "\nStudents did not removed from the course --- operation failed");
                }
            }
        }           
    //back
    public void BtnCancel()
        {    
        appState.SetCmd("");
        }
    public void BtnBack()
        {    
        Navman.NavigateTo ("/T_SwitchBoard");
        }
    //new methods
    public async Task BtnReadStudentsBySearch()
        {
        
        }
    public async Task BtnReadStudentsByPage()
        {
        
        }

    private async Task OnGroupChanged(int newValue) 
        {
        //update GroupId from the event
        GroupId = newValue;
        group.GroupId = GroupId;
        group.GroupName = "-"; //just because this field is required 
        group.UserId = 0;
        StateHasChanged();
        } 
    private async Task OnCourseChanged(int newValue) 
        {
        //update CourseId from the event
        CourseId = newValue;
        StateHasChanged();
        } 
    private async Task OnExamChanged(int newValue) 
        {
        //update ExamId from the event
        ExamId = newValue;
        StateHasChanged();
        } 
    private async Task OnMessageChanged(int newValue) 
        {
        //update MessageId from the event
        MessageId = newValue;
        StateHasChanged();
        } 
    //methods for excel import
    public void BtnImportStudentsFromExcelFile()
        {
        appState.SetCmd ("importstudentsfromexcelfile");
        }
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
        {
        _hasFetched = false;
        var file = e.File;
        using var memoryStream = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(memoryStream);
        memoryStream.Position = 0;
        await ParseStudentExcelAsync(memoryStream);
        }
    private async Task ParseStudentExcelAsync(Stream stream)
        {
        try
            {
            using var workbook = new XLWorkbook(stream);
            var worksheet = workbook.Worksheet(1); //1:first sheet
            i = 0;
            group.GroupId = Convert.ToInt32 (appState.GroupId);
            foreach (var row in worksheet.RowsUsed().Skip(1)) //skip header
                {
                i++;
                User student = new User () {
                    UserName = row.Cell (1).GetString (),
                    UserPass = row.Cell (2).GetString (),
                    UserRole = "student",
                    UserTags = 1,
                    UserNickname = row.Cell (3).GetString (),
                    TeacherId = group.GroupId
                };
                int result = await feService.Create_Student (student);
                }
            //Refresh the list
            var userx = new User
                {
                    UserId = Convert.ToInt32(appState.UserId),
                    UserName = appState.UserName,
                    UserPass = appState.UserPass,
                    UserRole = appState.UserRole,
                    TeacherId = Convert.ToInt32(appState.GroupId)
                };
            lstGroups = await feService.Read_Groups (userx, false);
            group.GroupName = "";
            StateHasChanged ();            
            }
        catch (Exception ex)
            {
            Console.WriteLine($"Error in [ImportExcel]: {ex}");
            }
        _hasFetched = true;
        appState.SetCmd ("");
        }
}
